[2022-01-24 16:15] mikefactorial opened #1832 "[AA4PP] Update CoE Release Pipelines to include AA4PP assets"
**Is your feature request related to a problem? Please describe.**
Currently we have seperate releases for CoE Starter Kit and the ALM Accelerator for Power Platform.

**Describe the solution you'd like**
Need to update the CoE Starter Kit Release Pipelines to include AA4PP as part of the overall release process for CoE Starter Kit

**Additional context**
We will release the ALM Accelerator with t

[2022-01-24 16:20] mdpc-nnit commented on #1818
Hm, I think I found the error: I did not configure the deployment profile properly, and the urls where not present... it seems to work after I corrected that. Could that be the cause?

However, I still don't understand why the old app with old pipelines stopped working.

I will look a bit more into this.

[2022-01-24 16:30] mikefactorial commented on #1794
@camurao have you looked at issue #1827 for the resolution? This is a permissions issue.

[2022-01-24 17:11] medicineshow commented on #1809
OK, so we seem to have resolved it and the issue appears to be that the CustomAzureDevOps connector that is installed with the solution, does not get configured when using the CLI to install and in fact you need to use the steps shown in the manual setup document in order for it to work. Although the connection is there, it was not actually connected.
https://docs.microsoft.com/en-us/power-platfor

[2022-01-24 17:16] mikefactorial commented on #1809
@medicineshow strange...I was going to mention checking the custom connector but assumed that it was working since you were able to setup the profile, but maybe the connector issue happened after the second time it was installed. Did you setup the profile in the backend admin app or in the AA4PP app itself? Also, the CLI should wire up the connector with the correct security so, also strange that

[2022-01-24 17:18] mikefactorial commented on #1809
Glad it's working and thanks for sticking with us on the issue and for reporting all the details. Let us know if you run into anything else or if you have any recommendations to make setup easier going forward.

[2022-01-24 17:22] #1809 closed

[2022-01-24 17:46] manuelap-msft commented on #1824
docs have been merged to main, should be live soon

[2022-01-24 17:46] #1824 closed

[2022-01-24 17:51] Grant-Archibald-MS commented on #1809
@medicineshow @mikefactorial reviewing this issue I can see this couple fit into possible coe alm doctor command to diagnose and fix issues for install [https://github.com/microsoft/coe-starter-kit/discussions/1834](https://github.com/microsoft/coe-starter-kit/discussions/1834)

Thoughts or improvements?

[2022-01-24 18:16] Ballzer0 commented on #1827
Considering this is a permission issue, it could be worth implementing a check, so that it doesn't keep crashed with no error message.

This could generate a lot of headache. Especially for people that are upgrading from the preview

[2022-01-24 18:16] mdpc-nnit commented on #1818
So I am doing some digging now, and I found an export from November, where the EnvironmentName was still undefined, but the JSON warning didn't occur. Back then, the try-catch looked like this:
[code]
I don't think we ever had an issue with them not exporting before recently, even though it seems that EnvironmentName was undefined... Does this give you any clue on what is going on?

[2022-01-24 19:17] mdpc-nnit commented on #1818
We have 3 scenarios:

- New pipelines, new app: seems to work after I corrected the URLs
- Old pipelines, old app: suddenly stopped working in December
- New pipelines, old app: also doesn't seem to work anymore

Maybe this can help narrow it down?

[2022-01-24 20:15] mikefactorial commented on #1818
@mdpc-nnit the EnvironmentName wasn't being used in the previous releases for the export pipeline we decided to repurpose this variable for passing in the profile id on the export pipeline. May be a little confusing but was done for expedience and will likely be moved to its own variable in a future release. So, it's expected that in the previous versions that EnvironmentName was undefined.

For t

[2022-01-24 20:48] mikefactorial opened #1835 "[coe-cli] Update CoE CLI to pull latest AA4PP Solution from CoE Starter Kit Release"
**Is your feature request related to a problem? Please describe.**
The ALM Accelerator will be shipped as part of the CoE Starter Kit release in February. Need to update the CoE CLI to pull from the CoE release going forward.

**Describe the solution you'd like**
Update the CoE CLI to pull the latest solution from the latest CoE CLI release.

[2022-01-24 20:48] plattasia opened #1836 "[CoE Starter Kit - BUG] COE Core Teams missing 5 compliance flows"
### Describe the issue

In new install of Core 3.11.1 there should be 5 Admin | Compliance flows (as per instructions https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-governance-components)
Those are not included in the core (or gov) components for Teams. Hence data doesn't actually gets collected.

![image](https://user-images.githubusercontent.com/39997638/150861700-8d9d22c7-51

[2022-01-24 22:53] camurao commented on #1794
@mikefactorial Thanks Mike. After setting up the rest of the security components, it finally worked for me!

[2022-01-24 23:34] alzia-msft opened #1837 "[ALM Accelerator - BUG]: Install Documentation?"
Do we not have a documentation guide for the installation steps? We have some videos that walk you through the UI but there is no "official documentation". Whatever we have is insufficient, we have to make things on our due to which the overall process has become very painful. Would be nice to have a detailed guide, BTW - the scripted installation also has some issues, at one point I am not sure i

[2022-01-24 23:38] mikefactorial commented on #1837
Hi @alzia-msft the setup documentation can be found here https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-almacceleratorpowerplatform-cli. That will guide you through the process of setting up the ALM Accelelerator using the Center of Excellence Command Line interface. If you run into problems using the CoE CLI the documentation for the CoE CLI can be found here https://docs.micr

[2022-01-24 23:53] alzia-msft commented on #1837
Thanks! What are the chronological steps I need to take after I do a local install? I did some PoC in December that generated a test.json file that captures all details of your environment, I don't see that in the links you sent?

[2022-01-24 23:55] alzia-msft commented on #1837
Also, per the documentation, recommendation was to get a demo tenant for D365,I got that but I can't seem to enable Azure DevOps subscription for that, not sure if a free DevOps subscription can be started for aD365 demo tenant? Other demo tenants besides the D365 have limitations of environment creation but Azure DevOps tends to be available....

[2022-01-25 00:09] mikefactorial commented on #1837
@alzia-msft this is the doc you're referring to https://docs.microsoft.com/en-us/power-platform/guidance/coe/cli/alm/overview

[2022-01-25 00:11] mikefactorial commented on #1837
You should be able to setup a free AzDO org with a demo tenant user. What's the specific issue you are running into?

[2022-01-25 00:13] mikefactorial commented on #1837
You will have to make a request to get pipelines turned on in your demo AzDO instance however. Unfortunately, this takes a couple of days to get approved and running. This isn't something we can work around currently.

[2022-01-25 00:17] mikefactorial commented on #1837
@alzia-msft seems like the docs may not be as discoverable as they could be based on your feedback. If there's anything we can do to make that experience better definitely let us know. We need feedback to help us improve. Thanks again!

[2022-01-25 00:20] denise-msft opened #1838 "[CoE Starter Kit- Feature - Env Request] DLP Policy Connector Validation Request"
A process for admins to review and approve or block certain connectors in the tenant from the marketplace.

It is common in large enterprise companies for each service to be owned and evaluated by dedicated teams or at least a security team to ensure the service is supported by the company.

This approval process on each connector would provide structure around reviewing and finalizing the state o

[2022-01-25 03:12] denisem-msft opened #1839 "[CoE Starter Kit/Env Request] Cost center tracking"
Ability to track the cost center of a request for a new environment. This would be a form field that allows users to select or enter a cost center, and is referenced to charge back a certain part of the company for their usage of the environment and associated Dataverse consumption.

Changes needed
Maker - Environment Request: New Form field (maker submission)
Admin - Environment Request: New Form

[2022-01-25 03:37] Jenefer-Monroe commented on #1836
Hello. Business Process Flows are not supported in D4T and so these flows cannot be imported into D4T.
This does not prevent the solution from working, you just cannot use the BPF's that are normally hosted in Model Driven Apps (also not supported in D4T)

For a detailed discussion you can see #1735

Thanks for using CoE

[2022-01-25 09:09] manuelap-msft opened #1840 "[CoE Starter Kit] Update DLP Evaluation Status with every sync"
Currently, the DLP Evaluation Status field is not being updated unless the app itself has been modified. This means an app that has not been modified after a DLP change may be incorrectly marked as Compliant.
We need to ensure that the DLP Evaluation details are kept up to date for reporting purposes.

I sugest making the following changes to the Sync Template v3 (Apps) Flow:

- Add condition to "

[2022-01-25 09:09] manuelap-msft opened #1841 "[CoE Starter Kit] Record DLP Violation Details that are available from the Get Apps as Admin output"
Record DLP Violation Details that are available from the Get Apps as Admin output
Action: Insert App record New
Field: DLP Violation Details
Value: items('Apply_to_each_new')?['properties/executionRestrictions/dataLossPreventionEvaluationResult/violations']
Action: Update App record Editted
Field: DLP Violation Details
Value: items('Apply_to_each_editted')?['properties/executionRestrictions/dataLo

[2022-01-25 09:11] manuelap-msft opened #1842 "[CoE Starter Kit] Edit Power Platform Admin View Model Driven app forms to include a DLP/Security tab"
Edit Power Platform Admin View Model Driven app forms to include a DLP/Security tab which shows the following fields:
DLP Evaluation Status
DLP Last Evaluation Date
DLP Violation Details
Number of flow runs
Last flow run date
App usage
App shares
Any other columns that can indicate whether an app/flow is important

[2022-01-25 09:12] manuelap-msft opened #1843 "[CoE Starter Kit] Created new views in the Power Platform Admin View Model app that show DLP Evaluation Status"
Created new views in the Power Platform Admin View Model app:

**NonCompliant Apps**

Filter where DLP Evaluation Status eq NonCompliant And App Deleted Eq No

Columns:

-App Display Name

-App Environment

-App Owner

-App Last Launched On

-DLP Last Evaluation Date

-DLP Violation Details

-App Shared Users

-App Shared Groups

-App Connections

-App Description

-App Type

**NonCompliant Flows*

[2022-01-25 09:40] larhem commented on #1744
Any idea on when we can expect feedback on this issue?

[2022-01-25 09:58] manuelap-msft opened #1844 "[CoE Starter Kit] DLP Impact Analysis for Custom Connector"
explore how custom connectors (esp tenant wide ones classified via endpoint filtering) can be included in the DLP editor for impact analysis

[2022-01-25 10:07] manuelap-msft commented on #1839
@denisem-msft Could we add this field to the Environment record itself as well as the Request? If the environment is long-term this may help with additional cross charging and reporting - e.g. if capacity based licenses (per app, AI Builder,...) get added to the environment.

[2022-01-25 14:14] robertcaretta commented on #1820
I'm also having an issue with this version of the Production PBI dashboard and the latest version of PBI desktop application.  Never seen this kind of error before. In my case I am getting an ADFS error when attempting to sign into the CoE environment.

![2022-01-24_14-26-47](https://user-images.githubusercontent.com/1613085/150992918-38a7c4ea-1f6d-4f60-866c-a2e7d95828ab.png)

[2022-01-25 14:19] manuelap-msft commented on #1820
@robertcaretta Your error occurs before even loading the dashboard (returning you an Unauthorized error) so I would recommend raising a support ticket with Power BI here as this is outside of the scope of what we can support you with here but looks more like a network configuration error or similar

[2022-01-25 14:43] Jenefer-Monroe commented on #1690
closing out as no further action for starter kit team

[2022-01-25 14:43] #1690 closed

[2022-01-25 14:43] Jenefer-Monroe commented on #1733
closing out as no further action for starter kit team

[2022-01-25 14:43] #1733 closed

[2022-01-25 14:46] Jenefer-Monroe commented on #1744
Sorry we dont have a timeline. This is a product limitation, you should post it here to get visibility.
[MPA Community](https://powerusers.microsoft.com/t5/Microsoft-Power-Automate/ct-p/MPACommunity)

The only update for us will be on the documentation once we find out the new recommendations.

[2022-01-25 14:47] Jenefer-Monroe commented on #1745
closing out as no further action for starter kit team

[2022-01-25 14:47] #1745 closed

[2022-01-25 14:47] Jenefer-Monroe commented on #1754
closing out as no further action for starter kit team

[2022-01-25 14:47] #1754 closed

[2022-01-25 14:48] Jenefer-Monroe commented on #1767
closing out as no further action for starter kit team

[2022-01-25 14:52] Jenefer-Monroe commented on #1772
closing out as no further action for starter kit team

[2022-01-25 14:52] #1772 closed

[2022-01-25 14:53] Jenefer-Monroe commented on #1787
closing out as no further action for starter kit team

[2022-01-25 14:53] #1787 closed

[2022-01-25 14:54] Jenefer-Monroe commented on #1788
closing out as no further action for starter kit team

[2022-01-25 14:54] #1788 closed

[2022-01-25 14:54] Jenefer-Monroe commented on #1814
closing out as no further action for starter kit team

[2022-01-25 14:54] #1814 closed

[2022-01-25 14:55] JonTaylor5 commented on #1788
Hi Jenefer,

Thank you for your assistance. It is very much appreciated.

Kind regards,

Jon

From: Jenefer Monroe ***@***.***>
Sent: 25 January 2022 14:54
To: microsoft/coe-starter-kit ***@***.***>
Cc: Jon Taylor ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/coe-starter-kit] [CoE Starter Kit - BUG] D4T message - This app uses features that come with a Power Apps premium plan. Start a

[2022-01-25 15:49] amondelloSP commented on #1837
I was able to get the pipeline concurrency turned on by MSFT within 12 hours for a demo tenant

[2022-01-25 19:45] mikefactorial commented on #1837
@amondelloSP closing this out for now as there's nothing more to do with this issue, but feel free to open another if you run into anything.

[2022-01-25 19:56] mikefactorial commented on #1823
@amondelloSP good to hear the install progressed past the install components step. Any update on the most recent error?

[2022-01-25 19:58] mikefactorial commented on #1712
This should have been resolved with the January release. Closing for now. Feel free to open a new issue if this is still an issue

[2022-01-25 19:58] #1712 closed

[2022-01-25 20:01] mikefactorial commented on #1382
@last72 closing this out since there's been no activity for several months. Please open a new issue if you are in need of any assistance

[2022-01-25 20:01] #1382 closed

[2022-01-25 21:25] amondelloSP commented on #1823
@mikefactorial no i'm going to start over with a fresh demo tenant and new DevOps org. I don't know what else to do.

[2022-01-25 23:23] alzia-msft commented on #1837
How do I request Azure DevOps pipelines to be enabled in the demo tenant?

[2022-01-25 23:30] mikefactorial commented on #1837
@alzia-msft go to dev.azure.com and sign in with your demo credentials. Once you've setup a project run through the ALM Accelerator setup docs I sent you and then you'll need to request parallelism for your DevOps org using this form. https://aka.ms/azpipelines-parallelism-request

[2022-01-25 23:31] mikefactorial commented on #1837
I've reopened this issue. Originally closed based on @amondelloSP comment.

[2022-01-26 11:52] LanMorton opened #1849 "[CoE Starter Kit - BUG] Need help understanding if / how inventory collected"
### Describe the issue

We are unable to see the latest activities of PowerApps and Power Platform, Centre of Excellent (COE).
Issue description
We are unable to see the latest activities of PowerApps and Power Platform within Power Platform and Centre of Excellent (COE) just showed the latest dates in Dec 2021; no recent dates show up for apps, flows (created on, last modified date, etc)

### Exp

[2022-01-26 12:08] medicineshow opened #1850 "[ALM Accelerator - BUG]: Unable to see the dropdown to select maker experience"
### Describe the issue

The standard user appears to be only seeing the advanced maker experience and there is no dropdown in the top left corner as demoed in your video here:
https://www.youtube.com/watch?v=daK6LuR9Uuk

We question this because the advanced experience is more confusing for the standard maker.
![image](https://user-images.githubusercontent.com/17124284/151160075-1cb8fc3c-29a6-4092

[2022-01-26 12:31] Jenefer-Monroe commented on #1849
Hello, I'm afraid we will need more information in order to assist as the CoE is a very large offering and so its unclear what you mean.

Are you are saying that the reports (Power BI, Power Platform Admin View model driven app) are no longer showing new apps/flows that have been created?

All these things are collected by the sync flows, you will need to go make sure all the sync flows are still

[2022-01-26 12:44] LanMorton commented on #1849
Hi Jenefer,
Thank you very much for your message.

You wrote"... Are you are saying that the reports (Power BI, Power Platform Admin View model driven app) are no longer showing new apps/flows that have been created?..." that's right. It doesn't show the latest and recent activities of apps, flows, etc. since 12/2021.

I attach the screenshot here for you. The CoE just display most activities, mod

[2022-01-26 12:52] Jenefer-Monroe commented on #1849
Hello, screenshots do not work when you reply with them in email, you need to go to GitHub and share them there.

[2022-01-26 12:58] LanMorton commented on #1849
![POWER-PLATFORM-NOT-BEING-UPDATED-ALL DATES-STOPPED-ON-05 12 2021](https://user-images.githubusercontent.com/98461604/151166758-f075f104-14b6-47dc-8410-5a82015568d6.JPG)
Hi Jenefer, where &how I can send you the screenshot? or can I share my screen with you via Teams?
![POWER-PLATFORM-NOT-BEING-UPDATED-ALL DATES-STOPPED-ON-05 12 2021](https://user-images.githubusercontent.com/98461604/151166977-f

[2022-01-26 13:07] Jenefer-Monroe commented on #1849
ok yes it appears you are saying that the inventory is not being kept up to date. This picture doesn't help debug though, and we cannot have meetings with our GitHub customers.

Please note that the starter kit is not a supported product, we just do best effort to assist here.

You will need to go and see if the sync flows are still running, if its not clear how to do that, you will need to either

[2022-01-26 14:50] NPrice99 commented on #1820
Hi @manuelap-msft - have you managed to reproduce this issue ?  Thanks Nigel

[2022-01-26 14:54] dragunwing opened #1851 "[CoE Starter Kit - BUG] Audit Logs Were Collected but Some Missed Due to Truncated Results"
### Describe the issue

I receive the following email notification when trying to collect audit logs on my large tenant.

_Your audit logs were collected but some were missed do to truncated results in this run .
You will need to use a smaller interval to gather all logs.
Current chunking size: 1 Minute_

Most environments are being logged except for the large, default environment. I've set the Ti

[2022-01-26 14:58] Kaikapitaen opened #1852 "Installing Coe InvalidPaginationPolicy (CoE Core)"
current state:
Dataabse 9.2.21122.00151
Updates	2021 release wave 2
CoE/ Core: 3.20.6

Activate Admin | Sync v3 monitoring
"{"error":{"code":"InvalidOpenApiFlow","message":"
 Code: InvalidPaginationPolicy, Meldung: \" \"Get_Environments\"  Typ \"OpenApiConnection\" in 1 und 34474 . "minimumItemsCount\"

Thanks for help.

[2022-01-26 15:04] mikefactorial commented on #1850
@medicineshow I have it on my list to create a walkthrough for the administration model driven app which is where the gap may be here. To answer the question you can configure and modify the experiences based on your organization's needs using the ALM Accelerator for Power Platform Administration app that is installed with the solution.

The documentation on the Admin app is here https://docs.micr

[2022-01-26 15:12] manuelap-msft commented on #1852
Hello. All the flows have a pagination policy requiring a medium or high performance profile. The error indicates that you are using an insufficient or trial license.
Note that we do not support trial licenses for the toolkit due to them having this lower pagination support.

See here for the license types: [Performance profiles](https://docs.microsoft.com/power-automate/limits-and-config#performa

[2022-01-26 15:12] #1852 closed

[2022-01-26 16:01] Jenefer-Monroe commented on #1851
Hello, if you are receiving too many even at 1 minute chunks, then you might just be too big for what this interim solution can provide. The BYOD solution, with which we will integrate later this year, will surface this data natively without having to use the office logs.

Please see [Power Platform admin center telemetry data export to Microsoft Azure Data Lake](https://docs.microsoft.com/en-us/p

[2022-01-26 16:08] plattasia commented on #1836
Thank you for the explanation. Can we update the instruction than?

Current:
![image](https://user-images.githubusercontent.com/39997638/151200179-1b5a5595-2233-420d-9468-b4c02f70f748.png)

Suggested wording:

For Production environment turn on these flows which are installed as part of the Core components solution:
•	Admin | Compliance request complete apps v3
•	Admin | Compliance request complet

[2022-01-26 16:12] gillesmeyer commented on #1818
I got the same error as the one reported by @mdpc-nnit.

I noticed something strange when I look at queue time variables used by `export-solution-to-git` pipeline:

[code]

There seems to be a _comma missing_ between the two record fields in the JSON (EnvironmentUrl and UserSettingId).

That said, the corresponding request payload posted by the app is the following

[code]
and looks good to me.

[2022-01-26 16:42] medicineshow commented on #1850
Thanks Mike. Once we had that it all started to make sense. Perhaps it would be helpful to highlight that need to refer to the Admin App document in the App setup instructions?

[2022-01-26 18:05] mikefactorial commented on #1850
Glad it helped! Will add a reference to that doc in the setup and also the different scenario user docs for context. Thanks

[2022-01-26 18:27] mikefactorial commented on #1850
Closing this issue for now.

[2022-01-26 18:27] #1850 closed

[2022-01-26 19:13] mikefactorial commented on #1818
Thanks for the details @gillesmeyer. Let me see if I can replicate this on my end. I do think I've seen what you've pointed out previously.

[2022-01-26 20:19] mdpc-nnit commented on #1818
Hi mike,

1. Data and EnvironmentName are populated now.
2.  No error, simply the invalid json warning and no pipeline variables were updated. I think it was introduced in December and is probably caused by some breaking changes in preparation for the January release. We are addressing the issue by rolling forward to the January release.

[2022-01-26 20:44] TBag opened #1855 "[ALM Accelerator - QUESTION]: COE CLI - Generating Install JSON File"
### Describe the issue

Hi @mikefactorial,

Here are the environment related questions about the COE CLI install JSON file settings.  Please see the questions in the callouts in the attached image of the COE CLI and the related docs.

Thanks for your help!

Todd

### Expected Behavior

Would like to get answers to the questions.

### What component are you experiencing the issue with?

ALM Acceler

[2022-01-26 20:45] Kaikapitaen commented on #1852
Ahoi Manuela,
thx for writing me, thats mean a lot for me.
My view ist about 40times Environment and circa 10-200 Apps per Environment.
Will a need necessarily "Power Automate Pro Flow-Plan" License oder will a "Microsoft Power Apps for Developer”  License feed my need?
Best regards, Kai

[2022-01-26 21:01] mikefactorial commented on #1855
Todd, thanks for posting again and pardon all of the redirects 👍.

Regarding "The Power Platform environment to install Managed solution to" yes this is the -e argument if in the .crm. domain you can enter just the name of the environment otherwise fully qualified. In the screenshot, ALM Environment and the -e are the same environment.

The recommendation is to install the accelerator into an envi

[2022-01-26 21:05] Kaikapitaen commented on #1852
Let me add my question:
If i need "Power Automate Pro Flow-Plan" how much License i will for COE/Core-Components witch include 53 Cloud-Flows?

[2022-01-26 21:22] glemis commented on #1448
So is it to be understood that parallelism is required to make use of the COE ALM.
Usually, in pipelines I have developed pipelines would be queued if triggered while the free agent is in use.

Hoping there is some way to run without enabling paying for parallel jobs.
I see in regards to enabling many makers to author and maintain apps parallelism  is pretty important.

But I would really like to

[2022-01-26 21:27] TBag opened #1856 "[ALM Accelerator - COE CLI]: Nothing happens during installation."
### Describe the issue

@mikefactorial Have you seen this one before?

First, I created the following install file using the COE CLI.

{
  "log": [
    "debug"
  ],
  "components": [
    "all"
  ],
  "aad": "ALMAcceleratorServicePrincipal",
  "group": "ALMAcceleratorForMakers",
  "devOpsOrganization": "https://dev.azure.com/CRM034681",
  "project": "alm-sandbox",
  "repository": "alm-sandbox",
  "

[2022-01-26 21:28] mikefactorial commented on #1448
@glemis the issue here is that running pipelines, in general, aren't allowed for newly created free AzDO accounts. The history is that people were misusing the compute time in AzDO's free tier so it had to be locked down and enabled via a specific request to Microsoft. The error that is thrown talks about parallelism, but that's a bit of a red herring. Assuming you are able to run pipelines in you

[2022-01-26 21:28] #1448 closed

[2022-01-26 21:29] TBag commented on #1855
Awesome, thanks for the quick reply and the thorough answers!

[2022-01-26 21:29] #1855 closed

[2022-01-26 21:34] davidyack commented on #1856
I had issues with environment names (including dev,test and prod)  really wanting URLs - script and docs were not clear on that

[2022-01-26 21:37] TBag commented on #1856
Thanks @mikefactorial , the files are in the same directory.

@davidyack Thanks for chiming in.  OK, I will try the URL change.  Did you include https:// in the URLs?

[2022-01-26 21:39] mikefactorial commented on #1856
One of the first things the install does is tries to get a token for Azure using az login. It's possible that the interactive browser window for that popped up in the background or got suppressed.

[2022-01-26 21:42] mikefactorial commented on #1856
@Grant-Archibald-MS any thoughts?

[2022-01-26 21:45] Grant-Archibald-MS commented on #1856
@davidyack reedback make sense. Will update docs and help pages to make this clearer

[2022-01-26 21:45] davidyack commented on #1856
@TBag  yeah I used fully qualified e.g, https://dev-l17.crm.dynamics.com

but it does look like you are stuck before that as Mike said...perhaps try just running the az login and make sure that works

[2022-01-26 22:10] Grant-Archibald-MS commented on #1856
@mikefactorial looking at logs above I think it is getting the access tokens to the environments that is the problem

I will add a new branch with additional audit logs so we can verify
Another change would be to update the environment process to lookup name and convert to url. This would require a bit more refactoring to make this change

[2022-01-26 22:12] osbornecc commented on #1783
@Jenefer-Monroe, what are you seeing with the connection references?  Just yesterday ours started showing things like the same connector ID but with two different names.  For example:

admin_connector shows "SQL Server" as 5701b978-b34c-ec11-8c62-001dd802f382

admin_connectionreference has some Flows listed as having connector ID 5701b978-b34c-ec11-8c62-001dd802f382 but with the display name of "S

[2022-01-26 23:24] Grant-Archibald-MS commented on #1856
@TBag I have created a new branch with some additional logging that could help diagnose the issue.

Also looking at config file are you specifying a value url values for **validation**, **test** and **prod**?

[code]

to switch back to main branch

[code]

[2022-01-27 02:03] ashculmsee opened #1858 "[CoE Starter Kit - BUG] Sync Flow Errors Incorrect URL"
### Describe the issue

The URL sent in the email notification via the Sync Flow Errors flow for a specific failed flow run is incorrect.

The URL sent in the email is as follows:
https://australia.flow.microsoft.com/manage/**environmentsGUID**/flows/GUID/runs/GUID
Selecting this URL opens the general My Flows page
https://australia.flow.microsoft.com/manage/environments/GUID/flows

**It is missin

[2022-01-27 06:24] ragbn opened #1859 "Sync issue with Jan release."
### Describe the issue

Hi Team, We recently deployed Jan release and the sync is incomplete. However, inventory is updated when me launch the app or modify the flow.

### Expected Behavior

Sync flows should create full inventory.

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

CenterofExcellenceCoreComponents_3_20_6_managed.zip

### What a

[2022-01-27 08:42] manuelap-msft commented on #1859
Duplicate of #1810

We are already tracking this issue, have it fixed locally and it will be deployed with the February release next week.

[2022-01-27 08:43] manuelap-msft commented on #1858
Hello,

can you check your Power Automate environment variable. We ask for it to be entered with the trailing **/**
![image](https://user-images.githubusercontent.com/55705669/151323093-7b166e57-96ba-47c4-9b7f-22c30429d801.png)

Thank you
Manuela

[2022-01-27 09:44] manuelap-msft commented on #1852
Unforutnately we're not licensing experts and can't help with the detailed license setup required.

Any of these licenses will be sufficient
![image](https://user-images.githubusercontent.com/55705669/151333077-d3b98f72-b00e-4508-8ec2-3c0478b7e171.png)

We typically recommend a Power Automate Per User license that covers one user (the admin) running all the flows in the CoE kit, however some very

[2022-01-27 12:07] GarryPope opened #1860 "[CoE Starter Kit - BUG] Unable to turn on Flows after import of 3.20.6"
### Describe the issue

Hello COE Team,

I hope you're well.

I've installed the "Center of Excellence - Core Components" version "3.20.6" today, and a number of our Flows turned off, and won't turn on.

The error I receive when I try and turn on a Flow, example: "Admin | Sync Template v3 (Apps)" is that I child Flow is not turned on.

Error is:
Turn on failed. Flow client error returned with stat

[2022-01-27 12:49] manuelap-msft commented on #1860
Hello,

thanks for the super awesome detailed error description - so helpful!

Can you check if all the child flows listed here https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-core-components#turn-on-child-flows are turned on? We moved some of the work that the sync flows are doing to child flows and those need to be turned on first before the parent flow can be turned on. My gu

[2022-01-27 13:53] GarryPope commented on #1860
Hello Manuela,

Thanks for the quick response. You are correct those Flows were not turned on. All working perfect now, please close this ticket.

Thanks very much, and have a nice day,

Garry

[2022-01-27 13:56] manuelap-msft commented on #1860
Perfect! Thanks for letting me know.

We are working on making it easier to discover if new flows have been added to the solution that need turning on - our idea is to add a new screen in the Command Center that shows the flows in the CoE kit, flags once that are mandatory for the sync that are not turned on and allows you to turn them on from there. Had a bit of a setback implementing this so not

[2022-01-27 13:56] #1860 closed

[2022-01-27 14:43] AkashPatel136 opened #1861 "Orphaned Object to Clean email to manager"
### Describe the issue

The user has left the organization and it sent an email to the manager to reassign the flow to another user. The manager reached out to me and I used the set flow permission app to change the owner and it was successful. But yesterday manager received an email again for the same flow to reassign ownership. If ownership is already changed then why the manager is receiving th

[2022-01-27 14:55] mjohnston1986 opened #1862 "[CoE Starter Kit - BUG] Need help understanding if / how inventory collected"
### Describe the issue

Hi There,

We installed the CoE dashboard early last year. We've recently noticed that the report is only showing data for Power Apps until the end of June last year.

Around this time, we moved from Per User to Per App licensing. Would this have anything to do with the issue?

I noticed the dataset refresh had stopped working at the end of August, which I have now fixed.

[2022-01-27 15:02] Jenefer-Monroe commented on #1861
Can you please share a screenshot of the app now that you assigned the new owner?

[2022-01-27 15:05] Jenefer-Monroe commented on #1861
can you find that flow in the Set Flow Permissions app again? To see if the assignment is still in place?

[2022-01-27 15:07] Jenefer-Monroe commented on #1861
And then also find the flow in the Power Platform Admin View app, and see if its still marked oprhan
![image](https://user-images.githubusercontent.com/89584709/151385831-abae305e-9d98-451f-a431-cef1e7819784.png)

[2022-01-27 15:11] manuelap-msft commented on #1862
Hello,

the CoE Starter Kit uses cloud flows to collect inventory and telemetry information (so info about your apps, your flows, your enviornments) into Dataverse tables in the environment you have the CoE kit installed. Everything in the CoE kit is then based on the data in this table - including the Power BI dashboard.

There's a few reasons this data could be out of date:
1. The inventory sync

[2022-01-27 15:19] manuelap-msft commented on #1820
Hello Nigel,

I upgraded to the latest version of Power BI desktop just now and opened the production .pbit and am unfortunately not able to repo this - the data loaded without issues.

[2022-01-27 15:21] Jenefer-Monroe commented on #1836
Good idea. Thanks

[2022-01-27 15:30] mjohnston1986 commented on #1862
Thanks Manuela, how do I check if the flows have stopped working?

[2022-01-27 15:32] AkashPatel136 commented on #1861
I am assuming that the manager will not receive the email again?

[2022-01-27 15:41] manuelap-msft commented on #1862
1. Navigate to make.powerapps.com
2. Select the environment you have installed the CoE in
3. Select Solutions
4. Select Center of Excellence - Core components solution
5. Check the flows listed here https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-core-components#turn-on-inventory-flows - check they are on, and click on them to go to the Flow Details page and see if the runs are

[2022-01-27 16:03] mjohnston1986 commented on #1862
Thank You, I've checked and the flows all appear to be switched on.

We ran a manual refresh this morning, would you expect data to show up after that?

We are currently running on version 1.78 of the app.

[2022-01-27 16:07] manuelap-msft commented on #1862
Please also check if the flows are successfully running - do so by selecting a flow, e.g. Admin | Sync Template v3 (Apps) and navigating to the Details page. You will see the run history there. Check that the flow ran recently (in the past two days) and the status of the runs succeeded
![image](https://user-images.githubusercontent.com/55705669/151396959-b42f225d-9692-45d1-9a2e-266fb732610f.png)

[2022-01-27 16:53] gootym opened #1863 "[CoE Starter Kit - BUG] - Issue configuring Office 365 Management API connector"
### Describe the issue

Unable to configure Office 365 Management API connector while configuring CoE starter kit components

![image](https://user-images.githubusercontent.com/98544821/151404266-c01035f5-7cd5-4855-9d1b-268fd6b524b2.png)

### Expected Behavior

Successfully configure the Connector to complete CoE starter kit setup

### What solution are you experiencing the issue with?

Core

###

[2022-01-27 17:25] Jenefer-Monroe opened #1864 "[CoE Starter Kit - BUG] Add ability to excuse individuals objects from compliance flows"
### Describe the issue

Today you can excuse envts from compliance.
Whereas for the archival flows you can excuse envts and/or objects.
Would be nice to be able to excuse individual objects from compliance as well.

### Expected Behavior

add a field to apps / chatbots saying "excused from compliance"
then updte the flow to filter out excused objects before entering the list-records

### What solu

[2022-01-27 17:41] Jenefer-Monroe commented on #1849
Someone else asked a similar question today, see Manuela's notes as they might help #1862

[2022-01-27 18:56] gootym commented on #1863
Thank you, its resolved now

[2022-01-27 18:56] #1863 closed

[2022-01-27 20:21] NPrice99 commented on #1820
Hi Maneula

Sounds like a data issue then.  Do you know what tables that query uses ?

Thanks

Nigel

[2022-01-27 20:22] manuelap-msft commented on #1820
It should just query the Connection Reference and PowerApps Connector table.

[2022-01-28 04:28] andrewgaskins opened #1865 "[ALM Accelerator - BUG]: Update Deployment settings failing with GitRepositoryNotFoundException"
### Describe the issue

Update Deployment settings failing with GitRepositoryNotFoundException. This is a new repo and new branches. I have used the CLI to set them up as stated in the documentation and checked all permissions. This step works in older repos that were in place before I upgraded. In the past I have followed these steps without issue so not sure if I am just completely overlooking s

[2022-01-28 12:42] jagibe opened #1867 "[CoE Starter Kit - BUG] Sync Template v3 - Flow Action Details - legacy environments"
### Describe the issue

Hi,

I have errors on some CoE Flows (for example, in Sync Template v3 (Flow Actions Details), when inserting a row that is related with with a Legacy environment. If the unique name of the environment is "Legacy-{guidA}", it tries to create a relationship with the environment with id {guidA}, but the row doesnt exists.

This is caused because, in "Admin - Sync Template v3"

[2022-01-28 13:02] kabutows opened #1868 "[CoE Starter Kit - BUG] your issue"
### Describe the issue

We had the following error on Admin | Sync Template v3 (Desktop flows):

'Cannot write more bytes to the buffer than the configured maximum buffer size: 104857600.'

### Expected Behavior

We need that this flow work properly because we want to have view of the desktop flows that were created inside our tenant

### What solution are you experiencing the issue with?

Core

#

[2022-01-28 13:20] manuelap-msft commented on #1868
You've hit one of our known limitations for large desktop flows: https://docs.microsoft.com/en-us/power-platform/guidance/coe/limitations#large-desktop-flows - unfortunately there's nothing we can do here.

You may want to sign up to join the private preview for the Automation CoE Starter Kit: https://docs.microsoft.com/en-us/power-platform/guidance/automation-coe/automation-coe-starter-kit which

[2022-01-28 13:20] #1868 closed

[2022-01-28 13:33] mikefactorial commented on #1818
@mdpc-nnit I could use some assistance with replicating this. I can see the issue that @gillesmeyer reported with the json in the data parameter looking ill-formatted, but oddly it doesn't throw the error in my pipeline and appears to parse the json and set the variables on the pipeline appropriately.

If someone is willing to assist with a repro (e.g. a sample solution and a copy of the user sett

[2022-01-28 13:50] mikefactorial commented on #1865
Hey @andrewgaskins, I have to think this is a permissions issue somewhere. The only strange thing about the error message is that there's no name or identifier specified after this message "The Git repository with name or identifier".

We have updated the required permissions for the Azure DevOps Build Service in the docs, can you double check? Is it possible that the permissions you verified were

[2022-01-28 15:13] monicavzc025 commented on #1864
We definitely need the "excused from compliance" field in Apps, not just environments. Right now we are facing an issue with a lot of emails that people in our company are receiving because they installed Sample Apps from Teams [Sample apps from teams](https://docs.microsoft.com/en-us/powerapps/teams/use-sample-apps-from-teams-store) and they are receiving emails every week to submit compliance fo

[2022-01-28 15:50] andrewgaskins commented on #1865
Thanks @mikefactorial, those all look correct in step 5. I did find info on the error TF401019. I am waiting to see if my organization admins can flip these settings to see if it helps. It is just odd that the older repos work. I will update once I can verify.

"Here is the solution:

In Project Services:

Go to Project Settings -> Pipelines/Settings -> General/"Limit job authorization scope to cu

[2022-01-28 16:03] andrewgaskins commented on #1865
@mikefactorial it looks like the issue that was occuring in December. The pipeline is looking for the first repository created in this project. If I go into the triggers for the test of deploy-validation-Solution1.yaml I see the wrong repository applied. Do we still need to manually change these?

[2022-01-28 16:11] medicineshow opened #1870 "[ALM Accelerator - BUG]: YML Build Pipeline Step Failing"
### Describe the issue

The build-deploy-validation pipeline step "Update Solution XML with Build Number" fails every time. It appears to be unable to resolve the SolutionName variable. I am not sure where it gets this variable from as there is no step where this variable is manually set by the user or administrator.

error log:
Starting: Update Solution XML with Build Number
=====================

[2022-01-28 16:11] mikefactorial commented on #1865
@andrewgaskins might be an issue in the coe-cli. Let me take a look. Can you expand on what you mean by "it's looking for the first repository"?

[2022-01-28 16:20] mikefactorial commented on #1865
Is it possible that a parameter wasn't supplied correctly to the branch command in the coe-cli? The good news is we've added functionality to the export pipeline to automatically generate those pipelines on export of a solution if they don't exist so you don't have to run the coe-cli manually anymore. Not sure if that's what you did in Step 2 above "Create new branch using CLI"

[2022-01-28 16:22] andrewgaskins commented on #1865
@mikefactorial  sorry about that. I mean the first repository I created in this Project a while ago. I did just do an end to end.

1. Create new repo
2. run coe alm branch for that new repo for Solution3 (making sure there were no references at all to this solution in AZDO)
     coe alm branch -o https://dev.azure.com/MyOrg -p 'MyProject' -r AndrewGaskins -d 'Solution3' (<-redacted org and project

[2022-01-28 16:25] andrewgaskins commented on #1865
I see, so it is possible that by running the coe-cli I might be causing issues. I didn't fully pick up on that, thank you for clarifying. I am trying a new run without creating the branch and will let you know.

[2022-01-28 16:26] mikefactorial commented on #1870
@medicineshow the SolutionName is defined in the deployment pipeline YAML

[code]

Did you setup the deployment pipelines manually or using the coe-cli branch command or were the pipelines generate by the export pipeline?

[2022-01-28 16:28] TBag commented on #1856
@mikefactorial @Grant-Archibald-MS @davidyack

Hey fellas,

Thanks for all the help here.  I took a pretty thorough approach to ensure we found the culprit.

First, I cloned Grant's branch and tried the install file with the same settings you see in this Issue.  I got the same results, which were, nothing happens.  Here's the output from the logs, nothing helpful.

{"level":"info","message":"Insta

[2022-01-28 16:28] #1856 closed

[2022-01-28 16:54] Jenefer-Monroe commented on #1867
As far as I remember, we cannot do that as it will then conflict with other envts like the Default envt.
We dont have any of these in our tenant with which to test so I cant validate.
I did have the original person who found this bug for us test this solution and it worked, so let's get some details here.

Can you please share here (and obfuscate somewhat), the GUID you would want to put here, vs

[2022-01-28 16:57] mikefactorial commented on #1818
Can I ask one of you to test the change I made in the update deployment settings in this branch?
https://github.com/microsoft/coe-alm-accelerator-templates/tree/mochs-aa4pp-1818

Based on @mdpc-nnit comment that the issue was introduced in December I've removed the error handling that we added to the parsing of the configuration data. I'd like to see if that resolves this issue. As I mentioned abo

[2022-01-28 17:16] #1870 closed

[2022-01-28 17:19] Jenefer-Monroe commented on #1783
ouch! No thats not what we were seeing. We basically had connection references that ended up in too many flows and so we werent being offered any. I had to streamline them.

[2022-01-28 17:19] medicineshow commented on #1870
on another note, when we run the export-to-git pipeline, it always creates a folder in the pipelines folder with the same name as our solution v-next branch and it contains the solution and deployment pipelines. but if you try to open the yaml code, they all error.
![image](https://user-images.githubusercontent.com/17124284/151592233-0b06af6b-701e-41f4-96c8-b3a2b9c60037.png)

the error is:

An err

[2022-01-28 17:19] medicineshow commented on #1870
sorry just seen you closed the last one. do you want me to raise this as a different issue?

[2022-01-28 17:40] marcuss75 opened #1872 "[CoE Starter Kit - BUG] your issue"
### Describe the issue

Affected Version: CoE Starter Kit January 2022

The import of the solution "CenterofExcellenceNurtureComponents_2.6_managed.zip" has failed for some reason without any meaningful log information.
I've retried multiple times, sometime setting the variables and sometime leaving them empty, and at the end I've been able to import the solution.
One the import completes successf

[2022-01-28 17:42] mikefactorial commented on #1870
Yeah, if you don't mind just to help with SEO and discovery for others

[2022-01-28 18:48] osbornecc commented on #1783
Hmmm....looks like I found a "fun" one :-)

Do you want me to create a new issue, or maybe try just doing an entire Full Inventory on the whole CoE?  (I had just rerun the two specific flows earlier with Full Inventory)

Thanks!

[2022-01-28 19:19] mikefactorial opened #1875 "[AA4PP] Spike on Shipping PS Libraries with Templates / Environment Approvals without Deployment Pipelines"
**Is your feature request related to a problem? Please describe.**
We've implemented caching for our PS script libraries in the latest release. However, caching can't be used in deployment pipelines and removing the dependency on deployment pipelines makes environment approvals not possible as far as I can tell.

**Describe the solution you'd like**
Instead of caching research if shipping the PS l

[2022-01-28 20:04] andrewgaskins commented on #1865
ok that did the trick there. I am seeing the commit but the pipelines are not being created after the fact. I triple checked all the permissions based on the documentation and it looks good including the PowerAppManagementApp. I am creating a new branch for the solution as well to base the first commit from so that I can have one main branch per app as you were showing.

When I look at the branch

[2022-01-28 20:04] andrewgaskins commented on #1865
Let me know if you want to move this to a new issue as it is getting somewhat distorted from the initial issue.

[2022-01-28 21:09] ashVancouver opened #1876 "[ALM Accelerator - BUG]: Spaces in the project name"
### Describe the issue

We created an Azure project with spaces and we were unable to create a branch

Path that failed: update-deployment-settings.yml

Fix : coe-alm branch command, we had to put quotes for the project name and the repository name
cd was referring to the wrong path due to the spaces, that was quoted as well.

### Expected Behavior

We should be able to create a branch with spaces

[2022-01-28 21:19] ashVancouver opened #1877 "[ALM Accelerator - BUG]: Configure deployment settings with environment without the trailing '/'"
### Describe the issue

When we setup the validation/test/production environment we setup it without a trailing '/' and this resulted in us not being able to create nor query a connection.

### Expected Behavior

The solution should work with or without the trailing '/'.

### What component are you experiencing the issue with?

ALM Accelerator Pipelines

### What solution version are you using?

J

[2022-01-28 21:40] medicineshow opened #1878 "[ALM Accelerator - BUG]: Folder is created in Pipelines"
### Describe the issue

When I run the export-to-git pipeline, it creates a folder in the pipelines folder with the same name as our solution v-next branch and it contains the solution and deployment pipelines. but if you try to open the yaml code, they all error.

![image](https://user-images.githubusercontent.com/17124284/151625195-3eeb973e-6463-46b6-b737-6eeea3e72852.png)
the error is:

An erro

[2022-01-28 21:41] mikefactorial commented on #1646
Closing this since there's nothing more to be done for this issue. Feel free to open a new issue if you need further assistance.

[2022-01-28 21:41] #1646 closed

[2022-01-28 21:42] mikefactorial commented on #1092
Closing this since there's nothing more to be done for this issue. Feel free to open a new issue if you need further assistance.

[2022-01-28 21:42] #1092 closed

[2022-01-28 21:43] mikefactorial commented on #1423
Closing this issue as resolved. Thanks @mdpc-nnit

[2022-01-28 21:43] #1423 closed

[2022-01-28 21:45] mikefactorial commented on #1579
@diego-coke and @devkeydet Closing this since there's nothing more to be done for this issue. Feel free to open a new issue if you need further assistance.

[2022-01-28 21:45] #1579 closed

[2022-01-28 22:37] mikefactorial commented on #1878
This is a new one to me @medicineshow. The folder structure for the pipelines is expected. Can you take a look at the settings for the pipeline and make sure that the specified yaml file exists in the Solution Branch?

![image](https://user-images.githubusercontent.com/42348035/151630999-4fcf0f61-154d-42e5-85a3-2376cd205594.png)

![image](https://user-images.githubusercontent.com/42348035/15163092

[2022-01-29 03:48] Jenefer-Monroe opened #1879 "[CoE Starter Kit - BUG] Apply Env Var reset and Flow Inventory work to Teams - if possible"
### Describe the issue

We implemented these two features for Feb:
#1770
#1769

But did not do the work to test in the D4T installs due to some complications

### Expected Behavior

Test in teams and enable if possible.
We do reference the Processes table so it might not be doable.

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.12

### Wh

[2022-01-29 13:01] medicineshow commented on #1878
If I look in the Repo solution folder it has the Yaml files:
![image](https://user-images.githubusercontent.com/17124284/151661950-8d6713ad-705a-420e-b5de-650fff7cdb08.png)

and if I open in the Pipeline folder I see this:

![image](https://user-images.githubusercontent.com/17124284/151661986-8f3a5016-9998-4a69-8a58-718df02b2bca.png)

[2022-01-30 14:01] joegiac opened #1880 "[CoE Starter Kit - BUG] Collect audit log data - documentation bug"
### Describe the issue

Hi, I've recently installed the CoE Starter Kit into a new environment but I am unable to test the custom connector. I've followed all the steps per the documentation, but when I come to test the StartSubscription operation I receive the following error message:

"This operation is being provisioned. Please try again in a few minutes."

I've given this 48 hours to try and r

[2022-01-30 14:34] winterscar opened #1881 "[ALM Accelerator - BUG]: issue title"
### Describe the issue

On the deployment settings screen, there are many dropdowns that allow you to pick values from very large datasets.

For example:
- Flow owners is selected from Environment users
- SharePoint Site environment variable is selected from all possible SharePoint sites
- AD groups are selected from all possible AD groups.

Because of this, when the screen loads, only a subset of

[2022-01-30 14:42] winterscar opened #1882 "[ALM Accelerator - BUG]: Connection references not shared with the current user do not show up in the deployment settings screen"
### Describe the issue

In production environments, service accounts are often used to create connection references.
However, these connection references are not shared with developers (there's no reason to).

Because of this, the ALM accelerator fails to load the connection reference info when modifying the deployment settings for an environment.

### Expected Behavior

Connection reference info

[2022-01-30 15:14] petepuu opened #1883 "[CoE Starter Kit - BUG] Flow Description Wrong: Command Center App > Initially Populate Bookmarks Flow is wrong"
### Describe the issue

Small thing but I guess the description of **Command Center App > Initially Populate Bookmarks** flow is wrong as it only adds CoE Power Apps as bookmarks for Command Center

"_this flow connects to Microsoft Graph to list Power Platform Message Center service updates and returns them to the Admin - Command Center canvas app._"

<img width="428" alt="image" src="https://use

[2022-01-30 16:40] petepuu opened #1884 "[CoE Starter Kit - BUG] Admin | Sync Template v3 (Connectors) does not fetch all connectors because of terminate action"
Admin | Sync Template v3 (Connectors) flow has terminate action after Specialty Connectors action which gets HTTP and Spatial connectors. Because of this none of the standard connectors are not fetched from the Apps

<img width="304" alt="image" src="https://user-images.githubusercontent.com/8307644/151708361-3d43cb5b-3266-4fc8-aae8-fffd88bc4f59.png">

There are only those specialty connectors in

[2022-01-31 00:00] Jenefer-Monroe commented on #1884
Hello, this is covered by #1751 and fixed in the current release 3.20.6

[2022-01-31 00:02] Jenefer-Monroe commented on #1883
Pasted the wrong description in the app. This is the correct description
This flow runs to get all CoE Starter Kit apps in the environment and store them to the Command Center Config table as bookmarks used in both the Admin - Command Center and Maker - Command Center canvas apps.

Thanks for catching. Local fixed for March

[2022-01-31 00:06] Jenefer-Monroe commented on #1880
The list of things commonly hit is noted in the [setup instructions](https://docs.microsoft.com/power-platform/guidance/coe/setup-auditlog).

Perhaps you are using a different identity now and dont have access to the audit logs?
Are you able to connect to them? https://protection.office.com/

[2022-01-31 01:12] joegiac commented on #1880
Hi Jenefer, yes I've ran through it all and checked those. Audit logs are accessible and searchable using the account. I think I'm going to have to try again on a new clean environment because I've tried deleting the connector, reinstalling the solution and all manner of things I can think of- unless there's something else you might have seen before?

[2022-01-31 02:53] rfarris2000 commented on #1865
This the same issue:

https://github.com/microsoft/coe-starter-kit/issues/1550

[2022-01-31 06:24] powerplatadmin opened #1885 "[CoE Starter Kit - BUG] canvas apps do not work after upgrading a solution to newer version"
### Describe the issue

Once a COE Kit is upgraded to new version, some of the canvas apps like DLP editor do not work and provide a message close to the following:

**The request was not sent or there was no response from the server. Check your internet connection. Server Response: Makers failed: null**

### Expected Behavior

Once you upgrade your COE Kit, the Canvas Apps within the components w

[2022-01-31 08:29] jagibe commented on #1867
![Environments](https://user-images.githubusercontent.com/26441468/151760992-e00f7347-ab4b-484a-be1a-aa16b4e37f8a.png)
These are the GUIDs of three environments, two of them are legacy.

The flow Sync Template v3 - Flow Actions Details is searching for an environment with admin_environmentid = 6668d4a7...

[2022-01-31 08:37] sanjuskc opened #1886 "CoE Starter Kit - Power BI Dashboard - Issue while importing Power BI template"
Hi,

We have two issues while exporting Power BI template from one environment and importing to other environment
Issue 1: While importing, it connects to Org Url of first environment and asks for authentication
Issue 2: Query "App Connection Reference" (step "Removed Columns") references other queries or steps, so it may directly not access a data source. Please rebuild this data combination.

Ve

[2022-01-31 10:05] medicineshow commented on #1878
To add (and possibly confuse also) it adds a Build Validation policy to the version branch during the initial commit.
We have created a version (v-next) branch - AlbertsOwnSolution and applied a Branch policy - PR Build Validation.
When Albert runs the Commit Solution from the app which runs the export-to-git pipeline it creates Alberts own working branch (which is named by the pipeline albert.hof

[2022-01-31 11:51] AbhishekSaxena123 opened #1887 "[CoE Starter Kit - BUG] your issue"
### Describe the issue

Need to get the details about the inputs for the Power Automate in CoE Managed Solutions

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.20

### What app or flow are you having the issue with?

All of them

### Steps To Reproduce

_No response_

### Anything else?

We need to un

[2022-01-31 13:19] medicineshow commented on #1878
It's happening during the Update Deployment Setting step in the Export-to-Git pipeline run. The pipeline folder is created without yaml

![image](https://user-images.githubusercontent.com/17124284/151799833-f9daceac-a850-4086-a272-f7aea71f6a47.png)

also the branch policy is being created and set on our version branch but within that branch policy it points to the newly created pipeline that has n

[2022-01-31 14:10] mikefactorial commented on #1878
@medicineshow the export pipeline will attempt to validate that the deployment pipelines exist. If they don't it runs the coe-cli branch command which checks for a v-next branch for the solution. If it exists it will not create it, but if it doesn't it goes ahead and creates the branch and will also attempt to create the deployment pipelines. Currently, there's no check to see if the policy exists

[2022-01-31 14:21] robertcaretta commented on #1851
I am interested in the BYOD solution. Apparently our environment is too big. I have set our environment variables to the lowest setting [documented here](https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-auditlog#before-you-use-the-audit-log-connector) and we are still receiving alerts about smaller chunks.

![2022-01-31_08-19-57](https://user-images.githubusercontent.com/1613085/

[2022-01-31 14:33] medicineshow commented on #1878
Oh that is a good spot. Perhaps there should be a highlighted "Important" note in the documentation to say that the naming convention is essential? I will reset and re-run and let you know. Thanks.

[2022-01-31 14:41] Jenefer-Monroe commented on #1765
Closing out as no further action for starter kit team.
It is our recommendation that you spend time getting to know and understand the sync flows before continuing to test the PBI, as you need to ensure you have everything running and passing, or your data will not be correct.
Thanks for using CoE

[2022-01-31 14:41] #1765 closed

[2022-01-31 14:45] Jenefer-Monroe commented on #1801
see also #1864 while doing this work

[2022-01-31 14:47] Jenefer-Monroe commented on #1867
As you can see from the Default envt, its GUID conflicts with the first legacy one. Thats why we dont create the GUID here. We allow the GUID to be generated, and then find it when we return.

So we cannot solve via that path or your Default envt will be broken.

Can you please share where in the Flow Action Details you are seeing this issue?
And are there other flows failing similarly

[2022-01-31 14:56] Jenefer-Monroe commented on #1851
Hello, those are just examples used to help people configure these variables, it is not intended to be an exhaustive list of options.
You can continue iterating with these values to see if it will work for you, but you may indeed be too big.

At this point our team is not assisting with, nor documenting setup of BYOD, it is something that you will need to explore using the Microsoft Product team l

[2022-01-31 14:59] Jenefer-Monroe commented on #1861
Hello. Can you please provide an update? I presume this has not repro-d again?

[2022-01-31 15:00] mdpc-nnit commented on #1818
Hi @mikefactorial

Sorry, haven't had time to troubleshoot this any further, but regarding your last comment, it still throws an error, when I run your last command:
[code]
I have tried both on pwsh 7 and pwsh 5.1, and the error is fixed by adding the missing comma.

So for me, the missing comma is the problem and not the error handling.

[2022-01-31 15:07] Jenefer-Monroe commented on #1880
Yes I'm afraid I dont know what questions to ask to help you further. I've never seen that particular error.

The connection is in place correct?
![image](https://user-images.githubusercontent.com/89584709/151817758-3c216e5f-062b-4632-9b04-851edd2a9217.png)

And if you do other test operations like ListContent, it also fails?

[2022-01-31 15:07] #1884 closed

[2022-01-31 15:20] Jenefer-Monroe commented on #1887
Hello, I'm afraid we cannot help here. This sounds like you have hit a product issue, or perhaps you do not have permissions.

The flows are described for each solution in its respective [What's in the CoE starter kit](https://docs.microsoft.com/power-platform/guidance/coe/core-components) section.

[2022-01-31 15:21] Jenefer-Monroe commented on #1885
Hello, it sounds like you have hit some product issue here, perhaps related to connections.

[2022-01-31 15:42] Jenefer-Monroe opened #1889 "[CoE Starter Kit - BUG] Remove dataflow from Nuture"
### Describe the issue

The install issues resulting from having this component in the solution are too costly.
We will remove the dataflow and replace it with a cloud flow which does the same thing, of installing the starter data.

### Expected Behavior

Install of Nurture is reliable

### What solution are you experiencing the issue with?

Nurture

### What solution version are you using?

2.6

[2022-01-31 15:46] Jenefer-Monroe opened #1890 "[CoE Starter Kit - BUG] Flow Action Details - change to be data trigger"
### Describe the issue

Today we walk the entire tenant and get the flow action details for the flows that have changed.
For the same reason as the inventory was slow, checking to see if the flow has changed itself takes a long time
Today this only is really workable for smaller tenants.

### Expected Behavior

We could switch this to using the filter similar to how we did for the inventory.
But i

[2022-01-31 15:49] Jenefer-Monroe commented on #1867
Thank you for posting and getting me these details. I think I will actually take a sharp turn on this flow via #1890 which would resolve this issue for your, since we would know the envt GUID at that time.

[2022-01-31 15:58] mikefactorial commented on #1818
Beginning to think the output in the queue time variables is a red herring, but still can't be sure since I'm not seeing the same behavior in the pipeline.

I can see the ill-formatted json in the queue time variables

[code]

However, if I pipe out the value in the update deployment settings powershell I see it formatted correctly.
[code]

I've added logging to the update deployment settings in h

[2022-01-31 16:03] joegiac commented on #1880
Hi Jenefer, thanks again :)

So I tried on a new environment and still no dice. I'm starting to wonder if it's because the tenant & environment I have available to me already contains D365 apps deployed. I noticed in the instructions

![image](https://user-images.githubusercontent.com/64542179/151827906-89a5b988-795c-4eec-8ede-6118bc08d0d9.png)

So I am wondering if I am falling foul of this. Alth

[2022-01-31 16:19] mikefactorial commented on #1882
@winterscar thanks for reporting this and for the issue details. Looking into a workaround / fix

[2022-01-31 16:21] mikefactorial commented on #1881
@winterscar thanks for reporting this and for the details. Definitely a gap that went unnoticed in testing. I'll verify and look into a fix.

[2022-01-31 16:53] jagibe commented on #1867
Yeah, with the trigger that you comment would be easy to get the environment guid.

Thank you for your help!

[2022-01-31 16:58] mikefactorial commented on #1878
@medicineshow I was able to replicate the specific error you were having previously. Hopefully, it goes away with the reset, but the fix in my case was to Edit the pipeline and go to Triggers. Then under the YAML tab -> Get Sources verify that the settings are correctly pointing to your v-next branch. This shouldn't be necessary if the pipelines are generated by the coe-cli, but in case I'm missin

[2022-01-31 17:01] formerghostlyform commented on #1796
It's actually both M1 & M2.  We just sent 450+ new maker e-mails to directors and execs.  Not a good look.

[2022-01-31 17:07] osbornecc opened #1891 "Admin | Sync Template v3 (Flows) generating strange connection reference display names"
### Describe the issue

When determining a Flow's connection references, this flow is getting the Connector ID correct, but then marking the Connector Name wrong.  For example, if a Flow is using Azure SQL Data Warehouse, the Connection Reference table entry for that flow shows the name as "Azure SQL Data WarehouseTrue" or "Azure SQL Data WarehouseFalse"

I found this because I have a custom repor

[2022-01-31 17:10] mikefactorial commented on #1837
@alzia-msft any update on this issue?

[2022-01-31 17:18] osbornecc commented on #1891
Just FYI, This does not occur with the connection references tied to Apps.  Just Flows.  The Apps flow doesn't have that variable reference in the step that adds connection references.

[2022-01-31 17:19] Jenefer-Monroe commented on #1796
This fix is for both, as shown above. If this bug is a big concern for you, our recommendation is to turn it off until you can install the Feb release.

[2022-01-31 17:22] mikefactorial opened #1892 "[AA4PP] Export latest of ALM Sample Solution for February Release"
**Is your feature request related to a problem? Please describe.**
Need to update the Sample Solution for the next release

[2022-01-31 17:23] Jenefer-Monroe commented on #1891
Looks like a typo got in there. Thanks for posting. Local fixed for March

[2022-01-31 17:48] mikefactorial commented on #1878
@medicineshow I've added a callout to the manual setup docs as you suggested. This will be updated in the February release of the CoE Starter Kit. Thanks again for all the input and assistance working through this issue. It's great having such an active community of contributors. Closing this issue for now. Feel free to open another as you continue to test.

![image](https://user-images.githubuser

[2022-01-31 17:48] #1878 closed

[2022-01-31 18:18] manuelap-msft opened #1893 "[CoE Starter Kit] Consolidate Power BI report"
The CoE Starter Kit Power BI dashboard currently contains 40+ pages, slicing and dicing the same data in different ways. The pages are documented here https://docs.microsoft.com/en-us/power-platform/guidance/coe/power-bi

We have heard from customers
- it's hard to understand what the dashboard is capable of, due to the sheer amount of pages
- it's difficult to use the dashboard due to multiple pa

[2022-01-31 18:32] mikefactorial commented on #1865
@rfarris2000 and @andrewgaskins Working on a fix for this and for #1550 once I have a branch created with the changes and have tested internally, I'll pass it along.

[2022-01-31 20:11] AkashPatel136 commented on #1861
The user has not received an email again as of now.

[2022-01-31 20:18] AkashPatel136-zz opened #1894 "CoE Starter Kit - Set Flow Permission Orphaned Flow"
**Is your feature request related to a problem? Please describe.**
When I have to clean up orphaned Flow there is no way for me to see if this flow is active or stopped or in the suspended stage. It will help me because if the flow is not modified by a certain month and if it is in the stopped stage then I can just delete them without any questions.

**Describe the solution you'd like**
This is wh

[2022-01-31 20:29] Jenefer-Monroe commented on #1861
wonderful

[2022-01-31 21:22] AkashPatel136 commented on #1861
Hi @Jenefer-Monroe

Not sure if this is the same case but the User is receiving compliance email and the user has been approved for deletion 3 times and she keeps getting these emails after approval for deletion. Ultimately I had to delete the app on her behalf from the admin center.

[2022-01-31 21:42] devkeydet commented on #14
Here is an example that hasn't been incorporated into the accelerator yet:
https://github.com/devkeydet/PrepareSelfContainedSolutionForExport
It will serve as the foundation to incorporate into the accelerator.

[2022-01-31 21:45] Jenefer-Monroe commented on #1861
Completely different area of the starter kit, so not related to this.
In order for me to investigate though I would need more details, in a new bug.
For example you would need to show me what you mean (compliance v archvial... what email was it?)
And you would need to go look up the flow in the archival tables.
Since the repro is gone now I suggest you post if you see that again.
Thanks for using

[2022-01-31 21:45] #1861 closed

[2022-01-31 23:27] denisem-msft commented on #1701
@medicineshow you are correct that the Office 365 Groups connector does not return the complete list of groups that the user is a member of. It's using a specific path in graph that does not return the same payload as you are seeing.

We cannot use the Azure AD connector to return the groups list because some users cannot get admin consent to use that connector in their organization.

I am working

[2022-02-01 00:01] paulculmsee commented on #1893
Our focus with one client is to distill a bunch of "license to operate" KPI's which is intended to be rolled up to a single page and drill down from there, as opposed to a global nav page. Let's treat it like a true portal and call out the most important high level stats. Drilling down to the 3 strategic themes should be similar, with more refined KPI's

[2022-02-01 00:48] powerplatadmin commented on #1885
That sounds like a possibility, thank you for taking the time to reply :)

[2022-02-01 00:48] #1885 closed

[2022-02-01 01:02] GBStirewalt commented on #1893
Maybe flip the dashboard for example rather having Monitor Govern and Nurture set those to grill down on the objects such as flow apps and the like

[2022-02-01 07:26] gillesmeyer commented on #1818
Hi @mikefactorial,

Thank you for following up on this :)

I also believe the output of AzDO console is misleading here and probably not interesting.

1. Both code snippets you provided throw an error (same observation as @mdpc-nnit)
2. I tried inlining both JSON objects (ill-formatted and correct) in the build script, only the correct one succeeded
3. After I saw #1827, I reviewed permissions (al

[2022-02-01 08:52] manuelap-msft commented on #1289
This is now available via connector: https://docs.microsoft.com/en-us/connectors/powerappsforadmins/#set-app-quarantine-state

[2022-02-01 09:03] manuelap-msft commented on #1289
- should be a per environment decision by the admin, not something we automatically do
- e.g. could be useful during a clean up of a Default environment
- both for apps out of compliance and ones that need archiving

[2022-02-01 11:37] medicineshow opened #1898 "ALM Accelerator for Power Platform - Show Deployment Pipeline Statuses"
In the AA4PP UI, it would be helpful to have a separate green tick to confirm deployment to the three environments Validate, Test and Production.
![image](https://user-images.githubusercontent.com/17124284/151961754-2aef9c19-b55b-4c43-a0cf-0141cfc29777.png)

[2022-02-01 11:46] petepuu commented on #1825
@Jenefer-Monroe there seems to be 2 Desktop flow runs sync flows at least in Jan 2022 release. I guess that the "Desktop Flow runs" without hyphen is not needed?

<img width="647" alt="image" src="https://user-images.githubusercontent.com/8307644/151961448-33f10b8d-1a67-45ae-be93-82d41b00a3d0.png">

[2022-02-01 12:30] AkashPatel136 opened #1899 "User keeps receiving emails for compliances"
### Describe the issue

I had a few users who complained that they keep receiving submit compliance details emails even after they have selected to delete them. I have attached an email that they receive.

![image](https://user-images.githubusercontent.com/75992078/151967958-54bc5593-1d9f-46ad-9264-b4f092892333.png)

### Expected Behavior

_No response_

### What solution are you experiencing the

[2022-02-01 12:50] tomsinsight opened #1900 "[ALM Accelerator - BUG]: how can I get the ALM Accelerator for Power Platform App solution file?"
### Describe the issue

Hello,

 I am looking to set up the app mentioned here - https://docs.microsoft.com/en-in/power-platform/guidance/coe/almacceleratorpowerplatform-components

However the latest CoE starter kit does not include this app, and github file has a code files.

Can you please suggest how can I get the ALM Accelerator for Power Platform App solution file?

Looking forward!

Thanks,

[2022-02-01 13:28] Jenefer-Monroe commented on #1899
Hello, are you running the clean up flows in Core? When an app is deleted, the inventory does not know this, until those flows run.

Please walk the [setup up instructions for inventory](https://docs.microsoft.com/power-platform/guidance/coe/setup-core-components) to ensure the flows listed in all the sections are turned on, running, and passing.

[2022-02-01 13:31] Jenefer-Monroe commented on #1894
Unfortunately, the flow state is not something that we keep up to date in the inventory, for example turning a flow off does not change its modified date, so we would need to call back to the product for every row in the table, causing the page to be very slow to load.

I will put this on our backlog though to review what is shown on this screen to see if we can review and make it more actionable.

[2022-02-01 13:33] Jenefer-Monroe commented on #1825
Thats correct. I dont know how it got there, but we have been shy to remove it as this may cause upgrade issues.
We can reconsider this decision if you could post the bug for us.

[2022-02-01 14:17] Ballzer0 opened #1901 "[ALM Accelerator - BUG]: COE-CLI crashes when i try to add makers"
### Describe the issue

trying to add makers in the COE-CLI causes it to crash after i pulled the newest update

### Expected Behavior

adds makers sucesfully

### What component are you experiencing the issue with?

ALM Accelerator Pipelines

### What solution version are you using?

NA

### Steps To Reproduce

run command
[code]

crashes with the output
[code]

### Anything else?

_No response_

[2022-02-01 14:21] AkashPatel136 commented on #1894
Thank You so much

[2022-02-01 14:24] Jenefer-Monroe commented on #1867
Can you please test for me, since I dont have any of these environments.

Just create a quick flow in the CoE environment,
Insert a **_Get Flow as Admin_** action from the **_Power Automate Management_** connector
https://docs.microsoft.com/en-us/connectors/flowmanagement/#get-flow-as-admin

Dont select the environment or flow from the dropdown, instead paste in the admin_environmentname (Legacy-3

[2022-02-01 14:59] medicineshow opened #1902 "[ALM Accelerator - BUG]: Delete Solution App Behaviour"
### Describe the issue

After running the delete solution step in AA4PP there was an error running the pipeline. The solution had dependencies that would not allow it to be deleted. The error was because of solution layering.
The app UI no longer displays the solution, even though it is still in the developer environment as a managed solution and this does not reflect the error that has occurred i

[2022-02-01 15:15] Jenefer-Monroe commented on #1899
Please validate if the app in question still exists in the tenant, and if it still exists in the inventory.

[2022-02-01 15:46] AkashPatel136 commented on #1899
Hello

The application does exist in the team environment. As you can see below from the PPAC and Admin Model-Driven app.

PPAC
![image](https://user-images.githubusercontent.com/75992078/152001064-0a64a16a-3893-4155-b4f8-66e86685461d.png)

Model-Driven App
![image](https://user-images.githubusercontent.com/75992078/152001178-70a2d85d-22da-4c73-974f-48549966fdd2.png)

Also when the user tried to d

[2022-02-01 16:29] NPrice99 commented on #1820
Hi Manuela

I downloaded A new version of the PowerBI Desktop today and retested this and it now works.

Thanks for your help

Nigel

[2022-02-01 16:29] #1820 closed

[2022-02-01 16:29] manuelap-msft commented on #1820
Thank you so much for confirming! Is that the February version of Power BI Desktop?

[2022-02-01 16:30] manuelap-msft commented on #1886
Another user had this issue #1820 and solved it by upgrading to the latest version of Power BI Desktop. Could you please try the same?

[2022-02-01 16:31] Laskewitz commented on #1289
I think this could be a great addition to the admin app:

- Having the possibility to quarantine an app when a field is true (manual step)
- Quarantine an app when the owner hasn't provided a business justification (automated after x reminders)
- Probably, I'm missing a lot of scenarios, but I'll edit this post when I think of more

[2022-02-01 16:43] NPrice99 commented on #1820
There was !
2.100.1401.0 was released on 21/1/2022 (Even though About still says December 2021).

Regards

Nigel

[2022-02-01 18:41] Jenefer-Monroe commented on #1899
Yes, that means that they did not delete the app. And so they will continue to get these messages until the app no longer qualifies or until they delete it.

Per the error message they are seeing, the app is part of a managed solution install so we cannot delete it for them from within the tool. They will need to go manually delete it, or the solution as a whole.

[2022-02-01 19:40] mikefactorial commented on #1901
@Ballzer0 thanks for reporting this. I just uncovered the same issue and have a PR with a fix in the works. If it helps unblock you take a look at the change to the following

https://github.com/microsoft/coe-starter-kit/blob/b74f8043986c2ec3c9a6b0dd362cec8fdbd6b0eb/coe-cli/src/commands/commands.ts#L97

[2022-02-01 19:45] russrimm commented on #1810
If a customer installed the Jan release and it didn't sync all their flows, if they upgrade to the Feb release, will they have to do anything special to get all their missing flows to sync?

[2022-02-01 19:48] mikefactorial commented on #1900
Hey @tomsinsight, the Accelerator will be shipping with the CoE Starter Kit in the February release. As of right now we have a separate release. The latest is here (https://github.com/microsoft/coe-starter-kit/releases/tag/CenterofExcellenceALMAccelerator-January2022). However, to install the ALM Accelerator you'll want to follow the instructions found here since there are a number of steps involv

[2022-02-01 19:51] mikefactorial commented on #1898
@medicineshow thanks for this. Agree we will look into how best to surface this in the app in a way that is flexible based on our goal to allow the number of steps to be fully configurable.

[2022-02-01 19:53] mikefactorial commented on #1898
My initial thoughts are to move the deployment pipeline runs to the deployment history page, but including a gallery or dropdown to view the different environments on the main page should be possible as well.

[2022-02-01 20:01] Jenefer-Monroe commented on #1810
They will need to do a full inventory run. They can do it now or after they install Feb, it wont matter.

https://docs.microsoft.com/en-us/power-platform/guidance/coe/faq#running-a-full-inventory

Hope that helps

[2022-02-01 20:05] russrimm commented on #1810
Thanks @Jenefer-Monroe, and this includes the step of turning all of the flows off and back on before and after setting the FullInventory to true?

[2022-02-01 20:22] mikefactorial commented on #1902
@medicineshow this is tangentially related to #960. However, this particular issue is a tough one to solve for. We've split the delete pipeline into two stages to handle this scenario and is the reason we put the big red warning on the delete dialog saying that it could very well fail if there are dependencies.

Unfortunately, the scenario you describe is unavoidable right now. The multiple stages

[2022-02-01 20:28] BenediktBergmann opened #1905 "Notify Admin when App Registration secret expires"
**Problem:**
As an Admin of a Power Platform installation one usually has to maintain a list of App Registrations for different purposes (Integrations, ALM, Automation and all of them for different environments). Since the Secrets of those are valid for max of 24 months (if not created otherwise through PowerShell) it can be hard to maintain/manage those before parts of the installation failed bec

[2022-02-02 01:29] Jenefer-Monroe commented on #1890
aside from running for days for mid size tenants, this is also needed because the current system doesn't work for legacy type environments.
I have the basics for this proven out. Need to finish testing for March.

[2022-02-02 01:29] Jenefer-Monroe commented on #1889
in testing for March

[2022-02-02 01:32] Jenefer-Monroe commented on #1880
No, that would not impact this. That was just to make your setup faster.

And to clarify, this worked for you in the past for this tenant, meaning if you are a special tenant type (eg gov cloud) you have already figured out that step in the past.

[2022-02-02 01:37] Jenefer-Monroe commented on #1810
Correct. Power automate caches env vars, so they need to be turned off and back on in order to get the new value.

[2022-02-02 07:24] remzoa opened #1907 "[CoE Starter Kit - BUG] Power BI report - No data in Monthly new users, mau mom% and total users mom %"
### Describe the issue

Hi.

When looking at the Power Apps Adoption part of the Power BI report, the part that is supposed to show Monthly New Users just says blank, MAU MOM % is 0.00% and Total Users MOM % is 0.00%.

When looking at the details:

**Monthly New Users is trying to get information from "Audit Log" - "MOM New User" with:**
MOM New User = VAR currentUsers = VALUES('Audit Log'[admin_u

[2022-02-02 07:50] sanjuskc commented on #1886
Upgraded to latest version of Power BI desktop in development environment. Getting the below error now:

![image](https://user-images.githubusercontent.com/91690081/152114042-fe67e441-1683-46fb-92d7-b99dde89ac92.png)

Any references/suggestions in this regard would be helpful

[2022-02-02 09:35] Laskewitz opened #1909 "[ALM Accelerator] Feature Request: CLI / GitHub Actions / Az DevOps Tools"
**Is your feature request related to a problem? Please describe.**
I really like the ALM Accelerator, but I notice that some people would love to customize the ALM Accelerator and take bits and pieces from it to reuse it within their own pipelines.

**Describe the solution you'd like**
I would love to see a CLI, GitHub Actions, or Azure DevOps tools that are reusable in pipelines. The quickest sol

[2022-02-02 09:44] medicineshow commented on #1898
That sounds like a good solution

[2022-02-02 10:02] BenediktBergmann commented on #1909
I do agree. All the Templates should be Tasks in the Build Tools.

My understanding is/was that the CoE Team "tests" the ALM process to detect gaps in the Build Tools. The Team which builds the Build Tools can then close those gaps.

[2022-02-02 10:05] Laskewitz commented on #1909
I think this is the case, but in the meantime (until the team fixes this) this would be a good option. I mean - I'm not sure how fast the team is with fixing the gaps - it might take a while...

[2022-02-02 10:08] felipePP8345 opened #1910 "[CoE Starter Kit - BUG] your issue - audit log data"
### Describe the issue

Hi
I've gone through the documentation several times trying to set up the audit log.
Is the "Tenant ID" different from "PublisherIdentifier"?
Asking the quesiton because the wording in the documentation is a bit confusing:

"Paste the directory (tenant) ID—copied earlier from the App Registration overview page in Azure AD—into the Tenant field, and then paste the Tenant ID

[2022-02-02 10:10] Laskewitz commented on #1909
Also - maybe this is the wrong place. I know Wael Hamze runs the Power DevOps Tools (https://github.com/WaelHamze/dyn365-ce-vsts-tasks) project. It might be something for that project. I believe those are also based on PowerShell so it could be an "easy" addition.

[2022-02-02 10:11] gillesmeyer opened #1911 "[ALM Accelerator - BUG]: Flow activation based on user localized values"
### Describe the issue

I ran into an issue with activation of flows in the deploy-`env`-`solution` pipelines.

The error was when one of the the build scripts in `activate-flow.yml` tries to activate the flows using impersonation. I observed the same error as the one [in this discussion](https://github.com/microsoft/coe-starter-kit/discussions/422).

After digging into this I realised that this w

[2022-02-02 10:11] medicineshow commented on #1701
Hi. I am still slightly confused. The user is not an owner of the group 'Test Adding Guests' but this group appears in the dropdown menu. Also you mention "ListOwnedGroupsV3" and the documentation only refers to "ListOwnedGroupsV2". Can you please clarify in more detail, thank you.

[2022-02-02 10:13] medicineshow commented on #1701
@denisem-msft  forgot to use the @denisem-msft

[2022-02-02 10:24] jagibe commented on #1867
Yes, the flows are listed correctly.

[2022-02-02 10:40] pre-alt commented on #1887
Hi Jenefer, Greetings!

May I know how this comes under the product issue , please give us some detail on it .

[2022-02-02 10:55] devkeydet commented on #1909
We agree with you and are actively working with the pac/build tools/github actions teams.  For now, your best bet is to use the code snippets in your own pipelines.

[2022-02-02 11:03] manuelap-msft commented on #1910
Hello - it's the same info, you paste the Tenant ID into Tenant ID and PublisherIdentifier. The error message you are receiving is related to lack of permission to view this data. Pre-reqs for viewing Audit Log are in this article https://docs.microsoft.com/en-us/microsoft-365/compliance/search-the-audit-log-in-security-and-compliance?preserve-view=true&view=o365-worldwide#before-you-search-the-au

[2022-02-02 11:05] manuelap-msft commented on #1905
Great idea, this is relevant for the CoE Starter Kit where we have app registrations for connecting to the Audit Log and the M365 Message Center as well.

Would you see this being added to the [Admin - Command Center](https://docs.microsoft.com/en-us/power-platform/guidance/coe/core-components#admin---command-center) app as valuable?

[2022-02-02 11:05] BenediktBergmann commented on #1909
I think adding those to Waels tools might be a really good workaround.

[2022-02-02 11:07] BenediktBergmann commented on #1905
Yeah sure. I don't think it has to be its own App. Just somehow part of the CoE Starter Kit.
In the mentioned post it just notifies the admins via mail. Maybe that could be the first part/version since it might be easier than building some Canvas App (parts) around it.

[2022-02-02 11:16] devkeydet commented on #1902
If you want to look at how one can leverage the Dataverse APIs to help understand how to clean up dependencies, I have a spike here:
https://github.com/devkeydet/PrepareSelfContainedSolutionForExport
We are considering putting more utility into either the ALM Accelerator itself or a separate tool that helps with some of this.  We are leaning towards a separate installable solution to help with thi

[2022-02-02 11:20] manuelap-msft commented on #1910
Unfortunately we don't have other resources for troubleshooting here. Do you know if the Audit Log has been enabled recently? It sometimes can take up to 24hrs for the API to work. Other than that I would make sure the App Registration is set up with the correct permissions (maybe you have missed the "Grant access to [org]" step?

[2022-02-02 11:23] devkeydet commented on #1902
Please vote up this issue/enhancement if you think we should release something to help with dependencies cleanup:
https://github.com/microsoft/coe-starter-kit/issues/1821
Also, feel free to comment on what else you think would help ensure your solution doesn't have dependency issues.

[2022-02-02 11:26] devkeydet commented on #1821
After further discussion, we would likely release this as a separate tool from the ALM Accelerator so people wouldn't need to take a dependency on installing the accelerator to see the benefits.  Is anyone aware of an existing community tool that already does this (ex: XrmToolBox extension)?

[2022-02-02 11:51] manuelap-msft commented on #1886
This seems to refer to the fact that your inventory tables are maybe empty.

1. Check you've followed all the steps here https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-core-components to set up the inventory components
2. Check the Power Platform Admin View (model driven app) to see if data is being populated

[2022-02-02 13:30] GaborVig opened #1912 "[ALM Accelerator - BUG]: Update Solution XML with Build Number Step Fails"
### Describe the issue

I'm having some issues around deploying a solution to the validation environment using the ALM Accelerator for Power Platform canvas app. Following the deploy-validation-solutionName pipeline trigger the build_and_deploy_job fails at the Update Solution XML with Build Number step.  It seems the PowerShell script can't find the solution package folder.
I checked and the solu

[2022-02-02 14:52] mikefactorial commented on #1912
@GaborVig can you verify what the name of your solution is? Looks like it's looking for a solution named SolutionName? Is that correct? If not verify the following in your YAML pipeline.

variables:
- group: alm-accelerator-variable-group
- name: SolutionName # variable Name  (DO NOT CHANGE THIS VALUE)
  value: 'SampleSolution' #Replace with the actual name of the solution you are building. (NOTE:

[2022-02-02 15:03] tomsinsight commented on #1900
Hello Mike,

Thank you so much for your time, Much appreciated!

I have installed through CLI, however the app does not show the experience dropdown as indicated as follows, would you please help what am I missing there?
![image](https://user-images.githubusercontent.com/98403757/152179557-39869af4-6d1a-4c7e-b915-7a94cb517ef1.png)

Thank you so much for your time in advance!

Best Regards,
Tom

[2022-02-02 15:18] mikefactorial commented on #1911
@gillesmeyer thanks for reporting this. If you've fixed it already in your pipelines would you mind creating a PR in https://github.com/microsoft/coe-alm-accelerator-templates or share the code?

[2022-02-02 15:27] mikefactorial commented on #1900
@tomsinsight see this #1850. For a similar discussion.

[2022-02-02 15:33] mikefactorial commented on #1900
Closing for now. @tomsinsight Feel free to open another issue or start a discussion if you have any other questions.

[2022-02-02 15:33] #1900 closed

[2022-02-02 16:32] GaborVig commented on #1912
The solution name is fine. Please see another error example:
"Get-ChildItem : Cannot find path 'D:\a\1\s\ALM-PowerPlatform-Sandbox\PowerPlatformALMTestSolution\SolutionPackage' because it does not exist."

I think the problem is when I click on "deploy solution" using the canvas app with advanced settings off and with target "validation" selected. The pipeline triggers with reference to the "Power

[2022-02-02 17:00] mikefactorial commented on #1912
@GaborVig thanks for the details. This may be a bug. The deployment to the validation environment should result in a Pull Request in Azure DevOps from your personal branch e.g. yourusername-solutionname to the solution branch PowerPlatformALMTestSolution.

![image](https://user-images.githubusercontent.com/42348035/152201043-d0ff875e-5acd-4dc4-b706-85397a21983a.png)

Can you verify what the PR tha

[2022-02-02 19:05] #1293 closed

[2022-02-02 19:05] #1540 closed

[2022-02-02 19:05] #1597 closed

[2022-02-02 19:05] #1706 closed

[2022-02-02 19:05] #1739 closed

[2022-02-02 19:05] #1766 closed

[2022-02-02 19:05] #1769 closed

[2022-02-02 19:05] #1770 closed

[2022-02-02 19:05] #1771 closed

[2022-02-02 19:05] #1775 closed

[2022-02-02 19:05] #1783 closed

[2022-02-02 19:05] #1785 closed

[2022-02-02 19:05] #1786 closed

[2022-02-02 19:05] #1796 closed

[2022-02-02 19:05] #1802 closed

[2022-02-02 19:05] #1810 closed

[2022-02-02 19:05] #1819 closed

[2022-02-02 19:05] #1822 closed

[2022-02-02 19:05] #1825 closed

[2022-02-02 19:05] #1826 closed

[2022-02-02 19:05] #1832 closed

[2022-02-02 19:05] #1835 closed

[2022-02-02 19:05] #1836 closed

[2022-02-02 19:06] #1876 closed

[2022-02-02 19:06] #1877 closed

[2022-02-02 19:06] #1892 closed

[2022-02-02 19:06] #1901 closed

[2022-02-02 21:19] GaborVig commented on #1912
No pull request gets created. Only the pipeline starts and fails as before:
Cannot find path 'D:\a\1\s\ALM-PowerPlatform-Sandbox\PowerPlatformALMTestSolution\SolutionPackage' because it does not exist."

I also tried to set the deployable deployment settings on the related Validation profile back to "Not Allowed" how it was originally configured. Now I can only select Test and Prod targets as expe

[2022-02-02 22:59] mikefactorial commented on #1912
@GaborVig based on the error message it looks like there is an issue with the ServiceConnection variable on the deployment pipeline i.e. it is trying to connect to undefined.crm.dynamics.com. Double check this in your pipeline. Docs are here (https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-almacceleratorpowerplatform#create-environment-and-service-connection-required)

![image](

[2022-02-03 07:09] gillesmeyer commented on #1911
Hi @mikefactorial. I'd be glad to contribute.

Setting values as integer works out of the box but I did not find a simple/clean way of fetching flows statuses as integers using `Microsoft.Xrm.Data.PowerShell` or anything that would be available in the pipeline templates.

I'd appreciate some hints for this.

[2022-02-03 08:35] joegiac commented on #1880
Hi Jenefer,

Finally got to the bottom of this, and it was a silly gotcha I've picked up in the past. Step 4 for testing the custom connector:

![image](https://user-images.githubusercontent.com/64542179/152307529-b31c0dc5-61d4-4b9d-8124-d1a4234431bf.png)

It's not the TenantID that should be pasted into the PublisherIdentifer but the ClientID, correct?

It works after having done this. Sorry for

[2022-02-03 09:06] manuelap-msft commented on #1907
Hello,

we are using the quick measures in Power BI for these cards, so the formulas are auto generated (see https://docs.microsoft.com/en-us/power-bi/transform-model/desktop-quick-measures). They are based on information in the Audit Log table.

A couple of ideas for what could cause this are:
- insufficient data in the Audit Log table to do month on month comparision (e.g. the Audit Log has only

[2022-02-03 09:26] NPrice99 opened #1916 "Be able to view CoE Dash board from another Tenant"
**Is your feature request related to a problem? Please describe.**
I manage two tenancies and I run the CoE in both.  I frequently get asked to view the DEV tenancy's report from the production tenancy.

**Describe the solution you'd like**
I would like to be able to view the PowerBI Dashboard for the CoE from another tenancy

**Describe alternatives you've considered**
I have tried viewing the Po

[2022-02-03 09:44] remzoa commented on #1907
Hi Manuela.

The Audit Logs have been present and gathering data since 2020, but we have had issues that the data gathered is not complete, we are receiving e-mails with notification that the chunks are to large.
We have changed the TimeInterval-Unit to minute and the TimeInterval-Interval to 5, and are receiving a lot less of these e-mails, but they are still coming. Just to make it clear of the

[2022-02-03 09:56] A-Demir-ilx opened #1917 "[CoE Starter Kit - BUG] Upgrading Coe D4T core 3.10 > 3.12"
### Describe the issue

Hello,

I am getting the below error when I try to upgrade the 3.10 version of the CoE Starter kit Core components for teams to version 3.12.

Solution "CenterofExcellenceCoreComponentsTeams_3_12_managed.zip" failed to import: Solution Upgrade action failed after import as holding. InnerException is: Solution dependencies exist, cannot uninstall. DependencyCount : 1 Require

[2022-02-03 11:33] manuelap-msft commented on #1917
Hello,
looking at the error message, can you confirm you have created a workflow called  **Power Platform opschonen - Clean resource** as part of extending the kit?

[2022-02-03 11:40] misskristine94 commented on #1764
Hi @ey-drien, I'm currently having the same unfortunately. I've installed the CoE quite a few times previously and haven't had this error before so trying to get to the bottom of it too. If I manage to find the cause, I'll share it with you. Hopefully the CoE team might be able to give us a hand if it's a common error!

[2022-02-03 11:51] medicineshow opened #1918 "[CoE Starter Kit - BUG] Link in email is incorrect"
### Describe the issue

In the starter Kit release email for February, the link to issues and features takes you to June 2021
![image](https://user-images.githubusercontent.com/17124284/152337502-fd85e249-0872-4ab7-8557-f6f7f18d4559.png)

https://github.com/microsoft/coe-starter-kit/milestone/7

![image](https://user-images.githubusercontent.com/17124284/152337432-cedaa214-9020-4a03-9a6c-d1381f950

[2022-02-03 12:28] manuelap-msft commented on #1918
Hello,

the email is sent automatically when we publish a release (https://github.com/microsoft/coe-starter-kit/releases/tag/CoEStarterKit-February2022) and uses the text of the release. Yesterday we forgot to update the link to the correct milestone before we published the release which is why the email used the wrong link. We updated the Release itself since and will be more careful before publi

[2022-02-03 12:28] #1918 closed

[2022-02-03 12:42] A-Demir-ilx commented on #1917
Hi Manuela, I see that the problem is related to the cloud flow which uses the same connection. I have changed the connection of mine custom flow and now it's working.

Thanks!

[2022-02-03 12:42] #1917 closed

[2022-02-03 12:42] manuelap-msft commented on #1917
Great, thanks for confirming!

[2022-02-03 13:05] thondal-evry commented on #1721
Hi, sorry for reopening, but after installing the correct language extension, it still is not populated correctly or is the "tab,tab,tab" supposed to be the titles?
![bilde](https://user-images.githubusercontent.com/55357093/152348413-8bd5f740-5803-4e2a-9cfc-79217571b925.png)

[2022-02-03 13:07] mikefactorial commented on #1086
We will need to implement the ability for a service connection name to be specified on the step or environment record in the deployment profile to allow flexibility. We will need to upgrade existing profiles as part of the release.

[2022-02-03 13:27] thondal-evry opened #1919 "[CoE Starter Kit - BUG] DLP Editor V2 missing information"
### Describe the issue

On entering the dlp editor there is no buttons or anything other than the main title across the screen:
![bilde](https://user-images.githubusercontent.com/55357093/152351152-cb4aed38-a138-4604-bee5-7c665abe35dc.png)

### Expected Behavior

Should show policies and connectors

### What solution are you experiencing the issue with?

Core

### What solution version are you usi

[2022-02-03 14:07] tomsinsight opened #1920 "[ALM Accelerator - BUG]: How to provide deployment profile data?"
### Describe the issue

Hello,

As described [here](https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-almacceleratorpowerplatform-deployment-profiles), under deployment profile creation - should I provide the name or URL?

Thanks,

### Expected Behavior

_No response_

### What component are you experiencing the issue with?

ALM Accelerator Canvas App

### What solution version ar

[2022-02-03 14:27] manuelap-msft commented on #1721
It should look like this
![image](https://user-images.githubusercontent.com/55705669/152361845-205325fb-3df5-44f4-87ba-2c385dba959b.png)

and I have verified that this is what it looks like in our shipped version. This does not seem to be a bug with the CoE kit. Maybe installing the language pack after installing the kit has led to this behaviour. You may have to edit the model driven app to fix t

[2022-02-03 14:29] manuelap-msft commented on #1919
Hello,

I don't repo this, can you help with debugging

- are you assigned the Power Platform Admin role?
- if you check aka.ms/ppac can you see DLP policies there?
- If you open the app in edit mode, does it show any errors?

Please note that this app will only work for Power Platform Admins with access to the tenant, and not Environment Admins who only have access to a few environments.

Manuela

[2022-02-03 14:52] manuelap-msft opened #1921 "[CoE Starter Kit] Error handling for bots without components"
It looks like it's possible to have bots without components (empty bots?) perhaps created during test scenarios. Currently our PVA sync flow assumes that bots have components so we may need to strengthen error handling around this

![image](https://user-images.githubusercontent.com/55705669/152366526-f617c5f7-6519-4c10-8ca7-a92581b4127d.png)

[2022-02-03 14:56] tomsinsight opened #1922 "[ALM Accelerator - BUG]: Questions related to App Configuration"
### Describe the issue

Hello Team,

I have succesfully deploy the ALM through CLI, however as a next step, I require to configure the solution where I am stuck with the following questions - would you please help?

1. What is Team Maker experience?
2. Are target environments like dev-test-prod are used for "ALM Accelerator" solution management??? Does it mean that all solutions developed in MPP t

[2022-02-03 15:12] mikefactorial commented on #1920
@tomsinsight can you elaborate on which step you're referring to? Screenshots may help. Thanks

[2022-02-03 15:20] tomsinsight commented on #1920
Sure, Thank you for the response, it's basically under "ALM Accelerator for Power Platform Administrator" under "Deployment Profile" area

![image](https://user-images.githubusercontent.com/98403757/152371830-563cb8c9-e304-4437-8d0f-628978e360de.png)

[2022-02-03 15:24] mikefactorial commented on #1922
@tomsinsight I'll do my best to explain based on my understanding of the questions.

1. Not totally sure what you're referring to, but users can have User Settings assigned to them (these are different experiences) in the app where certain features can be toggled on / off and some of the names of things like Commit, Deploy etc. can be changed. We have examples of two types of experiences in the do

[2022-02-03 15:34] mikefactorial commented on #1920
@tomsinsight recommend following the directions in the doc you referenced for setting up deployment profiles (https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-almacceleratorpowerplatform-deployment-profiles#creating-alm-accelerator-profiles-using-the-aa4pp-app). They can be configured initially with the defaults from the app and then modified as needed in the admin app.

[2022-02-03 15:36] mikefactorial commented on #1920
Here's a sample if it helps
![image](https://user-images.githubusercontent.com/42348035/152375015-18e59d6f-b51c-4c9d-b5a3-6d1a9e5de96e.png)

[2022-02-03 16:19] tomsinsight commented on #1920
Thank you for the explanation - would you please share which repo/branch should I update here? - (I am currently in the process to understand how ALM solution works so starting with demo/default components)

I think the repo and target branches were created during the installation - right? however I am unsure which branch should I select here

![image](https://user-images.githubusercontent.com/984

[2022-02-03 17:08] mikefactorial opened #1924 "[ALM Accelerator - BUG]: issue title"
### Describe the issue

asdf

### Expected Behavior

_No response_

### What component are you experiencing the issue with?

ALM Accelerator Canvas App

### What solution version are you using?

asdf

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-02-03 17:09] mikefactorial opened #1925 "[CoE Starter Kit - BUG] your issue"
### Describe the issue

asdf

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Governance

### What solution version are you using?

asdf

### What app or flow are you having the issue with?

asdf

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-02-03 17:09] mikefactorial opened #1926 "[CoE Starter Kit - BUG] your issue"
### Describe the issue

asdf

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Governance

### What solution version are you using?

asdf

### What app or flow are you having the issue with?

asdf

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-02-03 17:09] #1926 closed

[2022-02-03 17:09] #1925 closed

[2022-02-03 17:10] #1924 closed

[2022-02-03 17:33] GaborVig commented on #1912
Following the ServiceConnection variable update, the pipeline started working as expected. I will share the pipeline log shortly with you. Thank you for your help.

[2022-02-03 17:47] mikefactorial opened #1927 "[CoE Starter Kit] Update Issue Templates and Project Workflow"
**Describe the solution you'd like**
Update the project workflow to point to beta projects and create separate issue templates for ALM and CoE with appropriate labels.

[2022-02-03 17:48] mikefactorial opened #1928 "[CoE Starter Kit - BUG] ISSUE TITLE"
### Describe the issue

Testing new issue template

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

Latest

### What app or flow are you having the issue with?

Admin

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2022-02-03 17:54] #1928 closed

[2022-02-03 18:56] mikefactorial commented on #1596
@EElane just ran across this while triaging issues. Sorry it took so long to respond it seemed to slip through the cracks. Is this still an issue?

[2022-02-03 19:17] mikefactorial commented on #1419
Closing this issue as resolved

[2022-02-03 19:17] #1419 closed

[2022-02-03 19:21] mikefactorial commented on #1458
@stefanjackmuth sorry for the delayed reply on this. Unfortunately, lost track of this issue. Closing for now, but please feel free to open a new issue if this is still a problem.

[2022-02-03 19:21] #1458 closed

[2022-02-03 20:54] mikefactorial commented on #1865
@andrewgaskins I believe this has been fixed now with the February release per #1550. However, feel free to open a new issue if it persists with the latest code in main for the coe-cli

[2022-02-03 20:54] #1865 closed

[2022-02-03 20:56] mikefactorial commented on #1865
@andrewgaskins and @rfarris2000 As a heads up on what the solution was. We've removed the cloning of existing pipelines (unless the source build is explicitly specified). This was kind of a hold over from previous versions and not necessary anymore. We also updated the cli to ensure that the repo passed in is set correctly on the build regardless of whether the build is cloned or not.

[2022-02-03 21:00] mikefactorial commented on #1818
@gillesmeyer agree with your points above. For number 3, I'm going to create a separate issue to investigate how to better handle this in the pipelines. There's some fragility here that I'd like to get rid of. Closing this for now. Thank you both for all the feedback and assistance in running this to ground. Feel free to open a new issue if you have any follow up.

[2022-02-03 21:00] #1818 closed

[2022-02-03 21:04] mikefactorial commented on #1920
@tomsinsight [Use Solution Branches] in the branch dropdown is the default configuration. Leave that value selected. The repository is the repo that you will be source controlling your solution in. This is the same repo you specified in the setup but the profiles allow for flexibility to target other repos if you decide to have specific repos for specific solutions.

For the question about dev-tes

[2022-02-03 21:34] mikefactorial commented on #1596
Feel free to open a new issue if you need more assistance here.

[2022-02-03 21:34] #1596 closed

[2022-02-03 21:41] mikefactorial commented on #1729
Closing as resolved

[2022-02-03 21:41] #1729 closed

[2022-02-03 21:44] mikefactorial commented on #1550
@rfarris2000 this should be resolved with the February Release of the CoE Starter Kit. We've updated the coe-cli to ensure that the repo passed in is set on the new pipelines appropriately.

[2022-02-03 21:44] #1550 closed

[2022-02-03 21:46] mikefactorial commented on #118
We've published docs at https://docs.microsoft.com/en-us/power-platform/guidance/coe/almacceleratorpowerplatform-components. Closing this issue

[2022-02-03 21:46] #118 closed

[2022-02-03 21:56] mikefactorial commented on #1902
@medicineshow closing this out. Feel free to follow up on #1821

[2022-02-03 21:56] #1902 closed

[2022-02-03 22:14] mikefactorial opened #1935 "[ALM Accelerator - Feature]: Handle Invalid URLS in Export Pipeline"
### Is your feature request related to a problem? Please describe.

Now that the urls are being fed to the export pipeline via deployment steps it's possible that users may not enter valid urls and as a result the export pipeline can fail with cryptic messages.

### Describe the solution you'd like

Handle invalid urls more cleanly in the export pipeline. Specifically, in the update deployment set

[2022-02-04 09:54] thondal-evry commented on #1919
I was able to view some data when creating a test dlp manually in the standard DLP editor.

But the DLP editor states that you can create a new policy, but I cannot see any button for this?

"Use the DLP Editor to view how apps and flows in your tenant are impacted by DLP Policies. Select an existing DLP Policy or create a new one, update connector groups and environments and view the impact your

[2022-02-04 10:34] medicineshow opened #1937 "[CoE Starter Kit - Feature]: Env Variable Description- Production environment variable"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

The Production Environment variable text states: ProductionEnvironment
true by default. set to false if you are creating a dev type envt. this will allow some flows to set target users to the admin instead of object owners.
In reality, the settings are input as Yes or No.
Perhap

[2022-02-04 11:09] redleo85 opened #1938 "[CoE Starter Kit - BUG] Set App/Flow Permissions not finding all makers"
### Describe the issue

When using the canvas apps "Set App Permissions" or "Set Flow Permissions" I do not find the users whose app I want to set the permissions for.

I enter the lastname into the search box, but no records are found.

The person definitely exist in our makers list. Our makers list is large. We have more than 3000 entries. But In the app only about a few hundred are shown.

###

[2022-02-04 12:12] manuelap-msft commented on #1919
We had to remove the ability to create new DLP policies from the DLP Editor due to some product limitations (in the admin connector). Our recommendation is to create a policy in the Power Platform Admin Center with your desired connector combination, don't assign it to any environments at first, then go to the DLP Editor to pick that policy and apply it to environments there.

Let me know if you n

[2022-02-04 12:17] michastauffer opened #1939 "[CoE Starter Kit - BUG] Error trying to setup audit log"
### Describe the issue

when trying to setup the audit log solution. i get the following error after selecting a user, when creating a connection:
![image](https://user-images.githubusercontent.com/91253916/152527658-ff955e09-f420-4720-81e2-7123b28bde33.png)

### Expected Behavior

create connection successfully

### What solution are you experiencing the issue with?

Audit Log

### What solution

[2022-02-04 13:05] mikefactorial opened #1940 "[ALM Accelerator - Feature]: Placeholder for ALM Accelerator Docs Updates for April 2022"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Placeholder for ALM Accelerator Docs Updates for March 2022

### Describe alternatives you've considered

_No response_

### Additional context?

_No response_

[2022-02-04 13:22] mikefactorial opened #1941 "[ALM Accelerator - Feature]: Placeholder update npm packages March 2022"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

As part of the monthly release need to ensure that dependencies are up to date for coe-cli

### Describe alternatives you've considered

_No response_

### Additional context?

_No response_

[2022-02-04 14:18] jenschristianschroder opened #1942 "[ALM Accelerator - Feature]: Button/Link to give feedback"
### Is your feature request related to a problem? Please describe.

Add button/Link in Canvas App to jump to Issues/Discussions to give feedback/report issue

### Describe the solution you'd like

Add button/Link in Canvas App to jump to Issues/Discussions to give feedback/report issue

### Describe alternatives you've considered

_No response_

### Additional context?

_No response_

[2022-02-04 14:37] tomsinsight opened #1943 "[ALM Accelerator - BUG]: Why do we specify the three different environments in CLI installation process?"
### Describe the issue

Hello,

As per my current understanding, the ALM Accelerator will be deployed in the single environment - which is basically a prod environment? If so, why do we specify three different MPP environments? Would you please help clarify? what is the purpose of having three different environments for ALM accelerator if ALM solution is not being deployed in other two environment

[2022-02-04 14:48] mikefactorial opened #1944 "[ALM Accelerator - Feature]: Pipeline Extensibility"
### Is your feature request related to a problem? Please describe.

Currently it's not possible to extend the ALM Accelerator pipelines without being overwritten during an upgrade.

### Describe the solution you'd like

Add hooks to pipelines to call other pipeline templates. Should be optional based on if hook exists.

### Describe alternatives you've considered

Alternative may be to try and mer

[2022-02-04 15:13] tomsinsight opened #1945 "[ALM Accelerator - BUG]: Save Solution button is not appearing"
### Describe the issue

Hello,

After succesful deployment of ALM Accelerator, I have created maker experience as follows:
![image](https://user-images.githubusercontent.com/98403757/152552976-d4cd3297-18d4-4161-8216-468a8d8304f7.png)

After that, when I open the ALM Accelerator canvas app, it always shows "Commit Solution" and "Deploy Solution" option - why not "Save Solution" option?

![image](h

[2022-02-04 15:22] tomsinsight opened #1946 "[ALM Accelerator - BUG]: New Maker Experience understanding"
### Describe the issue

Hello,

As per this video - https://www.youtube.com/watch?v=u4_hG-Lm4nY It shows how maker can save and deploy the solution - however I have a question as follows - can you please help?

As I understand - "Save solution" deploys solution file to DevOps Repository as per the associated solution profile then what does "Deploy Solutions" do?

Also, when I tried to commit solut

[2022-02-04 15:51] StevieBleeds opened #1947 "[CoE Starter Kit - Feature]: License consumption and app usage for model-driven apps"
### Is your feature request related to a problem? Please describe.

One of the challenges we're finding is managing the per app / user license consumption for model-driven apps. Ideally, we would be able to see which user has a per user / app license and if they are using it as part of that app. We also cannot view model-driven app usage either

### Describe the solution you'd like

A tab in the C

[2022-02-04 15:52] TBag opened #1948 "[ALM Accelerator - BUG]: export-solution-to-git - Update Deployment Settings - permission error"
### Describe the issue

In the export-solution-to-git DevOps pipeline, the Update Deployment Settings action fails with the following permissions error.  Did I miss a setup step to grant permissions?  I double checked I followed all steps.

2022-02-04T15:00:30.1932464Z ##[section]Starting: Update Deployment Settings
2022-02-04T15:00:30.2077080Z =====================================================

[2022-02-04 16:17] manuelap-msft commented on #1947
The CoE Starter Kit is built on top of the Power Platform, and as such we can only surface information the platform provides us - there are currently no APIs or data stores that provide license information  or model driven app usage. As these are product gaps, I would recommend you raise them in the Power Users Ideas forum https://powerusers.microsoft.com/t5/Power-Apps-Ideas/idb-p/PowerAppsIdeas t

[2022-02-04 16:21] albertocaa1317 commented on #1947
Hi @StevieBleeds,
if you add this Idea in the forum paste me the url. You have my vote. I am in the same situation.

[2022-02-04 17:41] mikefactorial commented on #1945
@tomsinsight you can change the names using the User Labels configuration on the User Settings

![image](https://user-images.githubusercontent.com/42348035/152576839-6a56a04c-1d60-4562-b635-739c95d61b02.png)

[2022-02-04 17:41] #1945 closed

[2022-02-04 17:44] mikefactorial commented on #1948
@tbag Looks like an issue with the build service's permissions to edit pipelines.
Verify #7 https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-almacceleratorpowerplatform#update-permissions-for-the-project-build-service

[2022-02-04 17:45] mikefactorial commented on #1948
User should be the [Your Project Name] Build Service ([Your Organization Name])

[2022-02-04 17:47] mikefactorial commented on #1948
Here's an example
![image](https://user-images.githubusercontent.com/42348035/152577622-8538b855-4eee-4aed-8de8-5a4f9b22d184.png)

[2022-02-04 17:50] TBag commented on #1948
Thanks @mikefactorial!  Really appreciate the quick reply!!!

I did the CoE CLI setup and I see this step is on the manual setup instructions page.  Are there also other steps on the manual setup instructions I should follow after doing the CoE CLI setup?

[2022-02-04 17:54] mikefactorial commented on #1948
Hey Todd, that's the only manual step required after setup to get the app running, but do look at https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-almacceleratorpowerplatform-deployment-profiles to setup the experiences and profiles.

[2022-02-04 17:55] mikefactorial commented on #1948
Ultimately we'd like to automate some of this initial setup as well using the CLI but haven't quite gotten there yet.

[2022-02-04 17:59] mikefactorial opened #1949 "[CoE Starter Kit - Feature]: Azure DevOps Setting and Sample Install"
### Is your feature request related to a problem? Please describe.

Currently, the CLI doesn't automate the install / first use experience fully.

### Describe the solution you'd like

- [x] Update the CLI to set the appropriate Azure DevOps permissions
- [ ] Install ALM Accelerator Sample Solution
- [ ] Create a default Deployment User Settings and Deployment Profile for the supplied information

[2022-02-04 18:20] mikefactorial opened #1950 "[ALM Accelerator - coe-cli Feature]: Add Upgrade to coe-cli"
### Is your feature request related to a problem? Please describe.

Currently upgrading the ALM Accelerator is not supported by the coe-cli.

### Describe the solution you'd like

Add an upgrade option to the coe-cli to import the latest solution and update the pipeline templates. Additionally, include other ad-hoc steps for an upgrade process as needed.

### Describe alternatives you've considere

[2022-02-04 18:58] justinwkruse opened #1951 "[ALM Accelerator - BUG]: Activate Flows for Connection References Fails for Custom Connector Connection"
### Describe the issue

During the **Build and Deploy** job at the **Activate Flows for Connection References** step getting an error

************ FaultException`1 - SetState : Setting Activity State in CRM... workflow |=> Flow client error returned
with status code "Forbidden" and details "{"error":{"code":"ConnectionAuthorizationFailed","message":"The caller with
object id '9521c89f-dcba-445a-9

[2022-02-04 19:14] mikefactorial commented on #1951
@justinwkruse thanks for bringing this up. Should I assume that there are multiple connections in the target environment that were created by different users?

[2022-02-04 19:29] justinwkruse commented on #1951
Thanks @mikefactorial appreciate the help. All connections in downstream environments are tied to our single admin user that we promote/move components under.

In this instance, we did not have a connection created in the target environment for this custom connector. I used the **Configure Deployment Settings** in the ALM Accelerator for Power Platform Canvas app to create the initial connection.

[2022-02-04 19:34] mikefactorial commented on #1943
@tomsinsight the three environments in question are related to the pipeline execution not to where the ALM Accelerator solution installed. There's an explanation of this here (basic) https://docs.microsoft.com/en-us/power-platform/guidance/coe/almacceleratorpowerplatform-components and here (advanced) https://docs.microsoft.com/en-us/power-platform/guidance/coe/cli/alm/branching-and-merging. Ultim

[2022-02-04 19:39] #1946 closed, assigned to mikefactorial

[2022-02-04 19:40] mikefactorial commented on #1943
Moving to discussion #1952

[2022-02-04 19:40] #1943 closed

[2022-02-04 19:41] mikefactorial commented on #1922
Moving to discussion #1952

[2022-02-04 19:41] #1922 closed

[2022-02-04 19:41] mikefactorial commented on #1920
Moved to discussion #1952

[2022-02-04 19:41] #1920 closed

[2022-02-04 19:43] mikefactorial commented on #1943
#1943
Q:
[](https://user-images.githubusercontent.com/98403757/152546880-20a3396f-f5b0-4868-8cb9-39d4e54a3b62.png)Hello,

As per my current understanding, the ALM Accelerator will be deployed in the single environment - which is basically a prod environment? If so, why do we specify three different MPP environments? Would you please help clarify? what is the purpose of having three different envir

[2022-02-04 20:00] AkashPatel136 opened #1953 "[CoE Starter Kit - BUG] Add link to Admin Email for Timeouts too in Orphan Cleanup Flows"
When a user left the org Power Platform asset is marked as Orphaned because the user is no longer working. In this case, the manager receives the team's notification with an option to Take Ownership or another option but it does not work I guess because those assets are inside the solution. In this case, since it does not work some of the users ignore it and they keep receiving these emails.

Is i

[2022-02-04 21:34] albertocaa1317 opened #1954 "[CoE Starter Kit - BUG] Admin Command Center | Emails | Add preview for Localized mails"
### Describe the issue

Hi,
Why is the function of the button Localize of the option Emails in the Admin Command and Setup Center?

![image](https://user-images.githubusercontent.com/57954993/152606028-572e20f7-d1cc-4f57-a794-4f0256efda5a.png)

When I click it from all flows I have this windows:
![image](https://user-images.githubusercontent.com/57954993/152605954-7bb0bf02-b6d3-4352-88c5-26ba73996

[2022-02-05 12:03] devkeydet commented on #16
Now that custom connector ALM has been improved in the platform, we can use those capabilities instead.
https://powerautomate.microsoft.com/en-us/blog/environment-variables-in-custom-connectors/

[2022-02-05 12:04] devkeydet commented on #9
Now that custom connector ALM has been improved in the platform, we will use this:
https://powerautomate.microsoft.com/en-us/blog/environment-variables-in-custom-connectors/

[2022-02-05 13:48] devkeydet opened #1956 "[ALM Accelerator - BUG]: Sample Solution has new_ prefix in SharePoint Connection reference"
### Describe the issue

![image](https://user-images.githubusercontent.com/4499296/152644639-c2928a36-95d8-4b0d-a133-51d7704c6c70.png)

### Expected Behavior

Should have the same prefix as the solution publisher: "cat_".

### What component are you experiencing the issue with?

ALM Accelerator Canvas App

### What solution version are you using?

1.0.20220201.1

### Steps To Reproduce

_No respon

[2022-02-05 14:53] devkeydet opened #1958 "[ALM Accelerator - BUG]: PR pipeline doesn't attempt upgrade when labeled"
### Describe the issue

Working on an issue that warranted removing a solution component.  Submitted a PR:
https://github.com/microsoft/coe-starter-kit/pull/1957
Solution didn't import as upgrade in validation environment

### Expected Behavior

Deploy to validation as an upgrade

### What component are you experiencing the issue with?

ALM Accelerator Pipelines

### What solution version are you

[2022-02-05 17:38] devkeydet opened #1960 "[ALM Accelerator - Feature]: Make Configuration Migration configurable"
### Is your feature request related to a problem? Please describe.

Currently, our approach to importing configuration migration data is based on convention.

### Describe the solution you'd like

We should consider changing this to be configurable via customDeploymentSettings.json.

### Describe alternatives you've considered

_No response_

### Additional context?

_No response_

[2022-02-05 18:14] devkeydet commented on #1958
Note that if you look in our validation environment, you will see in the import history that an upgrade was performed.  Don't be distracted by that.   I manually ran an upgrade to validate the solution components were removed and manually tested that the sample app works in that environment as expected.

[2022-02-06 07:16] albertocaa1317 opened #1963 "[CoE Starter Kit - Feature]: Admin Command center | Setup | Reset Flows | Button to exit of the window after reset the flows"
### Is your feature request related to a problem? Please describe.

I think that is necesssary have to an option to exit of this window, in Reset flows of the audit logs, full inventory...

![image](https://user-images.githubusercontent.com/57954993/152671165-f499f3ed-12c3-406a-9284-91b5982a1066.png)

### Describe the solution you'd like

.

### Describe alternatives you've considered

_No respons

[2022-02-06 21:59] devkeydet opened #1964 "[ALM Accelerator - Feature]: upgrade vmImage to windows-2022"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

upgrade vmImage to windows-2022

### Describe alternatives you've considered

_No response_

### Additional context?

_No response_

[2022-02-07 08:40] StevieBleeds commented on #1947
@albertocaa1317 Sure thing, here is the link - https://powerusers.microsoft.com/t5/Power-Apps-Ideas/View-license-consumption-and-app-usage-for-model-driven-apps/idi-p/1449045#M35364

[2022-02-07 08:40] #1947 closed

[2022-02-07 08:51] albertocaa1317 commented on #1947
Voted!

[2022-02-07 10:40] manuelap-msft commented on #1954
Hello,

that should work - have you clicked Add Language to add a new localized language?

Thank you
Manuela

[2022-02-07 11:51] albertocaa1317 commented on #1954
Sorry @manuelap-msft  , today it's workink fine.

Is documented how configure more languages? I see the option to add language but I don't have clear how to configure them.

I created the spanish version to the notification about apps impacted with a DLP:

![image](https://user-images.githubusercontent.com/57954993/152782798-331d7d18-3673-4707-8a29-e92522177341.png)

But I sended a preview and I r

[2022-02-07 12:02] tomsinsight commented on #1943
Thanks Mike for clarifying, so I understand as below:

1. ALM Accelerator will be installed only in the single environments.
2. Maker who develops their app - "Maker App 1" is in his/her own development environment lets say - Dev Environment 1.
3. When Makers come to the ALM App, they will further deploy "Maker App 1"  from dev environment to validation environment ( Val Environment 1) to validate

[2022-02-07 12:54] BhargavPrasadGorakanti opened #1966 "[CoE Starter Kit - BUG] Unable to reassign owners for orphaned flows with Admin | Archive and Clean Up v2 flow"
Hi, I want to report a bug / unexpected behavior in this power automate flow from "Center of Excellence - Governance Components" solution (version # - 2.10 - "Admin | Archive and Clean Up v2 (Start Approval for Flows)". The flow is unable to re-assign owners for flows that are orphaned.

Pic 2 shows that the flow entered the "No" branch but input parameter value was empty. However as per condition

[2022-02-07 14:34] manuelap-msft commented on #1954
Hello,

we're still working on the documentation - our goal for February/March is to improve our how to use instructions, thank you for your patience :)

For the Admin, it depends on the Admin email Preferred Language. For everyone else, it depends on the preferred language set in their Office 365 Profile.

Manuela

[2022-02-07 15:00] albertocaa1317 commented on #1954
Sorry for my im-patience!! 😅 I am very exciting with the latest improves of this admin command center and I investigating how to do to use them.
I'll wait, silent  😂

[2022-02-07 15:46] poppynka opened #1967 "[CoE Starter Kit - BUG] Microsoft Teams Admin | Weekly Clean Up of Microsoft Teams environments fails to send email to administrator"
### Describe the issue

Hi, I have found this one:

Flow **Microsoft Teams Admin | Weekly Clean Up of Microsoft Teams environments** fails to evaluate the condition in the step "Send email if either array non-empty", the subcondition for non-empty array of deleted environments when no Teams environment was deleted. The flow throws following message:

_Unable to process template language expression

[2022-02-07 16:02] JQEP opened #1968 "[CoE Starter Kit - BUG] Field is of type string but DateTime was specified"
### Describe the issue

Upgrading / updating the CoE starter kit is not working. Getting the following error: Attribute admin_rpamodifiedon is a String, but a DateTime type was specified. with Code 80041A06. Cannot change or remove this field. I have tried importing from the classic view. But nothing seems to solve this issue. I am aware I am upgrading from quite an older version.

### Expected Be

[2022-02-07 16:38] manuelap-msft commented on #1968
Hello,

are you upgrading from 1.44?

Thank you
Manuela

[2022-02-07 17:05] JQEP commented on #1968
Yes, I am.

[2022-02-07 17:09] manuelap-msft commented on #1968
Unfortunately we are only able to help with Upgrades for versions 3 month back, I believe 1.14 may be over a year old - check here for how to get notifications when a release comes out: https://docs.microsoft.com/en-us/power-platform/guidance/coe/after-setup#installing-upgrades

Since 1.14 the solution experience in the product has changed so much, introducing things like environment variables and

[2022-02-07 17:17] Ballzer0 commented on #1958
im currently experiencing the same isseue.

Have my pull request labeled with **solution-upgrade**
![image](https://user-images.githubusercontent.com/28560729/152837934-10219ae0-dbb0-4996-8f4f-cfe09d71d6a0.png)

But it still imports as an **update**
![image](https://user-images.githubusercontent.com/28560729/152837688-9e22636a-b58a-4c45-995e-63d1279d9915.png)

This is blocking us from being able t

[2022-02-07 17:20] Ballzer0 commented on #1958
Im experiencing this to test aswell, not just validation

[2022-02-07 17:59] keharrin opened #1969 "[CoE Starter Kit - BUG] Changing environment variable values in the Admin - Command Center"
### Describe the issue

We are receiving the message that the COE Audit Logs require smaller chunks.

I did read the information on issue #1754 regarding changing the environment variables.

I attempted to use the Admin- Command Center app to update the default values.

However when I check the environment settings from within the Center of Excellence Audit logs solution, the defaults are not chan

[2022-02-07 18:45] devkeydet opened #1970 "[ALM Accelerator - Feature]: Create UX in canvas app for existing deployment settings"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

We have this functionality in our pipelines to handle the following scenario:
- Create or update group team for aad group
- Assign security roles to group team

However, we don't have a UX for it in the canvas app.  So, figuring out how to use the feature in the accelerator is c

[2022-02-07 18:49] manuelap-msft commented on #1969
You can not change the Default Value of the Environment Variable as that is shipped with our managed solution, you can only change the Current Value.

The way environment variables work if used in an app or flow is
- look at current value
- if current value is not there, use default value

So setting a Current Value will "overrule" the Default Value we provide.

[2022-02-07 18:53] manuelap-msft commented on #1966
Hello,

this is a caught and handled error. If you hover over the (i) icon you can see that the failure of the Recheck Orphan Status query is caught and the flow proceeds to the Switch statement. It looks like there's an error happening in the Switch statement, you will have to expand that statement to see what error is happening and share that back with us here for further analysis.

Thank you
Ma

[2022-02-07 18:54] Grant-Archibald-MS commented on #521
# Overview
To support integration testing was to move towards [shift left testing](https://docs.microsoft.com/en-us/devops/develop/shift-left-make-testing-fast-reliable) of Azure DevOps Pipelines:
1. **Level 0 Tests (In Memory)** - Investigate [PowerShell Yaml](https://github.com/cloudbase/powershell-yaml) to ensure properly formatted yaml files locally
1. **Level 2 Test (What if tests with Azure

[2022-02-07 18:55] manuelap-msft commented on #1939
This looks like a product issue, unrelated to the CoE Starter Kit. The screen you are seeing the error with is the usual Microsoft login-screen driven by Azure Active Directory.

If you are still seeing an issue, please raise a support ticket with MS support https://docs.microsoft.com/en-us/power-platform/admin/get-help-support

[2022-02-07 18:55] #1939 closed

[2022-02-07 18:57] keharrin commented on #1969
Yes.  I thought that is the intent of the Power App Admin-Command Center.  However, it is not saving the current value.  Therefore we continue to get the email messages that the COE Audit Logs require smaller chunks.

What are specific steps to change the default values so that this message is addressed.

[2022-02-07 18:58] manuelap-msft commented on #1938
Hello,

thanks for the detailed analysis and helping us understand what the issue is, this is super helpful! This app was created many moons ago ;) when Power Platform adoption at customers was much smaller, so we didn't think of potential delegation issues back then.

I've added it to our backlog to re-work the app to avoid delegation issues!

PS, in case you are interested, longer term we're loo

[2022-02-07 19:01] manuelap-msft commented on #1969
1. The Default value can not be changed. Only the Current Value can be changed. Check here how to update the environment variable outside the Command Center app if this isn't working for you: https://docs.microsoft.com/en-us/power-platform/guidance/coe/faq#update-environment-variables
2. You need turn flows using this enviornment variable (in this case the Audit Log flows) off and back on to fetch

[2022-02-07 19:03] manuelap-msft commented on #1937
Hello,

you're right! I updated the description of this environment variable to use Yes/No now to make that clearer:
![image](https://user-images.githubusercontent.com/55705669/152854431-403eceb0-d269-4339-a826-d9f777acbb2e.png)

This will be part of the next release!

Thanks for letting us know,
Manuela

[2022-02-07 19:04] devkeydet opened #1971 "[ALM Accelerator - Feature]: Ensure user has permission to execute flows"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

When a canvas app in a solution calls a flow, the user of the app needs at least read permission the record in the Process table that represents the flow.
https://docs.microsoft.com/en-us/powerapps/maker/data-platform/solutions-overview#additional-privileges-required
![image](ht

[2022-02-07 19:06] manuelap-msft commented on #1916
Hello,

unfortunately that's not something we can help with, the CoE kit currently does not support multi-tenancy. There's two approaches I've seen customer take who needed this - one was using Dataflows to move data from one tenant into a "main" tenant, typically this was done when all-up reporting across all tenants needed to be done, or what might work for your scenario is adding the account yo

[2022-02-07 19:06] #1916 closed

[2022-02-07 19:19] manuelap-msft commented on #1527
We missed closing this out. This was fixed with the December release, as per #1442

[2022-02-07 19:19] #1527 closed

[2022-02-07 19:21] manuelap-msft commented on #1744
Hello,

I confirmed this is a product bug, unrelated to the CoE Starter Kit. Closing this issue as our team can't assist further here.

[2022-02-07 19:21] #1744 closed

[2022-02-07 19:27] devkeydet commented on #1971
We ran into this when our canvas tests were failing because the user we run our tests as didn't have read permission to the process records that the canvas app calls.  We had to manually share the flow records with our group team using ppac then rerun the tests.  Once we did.  The tests succeeded.

[2022-02-07 19:28] DaveTheTeamsGuy opened #1972 "[CoE Starter Kit - BUG] Maker - Command Center - no content in Apps"
### Describe the issue

I've recently completed an install of the core components and I noticed that there isn't anything on the Apps screen of the Maker Command Center.  I have owner rights to the environment and solution, should I be seeing something there?  I was hoping to share this with the makers in our environment.  There's no documentation covering the app, so not sure what I should expect

[2022-02-07 20:18] TBag commented on #1948
Hi @mikefactorialm thanks for the assistance here.

I followed the steps in step 7 https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-almacceleratorpowerplatform#update-permissions-for-the-project-build-service and I still get the same permission related error.

Could this be due to something else related to upgrading?  I ask because after I upgraded and installed the latest manage

[2022-02-07 20:31] AntonRobbins opened #1973 "TEAMS COE did not install Custom Connector"
### Describe the issue

Looking to update the custom connector for Audit Log. I do not see the custom connector in powerapps.

### Expected Behavior

Should see custom connector and be able to up date.

### What solution are you experiencing the issue with?

Audit Log

### What solution version are you using?

January 2022

### What app or flow are you having the issue with?

Audit Log

### Steps

[2022-02-07 20:46] Jenefer-Monroe commented on #1973
Hello, Dataverse for Teams does not support custom connectors. As a result, our Teams CoE does not support the audit logs.

Please see [Production or D4T Environment](https://docs.microsoft.com/power-platform/guidance/coe/setup#decide-what-environment-type-to-use-production-or-dataverse-for-teams)
![image](https://user-images.githubusercontent.com/89584709/152869175-38eb893b-7fca-4bff-bba9-563856f

[2022-02-07 21:38] Jenefer-Monroe commented on #1972
Bookmarks for both Admin and Maker are configured in the Admin Command Center.
Browse to the Admin Command Center > Edit Bookmarks
![image](https://user-images.githubusercontent.com/89584709/152876130-027aae24-01e9-48d3-ab37-56ed32e3533b.png)

For each bookmark you will see the ability to display the item in the Maker and/or Admin Command Center
![image](https://user-images.githubusercontent.com/8

[2022-02-07 21:44] Rene- opened #1975 "[CoE Starter Kit - BUG] Tenants with Teams not enabled will not be able to use the CoE Kit."
### Describe the issue

When defining the environment variables at the beginning of the import you are required to use a Teams connection. For Tenants that are not utilizing Teams they won't not be able to use the kit as this environment variable is a "requirement" for the kit to be fully imported.

### Expected Behavior

Importing the kit with no issues

### What solution are you experiencing the

[2022-02-07 21:46] Jenefer-Monroe commented on #1963
You have to hit "Done"

[2022-02-07 21:54] Jenefer-Monroe commented on #1975
I'm not sure what you mean by not utilizing teams.  Are you saying the connector is blocked?
This is a requirement as the sync flows require it in order to monitor Dataverse for Teams environments.

[2022-02-07 21:56] Jenefer-Monroe commented on #1953
In the current version, if some deletes fail, we already send them a note asking that they work with the admin, as shown here.

![image](https://user-images.githubusercontent.com/89584709/152878690-473c6627-5d06-454d-ac7b-3236e7040146.png)

Is this what you mean?

[2022-02-07 21:57] DaveTheTeamsGuy commented on #1972
Thanks, that makes sense!  Closing . . .

[2022-02-07 21:58] #1972 closed

[2022-02-07 22:07] Rene- commented on #1975
apologies I need to add more context.

I am using the non dataverse packaged solution. I am testing this solution in a tenant where teams licenses are not enabled. Is there a workaround for required environment variables? Specifically the Teams connection?

[2022-02-07 22:11] AkashPatel136 commented on #1953
No, when a manager receives a notification in teams regarding taking ownership of the component when her direct report left the company. I have attached an image on the chat earlier which says that the manager direct report "Oliver" left the company who created a cloud flow not since she left the company manager got this notification in teams which giver her all the details with the option to take

[2022-02-07 22:17] AntonRobbins commented on #1973
DUH me.
Thank you.

On Mon, Feb 7, 2022 at 3:46 PM Jenefer Monroe ***@***.***>
wrote:

[2022-02-07 22:17] RAWDEMO commented on #1831
I just installed the newest version of ALM Acelerator (CenterofExcellenceALMAccelerator_1.0.20220131.1_managed.zip) and ran into this issue.  I'm trying to manually configure the CustomAzureDevOps connector using but I keep getting the following error when I test the GetOrganizations action.

![image](https://user-images.githubusercontent.com/99212564/152881489-9a61fe87-54ea-43fb-8aa5-7729081401ae

[2022-02-07 22:22] Jenefer-Monroe commented on #1953
In my testing, after “trying that now”, it returns with a statement of success or failure, the failure pointing the person to the admin. Do they never see a success or failure?
if not, please find the runs for these in the patent and child flows to show here so that I can help debug

[2022-02-07 22:23] Jenefer-Monroe commented on #1973
My pleasure, closing out.

[2022-02-07 22:23] #1973 closed

[2022-02-07 22:31] AkashPatel136 commented on #1953
There is 2 things

When they try to assign to their self they get the below error
![image](https://user-images.githubusercontent.com/75992078/152883018-3cc7b692-c138-4074-9d80-c6f5ab8979fe.png)

When they try to assign to someone else they get the below error
![image](https://user-images.githubusercontent.com/75992078/152883112-ae83a708-35d7-4e67-aedc-480a6b6685b6.png)

The question is can we iden

[2022-02-07 22:45] AdwitiCTS opened #1976 "Power Platform Make Office 365 Group Variable"
Although I created a new M365 Group called Power Platform Makers in my tenant and assigned the correct GUID for the Power Platform Maker Id Environment variable, whenever makers are getting added in the Makers table through the sync flows, the Admin - Add Maker to Group flow fails at the step where it needs to add the maker to the M365 group. Am I missing out any configuration here? Thank you so m

[2022-02-08 01:16] Jenefer-Monroe commented on #1953
That logic is in a child flow and these flows are already quite complex so I would be hesitant to do that, however they should all be letting the person know how to contact you for failures, in other words they should all look like when they try to assign to someone else.

 I will investigate that.

[2022-02-08 07:14] JQEP commented on #1968
Alright, thank you.

[2022-02-08 07:14] #1968 closed

[2022-02-08 08:41] manuelap-msft commented on #1975
You will need to switch to classic import mode to import the solution, this will bypass setting the connection references during import. You'll then have to update all connection references to add a connection for the flows to run.

It is a required connection for certain governance flows that send adaptive cards to teams, so you will have to check those flows and add alternatives (e.g. email) if

[2022-02-08 08:43] manuelap-msft commented on #1976
Hello,

please follow the below steps and share a screenshot of how the **Power Platform Maker Office 365 Group** environment variable looks for you (fuzz out the actual value, just trying to confirm this is set correctly):

If you've installed the solution in a production environment, do the following:

Go to [Power Automate](https://flow.microsoft.com/).
On the left pane, select Solutions.
Selec

[2022-02-08 10:04] BhargavPrasadGorakanti commented on #1966
Hi Manuela,

Thank you for looking into this. This error is handled like you've explained. The flow moves on to the Switch action ('Configure run after' is set to both success and failure of previous step). The switch statement throws an error as there's no output from the previous step. Please let me know if I can provide any other details.

Just to quickly clarify, it seems like the flow is desi

[2022-02-08 12:10] NIhil1409 opened #1977 "Error While Running pipeline Export solution to git"
I have configured ALM for Powerapps. All pipelines has been configured as per documentations . ihve also set up profile of the use while running export solution to git i am getting following error

![image](https://user-images.githubusercontent.com/82605803/152984354-3b7f9642-ad5f-4ec4-9abf-f1179112e39a.png).

@mikefactorial

[2022-02-08 12:35] Jenefer-Monroe commented on #1966
Thanks for the detailed investigation. Very useful!
I know this used to work, so I dont know what happened, but it will require some testing to get to the bottom of it.

[2022-02-08 12:39] NIhil1409 commented on #1977
Thanks issue resolved

this post helped me

https://github.com/microsoft/coe-starter-kit/issues/1948

[2022-02-08 12:39] #1977 closed

[2022-02-08 12:44] Jenefer-Monroe commented on #1953
We do already send the failure notice to contact the admin in all the cases: assign to self, assign to others, delete
We do this for both bulk operation and individual. The only place we dont do it today is in the timeout. So my guess is they just are sending you the timeout notice.
So I went ahead ahead and added this to the child timeouts for March:

`You will be asked again, so please reach out

[2022-02-08 12:53] Jenefer-Monroe commented on #1967
Thank you for the catch and the great investigation! This is local fixed for March.

[2022-02-08 12:59] Jenefer-Monroe commented on #1938
In the meantime, while we investigate, I have upped the row limit to the max allowed (2000). While this doesnt resolve for you, it will help others.

[2022-02-08 13:24] Jenefer-Monroe commented on #1222
Hello. Without more specific feedback, there isnt much we can do here.
We already do attempt to provide a solution that works for GCC and Commercial, and do have internal folks that test this for us and hand us bugs.

[2022-02-08 13:26] Jenefer-Monroe commented on #1671
Closing this one out as we are removing the dataflow from Nurture

[2022-02-08 13:26] #1671 closed

[2022-02-08 13:28] Jenefer-Monroe commented on #1849
closing out as no further action for starter kit team

[2022-02-08 13:28] #1849 closed

[2022-02-08 13:28] mikefactorial opened #1979 "[ALM Accelerator - Feature]: FEATURE TITLE"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Testing Project Workflows

### Describe alternatives you've considered

_No response_

### Additional context?

_No response_

[2022-02-08 13:28] Jenefer-Monroe commented on #1851
closing out as no further action for starter kit team

[2022-02-08 13:28] #1851 closed

[2022-02-08 13:28] Jenefer-Monroe commented on #1858
closing out as no further action for starter kit team

[2022-02-08 13:28] #1858 closed

[2022-02-08 13:28] Jenefer-Monroe commented on #1862
closing out as no further action for starter kit team

[2022-02-08 13:28] #1862 closed

[2022-02-08 13:29] #1979 closed

[2022-02-08 13:29] Jenefer-Monroe commented on #1872
closing out as no further action for starter kit team

[2022-02-08 13:29] #1872 closed

[2022-02-08 13:46] Jenefer-Monroe commented on #1880
Oh yes good catch, thank you. Moving to a documentation bug. We should also change the Reference to **_4. Test_** while we are there, since there are 5 steps now.

![image](https://user-images.githubusercontent.com/89584709/152998539-aecdacea-9517-442d-afec-f3aa13d5cddd.png)

[2022-02-08 13:49] mikefactorial opened #1980 "[ALM Accelerator - Feature]: TEST DELETE ME"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Project workflow Test

### Describe alternatives you've considered

_No response_

### Additional context?

_No response_

[2022-02-08 13:49] #1980 closed

[2022-02-08 14:30] mikefactorial commented on #1090
Duplicate of #1971

[2022-02-08 14:30] #1090 closed

[2022-02-08 14:58] Jenefer-Monroe commented on #1976
Did you turn the flow off and back on after setting the env variable?
Flows cache env vars and so need "reset" before they will pick up values.

[2022-02-08 15:13] rwilson504 opened #1981 "[ALM Accelerator - BUG]: Replace Token Extension Missing"
### Describe the issue

The Replace Tokens extension is not installed in DevOps after running the **cli alm install command**.  The output of the command displays a message that the extension is being installed and does not throw any errors that the task was not completed.

Screenshot of the CLI installer showing that the extension is being installed.
![CLI Installer](https://user-images.githubuse

[2022-02-08 15:32] Jenefer-Monroe commented on #1976
Hello, it looks like we did have a bug in there with the product showing multiple routes to the env var. I've made these the same now for March.
Thanks for posting!

[2022-02-08 15:42] AdwitiCTS commented on #1976
Thank you for reviewing and taking it up for the next release.

[2022-02-08 15:48] Jenefer-Monroe opened #1982 "[CoE Starter Kit - BUG] Environment Variables behavior change - need to review suite"
### Describe the issue

There was a time when env variables showed up twice in the variable list, and produced the same value.
Per #1976 it appears this behavior has changed and now one of the ways to access these variables no longer works.
Need to clean the suite of this change for March.

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What

[2022-02-08 16:23] Jenefer-Monroe commented on #1954
We should put the preview button on the localized screen too, its even more valuable there as testing will be harder.

[2022-02-08 16:32] Jenefer-Monroe commented on #1954
local fixed March

[2022-02-08 16:44] dragunwing opened #1983 "[CoE Starter Kit - BUG] Nurture Solution Fails but Duplicates Power Apps in CoE Solution"
### Describe the issue

I've tried installing the Nurture Components several times, receiving an error that it "fails to import."  As I was reviewing the Apps section of the CoE environment, I noticed that there are duplicated Power Apps that have time stamps appended to the names referring to each time I tried re-installing the Nurture Components. The duplicated apps are:

- Power Platform Traini

[2022-02-08 17:30] mikefactorial commented on #1981
@rwilson504 good catch. Looks like a bug in one of the config files for the coe-cli. #1984 fixes this. Thanks

[2022-02-08 17:32] albertocaa1317 commented on #1954
@Jenefer-Monroe in this example, the user recipient have the language German configured in her office profile?

[2022-02-08 17:35] Jenefer-Monroe opened #1985 "[CoE Starter Kit - BUG] Add PhotoObject directly to Maker Table"
### Describe the issue

We dont currently store the Makers photo in the table itself. This makes querying the table directly for apps difficult (ex https://github.com/microsoft/coe-starter-kit/issues/1938)

### Expected Behavior

Add PhotoObject directly

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.31

### What app or flow are you havin

[2022-02-08 17:35] Jenefer-Monroe commented on #1985
Added the field to Core and Core for Teams.
Added to the CLEANUP - Admin | Sync Template v3 (Orphaned Makers) flow to populate as shown below.
Not yet using for March, but it will be there now for future use.

![image](https://user-images.githubusercontent.com/89584709/153043672-aac93292-9593-4528-8642-770c4d3a824a.png)

[2022-02-08 17:36] Jenefer-Monroe commented on #1938
Also created the photo data directly in the table so that this will be possible when we fund via #1985

[2022-02-08 17:44] Rene- commented on #1975
Hi Manuela, thank you for the useful insight. I just have one more question... Is there a way to extract only the dataverse tables from the packaged solution?

[2022-02-08 17:44] amondelloSP opened #1986 "Power Platform COE Starter Kit Not showing all apps, but workflows not failing"
I have a client with thousands of Apps. They all show in their previous version of the COE (from a year ago) but when I installed the new COE starter kit last month, we're only picking up a little over 100 apps. I checked the inventory workflows, and they are not failing. Does anyone have any ideas or experience with this? (and yes, we have both installed in different environments)

[2022-02-08 17:59] manuelap-msft commented on #1975
Not one that I'm aware of, I don't think - after you install the kit, you can create your own unmanaged solution and add components you require to that solution but that's the only thing that comes to mind here.

[2022-02-08 18:00] manuelap-msft commented on #1986
You are likely experiencing this bug #1810 which was introduced with the January release and fixed with the February release. I would recommend you upgrade.

[2022-02-08 18:25] Jenefer-Monroe commented on #1986
And you will also need to do a [fullinventory run](https://docs.microsoft.com/power-platform/guidance/coe/faq#running-a-full-inventory), whether you upgrade or not.

[2022-02-08 18:49] andrewgaskins opened #1988 "[CoE Starter Kit - BUG] Power Platform Admin View Missing Admin View for Apps"
### Describe the issue

The new Power Platform Admin View no longer has the Admin view. I see the new Compliance groups however the submitted items are not leaving the Requested area.

### Expected Behavior

User submits justification with everything accounted for in the Developer Compliance Center app. All apps are on to look at updates and nothing moves to Submitted.

### What solution are you e

[2022-02-08 18:55] andrewgaskins opened #1989 "[CoE Starter Kit - BUG] Developer Compliance Email Typos"
### Describe the issue

Email going to clients has the following grammatical errors.

- Step #5: "Profide details..." should be "Provide details..."

- Step #7: "Selat the data..." should be "Select the data..."

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Governance

### What solution version are you using?

3.31

### What app or flow are you havi

[2022-02-08 19:00] Jenefer-Monroe commented on #1989
Can you please share directly here which actions in the flow you are referencing?

[2022-02-08 19:01] Jenefer-Monroe commented on #1988
Can you please share a picture of where you are used to seeing some UX you now do not see?

[2022-02-08 19:04] DaveTheTeamsGuy commented on #1802
Which email header is the Preview button using?  After upgraded, I noticed the header environment variable changed and no longer includes a link to a graphic, however I'm still seeing a graphic when I hit the Preview button.

[2022-02-08 19:17] mikefactorial commented on #1912
Hey @GaborVig,
Noticed this was reopened. If you have any followup questions. Feel free to open a new issue and reference #1912. Closing as there's nothing more to do here.

[2022-02-08 19:17] #1912 closed

[2022-02-08 19:21] mikefactorial commented on #1958
Related to #673 and #639

[2022-02-08 19:23] mikefactorial commented on #1837
Closing out this issue since there's been no response. Feel free to open a new issue and reference #1837 if you have additional issues.

[2022-02-08 19:23] #1837 closed

[2022-02-08 19:48] DaveTheTeamsGuy commented on #1986
Is a full inventory required after every upgrade for fixes to take effect, or do subsequent scheduled flow runs handle this?  If a full inventory is required, it may be worthwhile to add this to the upgrade instructions.  https://docs.microsoft.com/en-us/power-platform/guidance/coe/after-setup#installing-upgrades

[2022-02-08 19:57] DaveTheTeamsGuy opened #1990 "[CoE Starter Kit - BUG] Command Center initially populating bookmarks every time it is opened"
### Describe the issue

Just updated to Core 3.31, the Command Center Canvas App keeps re-adding bookmarks each time it is opened.  I've opened it six times and there are now six sets of icons.

### Expected Behavior

Initial bookmark population should only occur once.

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.31

### What app or flo

[2022-02-08 20:22] Jenefer-Monroe commented on #1990
Hello, we updated the flow to re-populate on start every time, this way you would get (for example) the apps from the Governance solution if you installed it after using this app.
So thats intentional
Do you have an unmanaged layer on this flow? **_Initially Populate Bookmarks_**
It was updated to only insert the app if it was not already present.

[2022-02-08 20:25] Jenefer-Monroe commented on #1986
No, its only required in special cases. For example if we added a new field to the object table that you wanted populated.
In this case its needed because we shipped an optimization that missed the "new install" case.

[2022-02-08 20:26] Jenefer-Monroe commented on #1990
actually it looks like we intended that to only happen when you are in Edit Bookmarks.
But regardless the flow catches the case. So you'll need to see if you have an unmanaged layer there preventing you from seeing that update.

[2022-02-08 20:30] DaveTheTeamsGuy commented on #1990
There was an unmanaged layer on that flow, but I'm not sure how it got there since I haven't done any work to extend the CoE here.  I removed the unmanaged layer, do I need to do a re-import, or should it now catch the update?

[2022-02-08 20:30] RJones2595 opened #1991 "[ALM Accelerator - Feature]: ALM Accelerator integration with Atlassian JIRA"
### Is your feature request related to a problem? Please describe.

Not a problem, but adoption of multiple source control dev/ops tools

### Describe the solution you'd like

Ability for various development teams to use the source control & dev/ops tools they use today, not just limited to Azure DevOps or GitHub.

### Describe alternatives you've considered

_No response_

### Additional context?

[2022-02-08 21:12] Jenefer-Monroe commented on #1990
Removing the unmanaged layer should fix it, meaning that you should no longer see new apps added each time you boot the app, though it will still look for new ones.

However you will need to delete the duplicates manually. You can do that by going to the table itself as shown here:
![image](https://user-images.githubusercontent.com/89584709/153076398-668c384f-9485-4ea9-ae26-e29a48ee4f58.png)

[2022-02-08 21:17] TBag commented on #1948
@mikefactorial This is interesting that the same steps fixed the issue for someone else.  I checked all settings again today to be sure and the issue is still occurring in my environment.

[2022-02-08 21:22] Jenefer-Monroe commented on #1867
Can you please import this solution into your CoE environment? It only has one flow in it, a temp one I wrote to redo this work.
Please import, turn it on, turn off the other flow action details flow. And then see if it works during your next sync flow run.

[newflowactiondetaulssolution_1_0_0_1_managed.zip](https://github.com/microsoft/coe-starter-kit/files/8027556/newflowactiondetaulssolution_1_

[2022-02-08 21:24] Jenefer-Monroe commented on #1890
In case anyone wants to test, this is a fake temp flow to replace Admin | Sync Template v3 (Flow Action Details)
Will only update flows that are new or updated for that inventory run.

[newflowactiondetaulssolution_1_0_0_1_managed.zip](https://github.com/microsoft/coe-starter-kit/files/8027566/newflowactiondetaulssolution_1_0_0_1_managed.zip)

[2022-02-08 21:35] #1975 closed

[2022-02-08 22:23] Jenefer-Monroe opened #1993 "[CoE Starter Kit - BUG] Compliance Details Request running for MDA and SPA, not just canvas"
### Describe the issue

Filter on apps to just canvas missing

### Expected Behavior

Used to filter to just canvas, but now missing. Need to add back in

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.31

### What app or flow are you having the issue with?

Admin | Compliance detail request v3

### Steps To Reproduce

_No response_

### A

[2022-02-08 22:24] Jenefer-Monroe commented on #1993
Please folks let me know if I'm crazy here but I think we used to do this, and that it makes sense to do this.

[2022-02-08 22:36] Jenefer-Monroe opened #1994 "[CoE Starter Kit - BUG] Developer Compliance Center to use Helper flows for delete etc"
### Describe the issue

Since we cant delete apps/flows that are part of a solution, and since people dont see or read the error when it comes back on its own, lets catch it and tell them like we do when they try to browse to settings for teams objects

Developer Compliance
Set App Permissions
Set Flow Permissions

### Expected Behavior

_No response_

### What solution are you experiencing the is

[2022-02-08 23:06] Jenefer-Monroe commented on #1994
Did quick prep work to make the error bar flexible to support other error types.
and added teams block for assigning new owners, also not supported for Teams envts

[2022-02-09 00:07] lukas-kaspar opened #1995 "[ALM Accelerator - BUG]: Unpack msapp fails for Dataverse for Teams canvas apps"
### Describe the issue

The _export_solution_to_git_ fails at the _unpack msapp files_ step when the canvas app contains **Dataverse for Teams** controls.

This is an issue with Power Apps Source File Pack and Unpack Utility and has been reported [here](https://github.com/microsoft/PowerApps-Language-Tooling/issues/324).

Is it possible to skip unpacking the .msapp file or continue regardless of f

[2022-02-09 02:05] denisem-msft opened #1996 "[CoE Starter Kit - Feature]: Nurture/InADayEvent Management - Create Teams online meeting"
### Is your feature request related to a problem? Please describe.

InADayEvent records are excellent for easily managing training events, but if there is an online meeting it requires manual creation and association.

### Describe the solution you'd like

In the Power Platform Training Management app (Nurture solution), the ability to create a Teams online meeting invite that is associated with a

[2022-02-09 02:07] denisem-msft opened #1997 "[CoE Starter Kit - Feature]: Nurture/InADayEvent Management - Ability for InADayAttendee to deregister"
### Is your feature request related to a problem? Please describe.

Attendees do not have a way to deregister themselves for an event

### Describe the solution you'd like

Simple interface to allow InADayAttendees to deregister (delete the attendee record)

### Describe alternatives you've considered

_No response_

### Additional context?

_No response_

[2022-02-09 02:09] denise-msft opened #1998 "[CoE Starter Kit - Feature]: Nurture/InADayEvent Management - Ability to track attendance"
### Is your feature request related to a problem? Please describe.

It would be nice to have the system automatically track whether an attendee did attend an event.

### Describe the solution you'd like

After an event has passed, pull the attendance report of the online meeting and save the user's attendance information in the InADayAttendee record.

### Describe alternatives you've considered

_

[2022-02-09 02:16] DanCrawf opened #1999 "[CoE Starter Kit - BUG] Cant connect to company URL"
### Describe the issue

Cant connect when I put in Company URL

### Expected Behavior

Expected to connect

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

power BI

### What app or flow are you having the issue with?

Production_CoEDashboard_Jan2022.pbit

### Steps To Reproduce

[COE Dashboard failure.docx](https://github.com/microsoft/coe-s

[2022-02-09 02:38] Jenefer-Monroe commented on #1999
Have you looked through this documentation?
https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-powerbi#configure-the-power-bi-dashboard

[2022-02-09 04:32] DanCrawf commented on #1999
Jenefer,
Thanks for getting back to me. Thanks for that doco…. At least I know I’m entering https:// at the start of the org URL for the production COE.
I’m still not sure what the company URL is
I’m assuming https://sydneywater.onmicrosft.com but tried https://sydneywater.sharepoint.com as well

The attached screenshots show what I see when trying to sign in.
If I hit connect I can see “error coe

[2022-02-09 06:54] TakatoNagano opened #2000 "[CoE Starter Kit - BUG] Admin|Archive and Clean Up v2(Start Approval for Apps)の利用について"
### Describe the issue

Admin|Archive and Clean Up v2(Start Approval for Apps)を有効化し、実行しましたが対象アプリの所有者へメールを飛ばすことができませんでした。
原因を調査したところ、以下アクションにて値が取得できていませんでした。
”List apps not launched or marked modified since Past Time”
取得できるようにするために対応についてご教授頂きたいです。

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Governance

### What solution version are you using?

2.12

[2022-02-09 10:43] devkeydet commented on #1991
We don't have any immediate plans to do this in our accelerator.  It's not that we don't want to support this, it is simply a matter of team size, backlog, and prioritizing the extensive list of work we already have.  However, we have talked about it quite a bit because we agree that this is important.  We just have a lot of work to get through and need to prioritize on customer demand.  So please

[2022-02-09 10:54] manuelap-msft commented on #1999
It looks like you're using the wrong URL. It should contain something like crm.dynamics.com

Here's how to get the URL https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-powerbi#get-the-environment-url

[2022-02-09 11:34] poppynka commented on #1967
Thanks 🙂

[2022-02-09 12:19] Jenefer-Monroe commented on #2000
I'm afraid I cannot help without more context. Are you saying that you expected an individual app to be returned from **_List apps not launched or marked modified since Past Time_** that was not returned? Or that no apps were returned.

Please read about the [archival process here](https://docs.microsoft.com/power-platform/guidance/coe/governance-components#archive-processes)

In particular the fl

[2022-02-09 12:22] Jenefer-Monroe commented on #1990
Glad you got unblocked, and thanks for using CoE! Closing out.

[2022-02-09 12:22] #1990 closed

[2022-02-09 12:23] devkeydet commented on #1991
BTW, we already support using a git provider other than Azure DevOps.  But that's really based on the fact that Azure DevOps supports git repos other than Azure DevOps git:
https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/pipeline-options-for-git?view=azure-devops

In fact, we (CoE Starter Kit team) use this feature today.  We use Azure DevOps pipelines, but GitHub git.  So, we partia

[2022-02-09 12:28] devkeydet commented on #1991
In the end, everything we build in the CoE Starter Kit is (first and foremost) a reference implementation.
https://docs.microsoft.com/en-us/power-platform/guidance/coe/feedback-support
![image](https://user-images.githubusercontent.com/4499296/153200918-9a0b4742-208a-4870-a8c2-96f002090ebc.png)

While we *do* try to build things in a way that *some* can just install components and use them *as is*

[2022-02-09 12:50] Jenefer-Monroe commented on #1993
local fixed March

[2022-02-09 13:30] #1927 closed

[2022-02-09 14:07] #1981 closed

[2022-02-09 14:29] mikefactorial commented on #1941
Notes from Grant:
Update npm packages
ncu -u
npm audit fix
revert:
pascalcase
slash
normalize-url

[2022-02-09 14:41] RJones2595 commented on #1991
Wow, what an answer!  And fast!

Sent from my T-Mobile 4G LTE Device
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Marc Schweigert ***@***.***>
Sent: Wednesday, February 9, 2022 4:28:23 AM
To: microsoft/coe-starter-kit ***@***.***>
Cc: Ron Jones (DYNAMICS) ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/coe-starter-kit] [ALM Accelerator - Feature]

[2022-02-09 15:35] Jodarcy1 opened #2001 "Can I use COE to report use of http or https custom in connector API host"
I'm tasked with finding out the number of custom connectors using http and those using https in the API.  Is there a way I can find that out from the COE?

[2022-02-09 15:53] mikefactorial commented on #1395
I'm having trouble replicating this now. Trying to create a small repro for the product team responsible for PAC (attached).

I've tried using latest version of PAC and version 1.10.14 based on the last comment from @mdpc-nnit 28 days ago. Doesn't seem to fail anymore with either.

The PS does the following. ([EVRepro.zip](https://github.com/microsoft/coe-starter-kit/files/8034047/EVRepro.zip))
1.

[2022-02-09 16:10] Dave-Weldon opened #2002 "[CoE Starter Kit - BUG] Question: Is it a bad idea to delete the CoE and start again from scratch?"
### Describe the issue

Thanks for the latest office hours session, unfortunately my question was one of the ones that we ran out of time for :)

Is it a bad idea to delete the CoE and start again from scratch?  I've had issues upgrading for the last two months and now had 2 core components, one of which still has the v2 flows as well as the v3 but I'm unable to delete the old one as it has depend

[2022-02-09 16:15] streibk opened #2003 "[CoE Starter Kit - BUG] ISSUE Coe Starter Kit PowerBi Data discrepancy"
### Describe the issue

On January 14th we upgraded to the latest (January) release of the CoE Starter Kit.  We noticed that numerous (thousands) of Cloud Flows being marked as admin_flowdeleted=True, even though the flow is active and being utilized.

Please see attached document that details the data discrepancies we are seeing.

[CoE Starter Kit Data discrepancy.docx](https://github.com/microso

[2022-02-09 17:17] keharrin commented on #1969
Thank you step 1 allowed me to change the defaults and resolve the issue.  Thanks!

[2022-02-09 17:17] #1969 closed

[2022-02-09 17:19] DaveTheTeamsGuy opened #2004 "[CoE Starter Kit - BUG] Make mails look good across client types (Email header in Outlook fat client very large, ok in Outlook web app)"
### Describe the issue

Email messages sent by the CoE and received by the Outlook client display a very large header.  Message header looks OK in Outlook web version.

Client:

![image](https://user-images.githubusercontent.com/99212416/153254564-ad422375-4094-4a88-8c7b-8edeedce4a4e.png)

Web:

![image](https://user-images.githubusercontent.com/99212416/153254510-2289bd78-212e-4b81-9cda-f0f334ca5

[2022-02-09 17:22] manuelap-msft commented on #1969
Awesome, thank you for confirming!

[2022-02-09 17:32] TBag opened #2005 "[ALM Accelerator - BUG]: Upgrade Issues - Not All Environment Names Showing"
### Describe the issue

Some environment names are not displayed in the Canvas app.  I've included a list of the environments in the screenshot below for reference.  Perhaps the Type of environment is the issue?

![image](https://user-images.githubusercontent.com/1407310/153256645-d16435a2-5db1-47eb-b18f-a3903fc34497.png)

### Expected Behavior

Expect to see all environment names in the Canvas ap

[2022-02-09 17:37] Jenefer-Monroe commented on #1938
The fix here was pretty easy after getting the photos taken care of, so resolved for March

[2022-02-09 18:00] Jenefer-Monroe commented on #2003
I dont see a repro for this so I think something may have gone wrong on your tenant.

Did you, perhaps, upgrade with a different user? Or do you have dynamic roles/licenses in place?
One thing that may have happened was that your ran Check Deleted with a user that didnt have PPAdmin role at the time, which would have meant they couldnt see the flows in the environments to which it was not sysadmin

[2022-02-09 18:07] mikefactorial commented on #2005
Thanks for reporting this and for the screenshots. Will look into why this is occurring

[2022-02-09 18:12] #1995 closed

[2022-02-09 18:12] mikefactorial commented on #1618
Related to #1995

[2022-02-09 18:20] Jenefer-Monroe commented on #1887
Perhaps I misunderstood your question. It sounds like you cant access a flow you installed, this is not an issue with the kit.

Can you ask something more specific? And maybe Ill understand better

[2022-02-09 18:31] streibk commented on #2003
Jenefer,
I’m sorry I do not see how a repo has anything to do with this issue.   I believe the document I attached to the issues contains detailed information about the data discrepancy we are seeing after importing the January release of the Microsoft CoE Starter Kit and deploying the updated power bi report.

The import of the solution is done with a service account that has appropriate permissi

[2022-02-09 18:58] ChrisL66 opened #2006 "[ALM Accelerator - BUG]: Update Deployment Settings fails to save"
### Describe the issue

More of a question
Just setting the system up, and the pipeline fails on this task
I have added some echo statements to debug and it seems to get the setting from cat_usersettings/cat_data (?) table.
Those were set to "[]",  I have tried setting the value to a dummy value, but still having issues updating the settings
Does someone have an example of what should be in the fi

[2022-02-09 19:09] Jenefer-Monroe commented on #2003
Sorry but without more information I cannot help you. Please note that the starter kit is not a supported product, we provide assistance on a best effort basis.

My best guess right now is that you have PIM running or otherwise ended up with Check Deleted running without the PPAdmin role, so lots of things appeared deleted.

[2022-02-09 19:09] Jenefer-Monroe commented on #1889
ready for March

[2022-02-09 19:29] chrisc-ona commented on #2006
From reviewing the documentation for [Definitions - List](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/definitions/list?view=azure-devops-rest-6.1) for the version of Azure DevOps REST API used in update-deployment-settings.yml, and other versions as well, the `variables` property expected on the returned BuildDefinitionReference JSON objects does not exist.

[2022-02-09 19:38] chrisc-ona commented on #2006
It appears that [Definitions - Get](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/definitions/get?view=azure-devops-rest-6.0) does document a `variables` property on the returned BuildDefinition JSON object, but this property is missing from the response actually coming from Azure DevOps' REST API.

[2022-02-09 20:13] Jenefer-Monroe commented on #2004
There seems to be a product issue here. We will investigate but I'm not sure if we can fix this, or if we will just have to let the product team know of the bug.

[2022-02-09 20:51] TBag opened #2007 "[ALM Accelerator - BUG]: Maker create solution documentation"
### Describe the issue

There are several places in the **Maker create solution documentation** (linked below) that could use some updates to match the current version of the Canvas app and to also facilitate the ability to follow the instructions end to end.

https://docs.microsoft.com/en-us/power-platform/guidance/coe/cli/alm/maker-setup#maker-create-solution

Please see the callouts in the foll

[2022-02-09 21:27] rmatesick-nw commented on #2003
In this type of a situation, where data in the Starter Kit's tables may be incorrect, what is the recommended path to resolve?  I've seen mention of being able to run a full inventory scan, but have not found any documented procedures how to best safely do that.

[2022-02-09 21:31] rmatesick-nw commented on #2003
I have found some mention of how to run a full inventory run, in this discussion thread.  https://github.com/microsoft/coe-starter-kit/discussions/1930

Just looking for a recommendation from the team here if a full inventory run is what would be recommended to resolve these data issues.  Thanks!

[2022-02-09 21:41] Jenefer-Monroe commented on #2003
Full inventory would resolve, assuming you aren't hitting any issues with the account in question. But it wont ensure the issue wont pop up again.

As far as I know, the only place we mark objects as deleted is in the Check Deleted flow, so I would suggest investigating there before doing the work to do a full inventory.

I suggest you validate:
- was the Check Deleted flow was running at the time

[2022-02-09 22:05] Jenefer-Monroe commented on #1966
Validated this is still working for apps

![image](https://user-images.githubusercontent.com/89584709/153298107-cfa1e000-60db-45b7-a1cd-e619ead454ae.png)

[2022-02-09 22:12] ashmsport opened #2008 "[CoE Starter Kit - BUG] Upgraded CoE Starter Kit to Feb'22 version. No Canvas Apps in Developer Compliance Center (Teams version) App and Traffic Light Indicator Not Working"
### Describe the issue

I just upgraded CoE Starter kit from Oct to Feb 2022 version and since then the Developer Compliance Center (Teams version)
app is not showing any apps in Canvas Apps section.
In Flows section traffic light indicator is also not working. Please see the screenshot attached.

### Expected Behavior

Canvas Flows should be listed when a user launches Developer compliance app is

[2022-02-09 22:20] Jenefer-Monroe commented on #1966
now checking the length of the string variable
![image](https://user-images.githubusercontent.com/89584709/153299842-398b01ab-1dd0-4568-8edc-58fb9628aa34.png)

local fixed march

[2022-02-09 22:24] Jenefer-Monroe commented on #2008
For your first question:
We have introduced the ability to filter to only the apps that have been requested for compliance by admin. And that is the default view. Drop down the filter and you will see the ablity to see all.
![image](https://user-images.githubusercontent.com/89584709/153300387-1466b97b-0837-49f4-9aba-d7dbe5f86a23.png)

[2022-02-09 22:28] ashmsport commented on #2008
That worked, thanks. Still can't see the traffic light indicators.

[2022-02-09 23:48] mikefactorial commented on #1494
Closing this out as there's not any further action here.

[2022-02-09 23:48] #1494 closed

[2022-02-10 00:04] mikefactorial commented on #1764
Does this happen every time or occasionally?

This may be a licensing issue if Dataverse capacity isn't available or possibly related to the timing of the Flow that creates the development environment. The flow that creates environments waits for the environment to finish creating asynchronously and can find the environment before the dataverse database has been provisioned.

[2022-02-10 01:00] ChrisL66 commented on #2006
I may have been masking the underlying issue trying to get it to work, if I revert the script, I get

added 849 packages, and audited 850 packages in 1m

99 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities

added 1 package, and audited 3 packages in 714ms

found 0 vulnerabilities
info: Branch start
info: Setup branch
info: Using supplied access token
Add-Membe

[2022-02-10 04:00] ChrisL66 commented on #2006
which seems to tie to
            echo "buildDefinitionResult.variables: $buildDefinitionResult.variables" <- data is there
            $newBuildDefinitionVariables = $buildDefinitionResult.variables <- this is failing to set the value?
            echo "newBuildDefinitionVariables: $newBuildDefinitionVariables"

result:
buildDefinitionResult.variables: @{options=System.Object[]; triggers=System.O

[2022-02-10 05:06] walkaboutjoe-ais opened #2011 "[ALM Accelerator - BUG]: Update deployment settings fails for solutions starting with T"
### Describe the issue

When firing off the "commit" (export-solution-to-git) step of a solution and that solution begins with the letter T, the step fails and the build log indicates a failure during the PUT for the build definition into the pipeline that's being created for the solution.

`
Invoke-RestMethod : {"$id":"1","innerException":null,"message":"TF400898: An Internal Error Occurred. Acti

[2022-02-10 07:48] BhargavPrasadGorakanti commented on #1966
Thanks again for looking into this! We'll manage this with a fix in an unmanaged layer until the next upgrade in March. @Jenefer-Monroe

[2022-02-10 12:02] streibk commented on #2003
Please see below.

  *   was the Check Deleted flow was running at the time in question (on 1/14) - The run history displays that the flow ran successfully on 1/14 and successfully since then.
  *   Are there unnmanaged layers on any of the check deleted flows – There are no unmanaged layers within the check deleted flows.
  *   Are the Check Deleted flows running and passing? –  The Check Deleted

[2022-02-10 13:04] FGRoy opened #2012 "Env Creation - Expiration Date"
I just checked the Env Creation App from the CORE components and can see no expiration date being applied.

![image](https://user-images.githubusercontent.com/29483601/153413603-ebd7fb5d-71b8-403d-9484-3b66ac9a0618.png)

[2022-02-10 13:06] #2012 closed

[2022-02-10 13:24] Jenefer-Monroe commented on #2003
Yes you should do them in the same order as when you first installed as outlined in the documentation: [setup inventory](https://docs.microsoft.com/power-platform/guidance/coe/setup-core-components)

[2022-02-10 13:37] mikefactorial commented on #2011
@walkaboutjoe-ais thanks for the detailed issue report and the fix!

We rolled back this change in this commit https://github.com/microsoft/coe-alm-accelerator-templates/commit/59040d5918f581bf53b5f14a4c4233448c2b91a4 due to others who reported similar issues.

We did release an update for this in the February release of the CoE Starter Kit. https://github.com/microsoft/coe-alm-accelerator-templat

[2022-02-10 13:43] Jenefer-Monroe commented on #1989
ok i found them

[2022-02-10 13:43] streibk commented on #2003
Thank you for the detailed response. It will be a few days until I perform this operation and allow time for the full inventory to take place.

***@***.***
Ken Streib
Infrastructure Engineering Consultant
Proud Nationwide Member
Digital Workplace Technology
W 614-249-2245
***@***.******@***.***>

Click here<https://apps.powerapps.com/play/79966ec8-a050-47cc-a807-6c732bd0e247?tenantId=22140e4c-d390

[2022-02-10 13:50] Jenefer-Monroe commented on #1988
I still don't really understand what you are seeing, but I did wonder if you have the flows running.

Can you please go to the **_Admin - Command Center_** app > Cloud Flows > Compliance.
Are they all on?
![image](https://user-images.githubusercontent.com/89584709/153421128-f1afc2fb-d769-45a9-99a9-3c75b1a4888f.png)

[2022-02-10 13:54] walkaboutjoe-ais commented on #2011
Thanks @mikefactorial !  I did try to find the issue in the open issues list prior to submission, so apologies if this was a redundant submission.

Wish I had more time on my hands, since I'd love to contribute but (like a lot of folks, I imagine) the "day job" consumes so much of my time that it would be a challenge.  I love everything that's going on in this part of the project and it aligns a L

[2022-02-10 14:06] mdhauck opened #2013 "[CoE Starter Kit - Question]: with Power Platform Admin role, in COE we've noticed that not all apps show"
### Is your feature request related to a problem? Please describe.

Not sure if this is an issue or ignorance. Even with Power Platform Admin role, in COE we've noticed that not all apps show (if not explicitly shared).  The analogy is that in D365 CE admins don't see personal view unless shared (but I CAN in XrmToolBox).  While I understand not necessarily default to have "access" to the app (or

[2022-02-10 14:12] Jenefer-Monroe commented on #1907
LaunchPowerApp is the only log we follow now due to some changes in the API, so that is expected.

I dont know what you mean by the solution changing type. That doesnt seem possible. More likely there is some confusing UX around env vars. Please see this documentation for how to [update environment vairables](https://docs.microsoft.com/power-platform/guidance/coe/faq#update-environment-variables)

[2022-02-10 14:20] manuelap-msft opened #2014 "[CoE Starter Kit] License allocation with type of license report"
•Is there a report or view to see how many Per App licenses are assigned to an environment plus how many are consumed/allocated?

•Is there a report that would show how many power app per user or per app licenses we would need to purchase? I know there are reports showing premium connectors but that's not the same.

•Is it possible to tie the resources and usage information of the CoE to a company

[2022-02-10 14:21] manuelap-msft opened #2015 "[CoE Starter Kit] Apps and Automate API Usage Report at tenant level + drill through details on user id"
Apps and Automate API Usage Report at tenant level + drill through details on user id

[2022-02-10 14:24] mdhauck commented on #2013
The only good example I have is in a client's environment so I cannot add screenshots.  In the Power Platform Admin View App if I choose Power Apps Apps in sitemap and look at the "All Apps" view, I do NOT see all the apps (if I go into Power Apps Admin Center, choose a particular environment and then go to Resources and Power Apps I see more apps here than in the COE app.

[2022-02-10 14:27] mikefactorial commented on #1948
@TBag pardon the delay in getting back. The 203 issue related to the upgrade is a separate problem we need to address based on changes to the custom connectors in the platform. We were previously using a workaround provided by the platform to ensure that the custom connector credentials weren't wiped out on import, but that may no longer be a viable option so we'll need to move to environment vari

[2022-02-10 14:29] manuelap-msft opened #2016 "[CoE Starter Kit] Report on security roles per Environment"
query what security roles are in an environment and who has what assigned
query at tenant level which user has what security roles in what environment

[2022-02-10 14:30] Jenefer-Monroe commented on #2013
Thanks, For the PPAdmin role, can you please validate, did the entity that installed the starter kit have this role? And is the role permanent or assigned dynamically?

[2022-02-10 14:30] manuelap-msft opened #2017 "[CoE Starter Kit] Model Driven App Usage"
Can we see how many times a Model Driven App has been run and when? If apps haven't been accessed for 12 months we can archive the app.

This is available via https://docs.microsoft.com/en-us/power-platform/admin/analyze-telemetry - investigate CoE kit integration when this is set up

[2022-02-10 14:31] mikefactorial commented on #9
Need to ensure this is functioning properly in our pipelines and also need to implement this pattern for the ALM Accelerator Custom Connector

[2022-02-10 14:32] manuelap-msft opened #2018 "[CoE Starter Kit] More inventory - e.g. Dataflows and Process Advisor inventory"
Recently we see ProcessAdvisor and it stores data about processes, recordings etc. Will the COE be able to scan these

AB#1246

[2022-02-10 14:33] manuelap-msft opened #2019 "[CoE Starter Kit] Make Admin eMail variable environment specific"
Is there a way to customize the environment variable "Admin eMail" so that within a tenant various environment has its own 'Admin eMail'?

[2022-02-10 14:35] mikefactorial commented on #2007
@TBag thanks for pointing these out and the detailed report. Especially, the steps to reproduce 🥇 :)

[2022-02-10 14:36] manuelap-msft opened #2020 "[CoE Starter Kit] Rules engine / Policy maker to run automatically on Default environment"
A policy maker to run automatically every few hours to clean the default productivity environment of objects which are not compliant with the policy.

AB#1247

[2022-02-10 14:37] manuelap-msft opened #2021 "[CoE Starter Kit] Compliance process and Business manager for environments"
Any plans on being able to add business manager into environment or any kind of description and compliance as we do for applications?

[2022-02-10 14:39] manuelap-msft opened #2022 "[CoE Starter Kit - Env Request - Feature] Environment Access request to existing environments"
Extend Environment Request management app to request access to existing sandbox/production environments that are shared, e.g. a Power User environment.

AB#661

[2022-02-10 14:44] mikefactorial commented on #1521
@medicineshow looks like this got lost in the shuffle during the holidays last year. The reason behind this is that the app creates a temporary build environment to validate the solution prior to pushing to test. This is similar to the validation environment that the ALM Accelerator for Power Platform uses except it's provisioned just in time and is used as a check to ensure the solution can be pa

[2022-02-10 14:44] #1521 closed

[2022-02-10 15:16] ashmsport opened #2024 "Unable to Add Questions in Maker Assessment: Admin App in Teams"
### Discussed in https://github.com/microsoft/coe-starter-kit/discussions/2010

<div type='discussions-op-text'>

<sup>Originally posted by **ashmsport** February  9, 2022</sup>
I've imported the latest version 2.6 (Feb'22) of CoE starter kit and I'm unable to add any questions using Maker Assessment: Admin App. I get several errors. For Eg.
When I try to save answer it throws error: Value must be

[2022-02-10 15:59] mdhauck commented on #2013
IF (big if) I understand correctly, the answer is yes - the ID that installed the COE has (and had at time of install) Power Platform Admin.  I'm not sure what or how it means to dynamically vs permanently assign but I BELIEVE it is permanently (explicitly?) assigned.

[2022-02-10 17:25] manuelap-msft commented on #1880
@joegiac Are you saying that for you it didn't work putting the tenant ID into the Publisher Identifier, and that's the only change you made to get it working? I tested this in my tenant and it does work putting the tenant ID into Publisher Identifier.

[2022-02-10 17:26] gabrielvillayzanbcp opened #2025 "[CoE Starter Kit - BUG] CoE Audit Log require smaller chunks"
### Describe the issue

I am receiving these messages everyday (initially configured to 1 hour). So I tried to edit the variable values, wich I can't (image2), then I edited the values directly in Dataverse table "Environment Variable Value", not only the new value but also the default value (15 minutes). But I am getting the same messages and the changes are not working.

![image](https://user-im

[2022-02-10 17:26] manuelap-msft commented on #1886
Closing out issues with no further action on the CoE kit. Please let us know if you require further assistance!

[2022-02-10 17:46] Sishira opened #2026 "[CoE Starter Kit - BUG] Data mismatch"
### Describe the issue

In my current setup, Environment numbers are not matching between pages. On the Environment Dashboard its showing lesser number than other pages.

### Expected Behavior

All Pages in COE Dashboard to show consistent number.

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.13

### What app or flow are you having the i

[2022-02-10 17:56] GES10 opened #2027 "[CoE Starter Kit - BUG] ISSUE TITLE"
### Describe the issue

I downloaded the last version of CoE, and I can't find the Governance component to enable the Developer Compliance Center App and its flows.

![coe](https://user-images.githubusercontent.com/91596085/153467485-3dbdeb0e-7180-44d0-9b96-d6e7c8aaf340.png)

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Governance

### What solution

[2022-02-10 17:57] manuelap-msft commented on #2027
Please follow the steps in our documentation to import and setup the governance solution:
1. https://docs.microsoft.com/en-us/power-platform/guidance/coe/before-setup-gov#import-the-governance-components-solution
2.
![image](https://user-images.githubusercontent.com/55705669/153467859-73e6144d-d5ce-4128-bbff-577c9546ac3e.png)
3. https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-go

[2022-02-10 17:57] #2027 closed

[2022-02-10 19:00] mikefactorial opened #2030 "[ALM Accelerator - Feature]: Add Question Type Issue for coe-starter-kit repo"
### Is your feature request related to a problem? Please describe.

Need to better categorize feedback as part of better tracking and triaging. Update workflows to set types appropriately.

### Describe the solution you'd like

Add Question Template to CoE Starter Kit Repo and Remove Blank Issues.

### Describe alternatives you've considered

_No response_

### Additional context?

_No response_

[2022-02-10 19:09] TBag commented on #1948
Hi @mikefactorial.  No problem and thanks again.  I removed and cleared the explicit user permissions for the user completely.  Then, I re-added the user and set the permissions again and the pipeline successfully ran.  Not sure why that worked, but it did.  Nice!

Thanks for the details about the 203.  Will we need to continue to follow the manual steps to set up the Connector auth each time we u

[2022-02-10 19:10] TBag commented on #2005
You're welcome.  If you would like to debug it in my environment with me just let me know.

[2022-02-10 19:11] TBag commented on #2007
You're welcome, hope it is helpful.  :)

[2022-02-10 19:35] Sishira commented on #2026
![Capture4](https://user-images.githubusercontent.com/99423817/153483257-b32be7ab-ecd3-4d11-a489-4caf68b1a449.PNG)
![Capture3](https://user-images.githubusercontent.com/99423817/153483267-c26dd123-e9bb-413a-94f7-1aeafbb4d59c.PNG)

[2022-02-10 19:43] mikefactorial commented on #1948
Nice! That's great news.

Yeah, until we release the update with the environment variable fix you'll still need to follow the steps for configuring the custom connector. If we don't get to it in the March release will make note of it in the release notes so others don't run into that issue.

Closing this issue but as always feel free to open a new one as you progress. Appreciate you sticking it ou

[2022-02-10 19:43] #1948 closed

[2022-02-10 20:45] Jenefer-Monroe commented on #2026
You have a few bugs in the PBI that we don't see. For example you are showing that all the environments were created this month. We did have a bug like that but it was a very long time ago.

I suggest starting with a new version of the PBI, one which correlates with the month you installed Core.

[2022-02-10 21:04] mikefactorial commented on #1948
We have an existing issue for the undefined.crm.dynamics.com error here #1935

[2022-02-10 21:07] mikefactorial commented on #1935
Possibly related to #1912 and #1948

[2022-02-10 21:08] mikefactorial commented on #1948
@tbag If you could open a new issue since this issue is closed going forward that would help keep things organized. Thanks

[2022-02-10 21:23] gabrielvillayzanbcp commented on #2025
I have restarted the flows. I will wait tomorrow morning when these flows execute to verify.

[2022-02-10 21:38] andrewgaskins opened #2032 "[ALM Accelerator - BUG]: Pipelines with incorrect triggers"
### Describe the issue

Investigating the triggers on pipelines deployed using the newest COE CLI there is an error with the applied triggering build.

### Expected Behavior

Would expect Test pipelines to have the deploy validation settings for that branch and not another. This appears to be different from the previous issue of the YAML build pipeline defaulting to the first branch.

### What com

[2022-02-10 21:42] ChrisL66 commented on #2006
Issue appears we needed to manually create at least variable in the pipeline to get it to be returned via the API call

[2022-02-10 21:43] #2006 closed

[2022-02-11 06:37] remzoa commented on #1907
Hi.

This is what our audit logs look like:
![Capture](https://user-images.githubusercontent.com/73874761/153546963-5827c926-493c-49c4-984d-1f7013f04090.PNG)

And this is how the solution for the Center of Excellence - Audit Logs looks like:
![image](https://user-images.githubusercontent.com/73874761/153547229-61d393e7-f84a-41dc-982e-78d7bee0d725.png)

![Capture](https://user-images.githubusercont

[2022-02-11 06:37] umananan opened #2033 "[CoE Starter Kit - BUG] The number of flows returned for System Account in Default tenant is not way off"
### Describe the issue

Wanted to know if there is any limitation on the "**Admin | Sync Template v3 (Flows)**" which uses the "List Flows as Admin".
The reason being, the flows captured by the run in the Dataverse in thus in the Power BI and and the Power Platform Admin View App is way off for the Default Environment.

The total flows in the Environments (most of it are created using Standard tem