[2021-10-05 11:56] manuelap-msft commented on #1311
Hello,

Rate Limit exceeded means that your flow may be running with an insufficient license and is trying to execute too many API calls in a 24 hour period. You can learn more about Power Automate Performance Profiles and how many API calls are allocated per license here: https://docs.microsoft.com/en-us/power-automate/limits-and-config

You may want to check the Analytics for this flow to see ho

[2021-10-05 13:23] manuelap-msft commented on #1307
Hello,

I updated the release with a new solution that contains the dataflow again, here's the direct download:
https://github.com/microsoft/coe-starter-kit/releases/download/CoEStarterKit-October2021/CenterofExcellenceNurtureComponents_2_4_managed.zip

Let me know if you have any issues with importing this,
Manuela

[2021-10-05 13:24] manuelap-msft commented on #1303
Thank you! Updated the release with this new version!

[2021-10-05 13:24] #1303 closed

[2021-10-05 15:07] danielstaleyedf commented on #1291
I'm getting this too with:
- Power BI Version: 2.97.921.0 64-bit (September 2021)
- Core Components July 2021 (2.2.202)
- Dataverse_CoEDashboard_202107_v2

[2021-10-05 15:12] Jenefer-Monroe commented on #888
Here is a version for Oct without Dataflow
[CenterofExcellenceNurtureComponents_2.3_managed.zip](https://github.com/microsoft/coe-starter-kit/files/7286983/CenterofExcellenceNurtureComponents_2.3_managed.zip)

[2021-10-05 15:13] manuelap-msft commented on #1291
@danielstaleyedf you are on an old version of the Power BI Dashboard, and we're unable to support previous version. You can download the latest version here: https://github.com/microsoft/coe-starter-kit/releases/download/CoEStarterKit-October2021/Dataverse_CoEDashboard_202110.pbit

[2021-10-05 15:14] manuelap-msft commented on #1291
@FlkeSK what CoE Power BI dashboard version are you on (e.g. Dataverse_CoEDashboard_202109 or CDSLegacy_CoEDashboard_202109)?

[2021-10-05 15:59] danielstaleyedf commented on #1291
thanks @manuelap-msft. The same applies to the October 2021 version of the report :)

[2021-10-05 16:02] manuelap-msft commented on #1291
@danielstaleyedf Unfortunately we are unable to repo this error and have tried with multiple Power BI Desktop versions now. If you hit Close on the error, does data load?

[2021-10-05 16:13] danielstaleyedf commented on #1291
no it doesn't. I'm loading the report into this tenancy for the first time and Im using an older version of the core components (July 2021) so there might be some other issues.

I wonder if @AravindSivanantham previously had the report working and a BI report / Core Components subsequently caused the issue?

[2021-10-05 16:14] manuelap-msft commented on #1291
I can't say for sure if that's causing the issue, but typically Core Components and the dashboard have to be updated together as they're so closely linked.

[2021-10-05 16:18] danielstaleyedf commented on #1291
That's why I initially attempted to install the version that I did :)

[2021-10-05 16:34] danielstaleyedf commented on #1291
If it is helpful - I'm getting the same error on another tenant that we have where I previously successfully configured the Power BI report (July 2021 report and July 2021 core components) something must have changed in PowerBI Desktop or the Power Platform somewhere that stops this from working (certainly with older versions of the CoE core components).

[2021-10-05 16:40] misskristine94 commented on #1291
Unfortunately, I'm getting the same error. Really embarrassing as I was setting up the CoE kit as part of a market engagement exercise with potential customers and ran into this issue while on the call. I temporarily deleted the 'Outer join' action in the right panel for both errors however this resulted in incorrect data being loaded.

Are there any updates please? I haven't had this issue before

[2021-10-05 16:55] Jenefer-Monroe commented on #1305
closing out as no further action for CoE TEam

[2021-10-05 16:55] #1305 closed

[2021-10-05 16:57] Jenefer-Monroe commented on #1243
closing out as no further action for CoE TEam

[2021-10-05 16:57] #1243 closed

[2021-10-05 16:58] Jenefer-Monroe commented on #1270
closing out as no further action for CoE TEam

[2021-10-05 16:58] #1270 closed

[2021-10-05 17:13] misskristine94 commented on #1291
Thanks Emanuela, I appreciate it's not exactly an error :)

I've managed to fix it - when I went to both errors, rather than remove the 'Outer Join' action, I removed the actual column with 'owningbusinessunitname' instead for both App Connection Reference and Flow Connection Reference errors. The outer join action will still be performed and so the owningbusinessunitname column will be there and

[2021-10-05 17:51] manuelap-msft commented on #1291
That's amazing, thanks for finding this workaround! Impressive detective skills!

I am very puzzled- when I open the report and load the data, I don't have a column called owningbusinessunitname (I just have owningbusinessunit which is already removed for App Connection Reference and Flow Connection Reference).

Do you also have a field called owningbusinessunit and can you see that being removed?

[2021-10-05 20:43] Craig-Humphrey commented on #1307
Thanks @manuelap-msft

It failed the first time I tried to import it - clicking the download log link did nothing.

Tried again and it succeeded and the Dataflow was present this time.

Thanks for sorting this out so quickly!

[2021-10-05 20:43] #1307 closed

[2021-10-06 03:38] suck9999 opened #1314 "[ALM Accelerator - BUG]: How we can control deployment if we have more than 1 pipeline"
### Describe the issue

We plan to establishing an environment as Microsoft strategy, e.g., we have dedicate environment for project (dev, test, prod) and have shared environment (dev, test, prod) .And we plan to user ALM Accelerator for control deployment but we get a doubt because it can set only single test’s environment and single production’s environment.

![image](https://user-images.githubu

[2021-10-06 03:45] suck9999 commented on #1314
We posted incorrect category.  We have move to Discussions.

[2021-10-06 03:45] #1314 closed

[2021-10-06 06:47] megel opened #1318 "[CoE Starter Kit - BUG] Admin - Environment Request filter works not as expected"
### Describe the issue

The list is empty, after reset the request filter to "Any Status":
![image](https://user-images.githubusercontent.com/15800069/136153267-42a771e7-4a21-49bf-bfb2-51c450e427f6.png)

However, there are still some Requests in the list:
![image](https://user-images.githubusercontent.com/15800069/136153347-b3066731-632f-4e99-9f0f-e0a3cd6f8b5e.png)

### Expected Behavior

Filter "

[2021-10-06 06:57] megel opened #1319 "[CoE Starter Kit - BUG] Inconsistent usage of environment variable in App Catalog"
### Describe the issue

The created player URL is wrong, when you try to launch an app in App Catalog from App Details:
![image](https://user-images.githubusercontent.com/15800069/136154073-544926cc-354d-4f35-b68c-a2cc211fbd7a.png)

The URL contains a double `/`:
![image](https://user-images.githubusercontent.com/15800069/136154283-040cacd8-c2d8-4d28-bf92-05aabbce24c4.png)

The environment variabl

[2021-10-06 07:05] megel opened #1320 "[CoE Starter Kit - BUG] DLP Editor v2 layout issue"
### Describe the issue

The layout of DLP Editor v2 is incorrect, when you use a different window size:
![image](https://user-images.githubusercontent.com/15800069/136155548-1cbe8f05-9373-4067-be06-1c92aed79b4a.png)

### Expected Behavior

Correct layout

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.13

### What app or flow are you havin

[2021-10-06 07:20] megel opened #1321 "[CoE Starter Kit - BUG] Developer Compliance Center don't use the Browser Window Space correct"
### Describe the issue

The layout of Developer Compliance Center don't align correct in App Detail Screen:
![image](https://user-images.githubusercontent.com/15800069/136157040-44e2e795-14ea-4e72-9407-bb39f2e5f1c6.png)

The browser window have a size of: 2048x1191
Browser Zoom is 100%
Browser: Google Chrome Version 94.0.4606.61 (Official Build) (64-bit)

### Expected Behavior

Correct Layout

###

[2021-10-06 09:15] pvarma8 opened #1322 "[ALM Accelerator - BUG]: Issue at Create Pull Request, build-deploy Validation Pipeline failing at Set EnvironmentId"
### Describe the issue

Hello Team,

We are facing issues with the ALM Accelerator at Create Pull Request stage.

We have 3 different environments (Development, Testing and Production) in Power platform.  There are three pipelines created accordingly (deploy-validation-SampleSolution, deploy-test-SampleSolution and deploy-prod-SampleSolution)

A Separate branch is been created for each solution un

[2021-10-06 13:08] Jenefer-Monroe commented on #1319
local fixed for November

[2021-10-06 13:12] Jenefer-Monroe commented on #1320
We used the adaptive controls feature for the sizing here so this may be a product bug.
Will wait for the app dev to return to determine.

[2021-10-06 13:18] Jenefer-Monroe commented on #1163
Can you please validate if these are showing in the data itself? Meaning go look at the data in the dataverse itself?
This will let us know if the problem is with the data or the report.

[2021-10-06 13:44] MSFT-klpinhac opened #1323 "Please add PowerApp-ID to the "Admin View" Model-Driven App"
**Is your feature request related to a problem? Please describe.**
currently it is not easy to find an entry in the "Admin View" Model-Driven App when you are provided with the ID of the PowerApp

**Describe the solution you'd like**
Please add the ID of the PowerApps to the Views & Forms of the "Admin View" Model-Driven App

**Describe alternatives you've considered**
Exporting the entries to exc

[2021-10-06 14:31] NPrice99 commented on #1163
Hi @Jenefer-Monroe
I can confirm the data in the column "Environment Name" is blank for about 40 rows

Regards

Nigel

[2021-10-06 16:09] medicineshow opened #1324 "[CoE Starter Kit - BUG] Compliance Detail Request Flow - not returning apps for Default envt"
### Describe the issue

Under the control "Apply to each envt App"  the step "Get Assignee apps" fails with the error:
Unexpected error. Request to Azure Resource Manager failed with error: '{"error":{"code":"ActionRepetitionNotFound","message":"The specified repetition '000007-000000' of workflow action 'Get_Assignee_apps' is not found."}}'.

And the step "Maker has submitted business requirement

[2021-10-06 17:20] Jenefer-Monroe commented on #1324
This scope seems to have passed. Its not showing any failures. Did the flow as a whole pass or fail?

[2021-10-06 18:43] Jenefer-Monroe commented on #1324
i see. This is an error message about the product itself trying to find loops. So I dont think that I can help you debug.
My presumption from the text is that the error will not persist on rerun, it sounds like a transitory error. But if it does, then you may have to contact support.

[2021-10-06 22:31] J04nn4 opened #1325 "[CoE Starter Kit - BUG] Set App Permissions - D4T - cant add users to default envt"
### Describe the issue

Open Set App Permissions
Pick an app in Default environment.
Click Add new users
Select a user
Get an error "The Environment could not be found in the tenant"

### Expected Behavior

Pick an app in Default environment.
Click Add new users
Select a user
User is added.

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.2

[2021-10-06 22:37] J04nn4 opened #1326 "[CoE Starter Kit - BUG] Set App Permissions -D4T - not reading env vars"
### Describe the issue

Open Set App Permissions app
Pick an app
Click on App Details
It go to broken link.  Link is missing the "https://make.powerapps.com/". The Environment Variable is filed out.
![image](https://user-images.githubusercontent.com/35706419/136293029-ff981894-a5a7-43b5-8397-52241ffdb200.png)

### Expected Behavior

App details button to open the makers portal with details of the

[2021-10-07 05:04] ToddIngersoll commented on #1292
I have the same issue.  That table has no rows being written to.

[2021-10-07 06:22] GarryPope opened #1329 "[CoE Starter Kit - BUG] Unneeded tab on Portal form"
### Describe the issue

Hello Coe Team,

Just a simple one, nothing important. In the "Power Platform Admin View" model-driven app, on the Power Apps Portal form, there is an empty tab called "New Tab".

Don't think that's needed.

![image](https://user-images.githubusercontent.com/68440710/136330249-c91e6e59-d845-49dd-89fd-8256fbb56410.png)

Thanks very much,

Garry

### Expected Behavior

"New T

[2021-10-07 06:46] MSFT-klpinhac commented on #1323
Thanks @Jenefer-Monroe !
.. has the column AppIDString been added recently?
Maybe i just to update to the latest version ;-)

[2021-10-07 07:49] manuelap-msft opened #1330 "[CoE Starter Kit - Backlog] Set Connection Permissions App"
### Discussed in https://github.com/microsoft/coe-starter-kit/discussions/1328

<div type='discussions-op-text'>

<sup>Originally posted by **kashanico** October  6, 2021</sup>
It would be great to have an Power App like what we have to Apps or Flows to edit permission but for Connections.
We have issues where an employee who owns connections has left, it would be great to see who have permission

[2021-10-07 10:32] Jenefer-Monroe commented on #1325
Hello I do not repro. Can you please share a screenshot of your solutions so we can see what version you are on? We have not shipped a version 3.2 of Core yet.
![image](https://user-images.githubusercontent.com/89584709/136367909-3ec49108-863c-493b-a791-f51931e4b8fe.png)

[2021-10-07 10:40] Jenefer-Monroe commented on #1292
I will hide your comments then @Label-Maker, since they do not seem to be the same issue. Thanks for using CoE

[2021-10-07 10:55] Jenefer-Monroe commented on #1254
This is how we persist the GUID across runs. We dont get a GUID from the product in this case (like we do for apps/flows/etc) we have to generate one the first time we see a connector. And then subsequent runs we have to see if the connector has already been  inserted.

While this seems like a lot of calls (~3k in my test tenant) its a pretty small flow for the CoE. My test tenant with ~1400 canva

[2021-10-07 11:10] Jenefer-Monroe commented on #1324
Can you open the flow in edit mode and share a picture of what these conditions look like for you?

[2021-10-07 11:29] medicineshow commented on #1324
So this is the output from the "List this envt apps" step in the failed flow :
{
    "statusCode": 200,
    "headers": {
        "Vary": "Accept-Encoding",
        "x-ms-service-request-id": "1cb70df5-646b-4874-be8c-bb98d1da788c,ae5e5c8b-8162-4941-85de-eb3e1d50262f",
        "Cache-Control": "no-cache",
        "Set-Cookie": "ARRAffinity=3288e5bb110f7d7f216504d49b6d255330e0aa12f59de91511fad78e797a

[2021-10-07 11:31] medicineshow commented on #1324
and this is the flow in edit mode after the "List this envt apps" step which fails:
![image](https://user-images.githubusercontent.com/17124284/136375900-96c2431c-72e1-4770-9232-29044958a106.png)

[2021-10-07 13:53] Jenefer-Monroe opened #1332 "[CoE Starter Kit - BUG] Model Driven Apps sync flow not writing App Environment ID string"
### Describe the issue

We forgot to add this to MDA sync when we added to canvas

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.13

### What app or flow are you having the issue with?

Admin | Sync Template v3 (Model Driven Apps)

### Steps To Reproduce

_No response_

### Anything else?

_No respons

[2021-10-07 14:36] manuelap-msft opened #1333 "[CoE Starter Kit] Duplicate app GUIDs across different environments"
### Discussed in https://github.com/microsoft/coe-starter-kit/discussions/1331

<div type='discussions-op-text'>

<sup>Originally posted by **jukkan** October  7, 2021</sup>
Especially with Model-driven apps from Dynamics 365 environments, it's not uncommon that a customer will have copied an environment for dev/test purposes. This means that the existing app id values will be the same on the Powe

[2021-10-07 14:36] manuelap-msft commented on #1333
@Jenefer-Monroe It looks like model driven apps can also have the same GUID in one tenant. Wondering if there's something we can do here like we did with Portals?

[2021-10-07 15:00] bartsneary opened #1334 "Admin | Sync Template v3 (Portals) errors claiming duplicate records"
We have a tenant with lots of portals, many named the same thing as we just left the defaults much of the time.  We get several errors when this flow runs claiming this step: (Create New Portal Record (Created By System))
![image](https://user-images.githubusercontent.com/41799380/136409759-e183d767-0785-4512-8d84-faa37abe2e04.png)
Is attempting to create a duplicate record.  The id of the portal

[2021-10-07 19:58] J04nn4 opened #1336 "[CoE Starter Kit - BUG] Set App Permissions (Dataverse for teams) User photo error."
### Describe the issue

When in the app, owner tab, looking for people get following error. (freshly deployed COE core for D4T on 10/05)
![image](https://user-images.githubusercontent.com/35706419/136453308-10ee65d4-c3a0-440c-9886-6650f9ece395.png)

### Expected Behavior

no error when filtering owners.

### What solution are you experiencing the issue with?

Core

### What solution version are yo

[2021-10-07 20:03] J04nn4 opened #1337 "[CoE Starter Kit - BUG] Set Flow approval Dataverse for teams"
### Describe the issue

When in the owner tab for Set flow approval, the user is not being pulled it. We have checked the table in Dataverse and it does have the user/owner listed along flows they have. but in the app the owner is not found, nor the flows show up.
We re-run the collection flows and cleanup flows and all with no different for it to show in the app. The flows are active. It is happe

[2021-10-08 01:40] Jenefer-Monroe commented on #1337
This is our Set Flow Permissions in team, showing the owners
![image](https://user-images.githubusercontent.com/89584709/136484934-045a5a45-3d7f-4873-a409-af1e8ec2a9a8.png)

[2021-10-08 01:46] Jenefer-Monroe commented on #1334
I'll re-open this to track the fix for November if you don't mind :)

[2021-10-08 07:41] pvarma8 commented on #1322
@mikefactorial Thank you very much for your help.

I figured it out. There is an issue with the variable group configuration. I fixed it now. :)

[2021-10-08 12:04] #1322 closed

[2021-10-08 12:33] mikefactorial opened #1338 "[ALM Accelerator - BUG]: Documentation Updates"
### Describe the issue

Creating a new issue to track work on https://github.com/MicrosoftDocs/power-platform/issues/914.

### Expected Behavior

_No response_

### What component are you experiencing the issue with?

ALM Accelerator Canvas App

### What solution version are you using?

Latest Docs

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-10-08 15:24] medicineshow commented on #1324
We have found that if we remove a section of the filter rows in the step"List this envt apps" the flow runs without error.
The filter row is:
_admin_appowner_value ne null and admin_appdeleted ne true and admin_appownerdisplayname ne 'SYSTEM' and admin_appenvironmentid eq '@{items('Apply_to_each_envt')?['admin_environmentid']}'

As a workaround we have set it as:
_admin_appowner_value ne null and

[2021-10-08 20:50] sbahlbhatia opened #1340 "[CoE Starter Kit - BUG] your issue"
### Describe the issue

Trying to find out what the HELPER flows do and which apps trigger them.

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

2.75

### What app or flow are you having the issue with?

HELPER - CanvasAppOperations; HELPER - CloudFlowOperations

### Steps To Reproduce

What is the trigg

[2021-10-08 21:00] Jenefer-Monroe commented on #1340
The helper flows are called from a variety of apps and flows. We can put documenting this on the backlog but we may not get to that quickly. In the meantime you can look at dependencies as shown here:
![image](https://user-images.githubusercontent.com/89584709/136624155-b5be3202-7409-4134-b60a-82bcde8c0033.png)

If you have specific questions, please let me know

[2021-10-11 11:11] medicineshow commented on #1324
I should add, your last comment explains why it returned so many instances of apps when we removed the admin_environmentid filter. In other words it generated a number of emails, however, it did return apps from environments that it appeared to error before. Could this somehow be related to the admin_appenvironmentid value missing from some apps in the environment which causes it to fail for the w

[2021-10-11 13:48] Jenefer-Monroe commented on #1324
I think that issue is covered here: #1332
I discovered it while debugging yours. But I did not repro your issue before fixing that so I dont think it completely explains your issue.
We are currently revamping this flow completely for Nov, and I dont repro, so likely I fixed it already accidently. I will hold for the Nov release for you to double check.

[2021-10-11 15:05] Jenefer-Monroe commented on #1324
Unfortunately I'm not at a state that can be sent out. You'll be glad you couldn't ship this month then since this is new as next months is going to be a much better end to end solution.
If I finish early I will let you know.

[2021-10-11 15:17] sbahlbhatia opened #1343 "[CoE Starter Kit - BUG] All apps and flows"
### Describe the issue

Is there any documentation on the apps (like definition and/or usage) in the CORE solution of the COE Starter kit?

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

2.75

### What app or flow are you having the issue with?

ALL

### Steps To Reproduce

Just need help understanding w

[2021-10-11 15:57] Jenefer-Monroe commented on #1343
Hello we have documentation for what the objects in the toolkit do. Please browse through [our documentation](https://docs.microsoft.com/power-platform/guidance/coe/starter-kit-explained)

1. [Admin - Access this App / Flow](https://docs.microsoft.com/power-platform/guidance/coe/setup-powerbi#optional-configure-embedded-apps-in-the-coe-dashboard)
1. [App Catalog](https://docs.microsoft.com/power-p

[2021-10-11 17:18] castilld5797 commented on #1337
This is what happens to us as well using the MS Teams module. I have Flows in the default environment as per screen shot, but I am not found when searching in the  owner tab
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/8749850/136829715-85b66171-5cbe-40ec-8aa3-256636ae4cb7.png)
![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/8749850/136829745-ca5bfd1b

[2021-10-11 18:21] filcole opened #1344 "[ALM] Fix zero GUIDs on business rule export"
**Is your feature request related to a problem? Please describe.**
The exported XAML for a business rule included in a solution is different when it is first exported from an environment to when the solution is imported into a clean environment. This creates noisy unnecessary diffs in the unpacked files when using healthy ALM practices.

This issue has been occurring for a long time, in both solut

[2021-10-11 19:08] mikefactorial commented on #1344
Thanks for bringing this up and for raising the SR as well. Will take a look at the PR. The contribution is much appreciated 👍

[2021-10-11 19:11] mzd4fz00 commented on #1292
Hi Jenefer, were there any additional components you recommend we check?

[2021-10-11 19:26] Jenefer-Monroe commented on #1292
I've seen this happen with one GCC customer. They uninstalled the audit logs solution and reinstalled it and it worked.
It seemed that there may have been some caching somewhere that we could not clear without delete/reimport.

[2021-10-11 19:30] mzd4fz00 commented on #1292
Hi Jenefer, that has been done twice now with Microsoft support (Alex Rezac and Ernest Ovalles) but it did not correct the issue unfortunately.  Are there some additional measures you would recommend?

[2021-10-11 20:25] DDog80sRocked opened #1345 "Model apps having the same ItemInternalID across environments only shows in 1 environment"
### Describe the issue

We have multiple model apps in multiple environments.  If the model app is promoted through Dev, Test, then Prod, the CoE only detects one instance of that model app.  This affects the app count and resources of the environments because the app doesn't appear in the remaining 2 environments.

### Expected Behavior

Model apps should be detected with a unique ID so they appe

[2021-10-12 00:15] rajyraman commented on #671
@mikefactorial - I was able to increase the timeout of the job, but it still gets killed after 1 hr. The Upgrade solution is in the target environment, so it was deployed by the pipeline, but the job got killed before the "Apply Upgrade".

![image](https://user-images.githubusercontent.com/5035266/136869268-02c5be4e-859b-4d14-8ce3-edcad4ba7472.png)
![image](https://user-images.githubusercontent.co

[2021-10-12 05:24] rekharannii opened #1346 "Getting error in setting up "Power Automate RPA run log analytics with Power BI and Dataverse""
Following below article to set run analytics for RPA:
https://powerautomate.microsoft.com/en-us/blog/advanced-power-automate-rpa-run-log-analytics-with-power-bi-and-dataverse/
I have downloaded latest version of coestarter kit, but getting error
![image](https://user-images.githubusercontent.com/92354027/136896392-8ebc49c5-d6d5-4bde-9152-00a484a2131d.png)
![image](https://user-images.githubusercon

[2021-10-12 06:55] MiyukiAmino opened #1348 "[CoE Starter Kit - BUG] Error occured in "Admin | Sync Template v3 (PVA) Admin | Sync Template v3 (PVA)" flow"
### Describe the issue

Maybe, this is the issue related localization.

error detail:
admin_pva With Id = 2839fa30-0b75-4a5a-9372-567cfd0393cc Does Not Exist

![image](https://user-images.githubusercontent.com/84189892/136905348-363c8876-8a07-4c80-aa35-4e1b705ed8b2.png)

Error occurred in below action.
![image](https://user-images.githubusercontent.com/84189892/136905869-f50c9ebc-91b5-416b-9b70-75

[2021-10-12 13:12] Jenefer-Monroe commented on #1292
From [the setup steps](https://docs.microsoft.com/power-platform/guidance/coe/setup-auditlog#set-up-the-custom-connector), can you confirm that you confirm that you changed the host on the General tab? We realize that the instructions were a little confusing (say leave it as is, but then show the change needed for gov tenants) and we have changed that slightly for Nov

![image](https://user-images

[2021-10-12 15:15] challa85 opened #1349 "[CoE Starter Kit - BUG] Power BI refresh failing with error "Processing error: A join operation cannot result in a table with duplicate column names ("owningbusinessunitname")""
### Describe the issue

Power BI report refresh is working fine with the July CoE starter Kit version but the same refresh is failing after installing the October version and I am using the Power BI template provided in the Oct tool kit version.

### Expected Behavior

Power BI refresh should not fail.

### What solution are you experiencing the issue with?

Core

### What solution version are you

[2021-10-12 15:18] #1349 closed, assigned to Jenefer-Monroe

[2021-10-12 15:24] vinayak-ipactech opened #1350 "[CoE Starter Kit - BUG] Dashboard : duplicate column names ("owningbusinessunitname")"
### Describe the issue

I deployed the Employee Experience component but thereafter started getting below refresh failed error for Dashboard:

Failure details: A join operation cannot result in a table with duplicate column names ("owningbusinessunitname").

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

[2021-10-12 15:35] jenschristianschroder opened #1351 "[ALM Accelerator - BUG]: Deployment Settings - Dropdown limits number of items"
### Describe the issue

The dropdowns in the Deployment Settings screen does not show all items for App Sharing (AAD groups) or Component Ownership (Users) when list exceed certain number of items.

Result is that it is not possible to select the correct AAD group or the correct User.

Would be great to have a search feature to search filter the dropdowns

### Expected Behavior

_No response_

###

[2021-10-12 16:30] #1350 closed, assigned to Jenefer-Monroe

[2021-10-12 16:32] Jenefer-Monroe commented on #1348
It should be the same steps for D4T or regular environments.

[2021-10-12 16:42] robertcaretta opened #1352 "[CoE Starter Kit - BUG] Request Orphaned Objects Reassigned (Parent) - Extra Columns in Admin Email"
### Describe the issue

There appears to be extra columns of information in the email sent to admins. Are these placeholders needed for something?

![2021-10-12_11-36-34](https://user-images.githubusercontent.com/1613085/136996164-d78bb2ab-1c97-4e37-aaa7-bddfcf0aec1b.png)

![2021-10-12_11-35-58](https://user-images.githubusercontent.com/1613085/136996178-1c4558d7-2f4b-4609-811a-8924659a29b3.png)

[2021-10-12 17:11] robertcaretta opened #1353 "[CoE Starter Kit - BUG] - Admin | Sync Template v3 (PVA) - Very long run times & Bad gateway"
### Describe the issue

This inventory flow is taking upwards of 2 hours to complete. We have zero PVA flows in our test environment.

![2021-10-12_12-03-50](https://user-images.githubusercontent.com/1613085/136999985-9deade8e-e15c-489e-a090-eb2425a87281.png)

![2021-10-12_12-05-43](https://user-images.githubusercontent.com/1613085/136999994-95f58dae-570f-47e7-befe-1f3278269d75.png)

![2021-10-12_

[2021-10-12 18:22] challa85 opened #1354 "[CoE Starter Kit - BUG] Receiving the alerts "Your audit logs were collected but some were missed do to truncated results in this run""
### Describe the issue

Hi Team,

After installing the latest CoE starter kit Audit log solution we have been receiving the alerts like "Your audit logs were collected but some were missed do to truncated results in this run ".  We haven't received this kind of alert when July Solution was in place. Please let me know how to rectify this.

Thanks

### Expected Behavior

_No response_

### What sol

[2021-10-12 21:26] robertcaretta opened #1355 "[CoE Starter Kit - BUG] - Switch helper flows to use IsSolution flag for Flows"
### Describe the issue

The flow "HELPER - CloudFlowOperations Gov" is erroring out when attempting to process the data that has been passed to it from flow "Request Orphaned Object Reassigned (Child)". The flow "Request Orphaned Object Reassigned (Child)" does appear to be sending values to the HELPER flow.  There appears to be some data type mismatches as the HELPER flow evaluates the variables.

[2021-10-12 22:37] Jenefer-Monroe commented on #1353
There isn't really anything we can do here. I dont know why flow took 2 hours to retry that call. We dont want to take away the retry as there are valid reasons to retry. Does this happen consistently?

[2021-10-12 22:59] andrewgaskins opened #1356 "[ALM Accelerator - BUG]: Import Managed Solution as Update Fails to connect to Dataverse"
### Describe the issue

When running the test deployment pipeline I am getting hung up at Import Managed Solution as Update. The error is "Failed to connect to Dataverse". I have checked the Service connections, service connection variables and the app user on the test environment. Everything looks to be correct but I can't seem to locate where this would call from.

Oddly the call to validation I

[2021-10-13 02:40] last72 opened #1357 "[ALM Accelerator - BUG]: Solution import failed using Quickstart"
### Describe the issue

AA4AM installation failed on Solution import step as there is no connection established in target environment.

Docs Link: https://github.com/microsoft/coe-starter-kit/blob/main/coe-cli/docs/aa4am/readme.md#quick-start

Error Message should describe the issue.

Error message:
![image](https://user-images.githubusercontent.com/30095306/137057493-e405b0e4-6634-4711-b807-3e639

[2021-10-13 03:14] Nanditdhania commented on #1291
Remove the column "owningbuisnessunitname" from the connector table and you're sorted.

[2021-10-13 03:39] andrewgaskins commented on #1356
Last comment: Deleting the solution from the test environment cleared the final errors. I know have successful pushes.

[2021-10-13 03:41] #1356 closed

[2021-10-13 04:56] vinayak-ipactech commented on #1350
Thanks Jenefer.

[2021-10-13 09:52] MartinWhiteDAZN opened #1358 "[CoE Starter Kit - BUG] case sensitive - CLEANUP - Admin | Sync Template v3 (Check Deleted)"
### Describe the issue

This is for the Teams version...
The flow CLEANUP - Admin | Sync Template v3 (Check Deleted) is not checking the environment variable 'Also Delete From CoE' correctly because it is case sensitive.
In the flow, two variables are created. Variable 'varDeleteFromCoE' gets the environment variable in its raw state and variable  'DeleteFromCoE' gets the environment variable as a

[2021-10-13 09:57] manuelap-msft opened #1359 "[CoE Starter Kit] Power Platform Admin View - model driven app - hide ribbon options"
In the Power Platform Admin View (model driven app), the default ribbon includes options like share / delete etc. We had some customers confused and think that using these options would share the app / delete the app when actually all this does is delete the record in the PowerApps App table (our inventory) or share the record.

We should invest in modifying the ribbon to remove those buttons.

[2021-10-13 13:27] jukkan opened #1360 "[CoE Starter Kit - BUG] Cannot install Audit log solution: "Could not find API""
### Describe the issue

This Dataverse (full) environment has CoE Core solutions v3.13 installed and the Office 365 Management API custom connector has been configured. Upon trying to import the Audit Log solution v2.5 the prompt for updating connections shows that Office 365 Management API doesn't have any existing connections, even though I've added one under the connector already:

![image](htt

[2021-10-13 13:50] mikefactorial commented on #1356
Hey @andrewgaskins thanks for submitting this and for including the steps you took to push past the issues. The CreateVariableValue plugin error is something I've seen as well. It appears to be related to exporting a solution that contains current values for environment variables and / or manually setting environment variable values in the target environment. The import rejects the values in the d

[2021-10-13 13:57] mikefactorial opened #1361 "[AA4AM] Make Pipelines Ready for Dataverse for Teams"
**Is your feature request related to a problem? Please describe.**
Now that we have loosened the APIs for Dataverse for Teams, we need to look into what remaining blockers exist to using the ALM Accelerators with DV4T and whether it's possible to use the ALM Accelerator pipelines for a DV4T environment.

**Describe the solution you'd like**
Begin by researching the gaps in the DV4T APIs available

[2021-10-13 13:58] Jenefer-Monroe commented on #1360
Can you please share a screenshot of the the following? My suspicion is that you do not have an active connection.
Dataverse > Custom Connectors > Edit the Office Management API connector
Go to the test screen. Do you see a connection here? or None?
![image](https://user-images.githubusercontent.com/89584709/137146941-c841e38e-ed8b-45a7-aa7d-3a787f29cdd3.png)

Dataverse > Connections
Do you see th

[2021-10-13 14:19] mikefactorial opened #1363 "[ALM Accelerator - BUG]: Connection Reference Hardcoded in Pipeline Template"
### Describe the issue

update-deployment-settings current has connection reference object type code hard coded update the following powershell in the pipeline template (Lines 74: 79)
[code]

to

[code]

The connection reference type code is not static across environments and requires a lookup to the solutioncomponentdefinition table in order to get the correct value.

### Expected Behavior

Templ

[2021-10-13 15:21] #1363 closed, assigned to mikefactorial

[2021-10-13 16:45] mehakvij commented on #1272
@mikefactorial  does this workaround apply to the deploy pipeline as well? I'm getting an error at pack msapp files when deploying (error attached)
[error.txt](https://github.com/microsoft/coe-starter-kit/files/7340020/error.txt)

[2021-10-13 16:55] mikefactorial commented on #1272
@mehakvij doesn't appear to be related to this issue as it's complaining about a specific file that can't be parsed from your existing unpacked app. This issue was throwing a more generic error referenced in microsoft/PowerApps-Language-Tooling#310.
I've not seen your specific error before. Feel free to open a new issue for your error with the specific of the version of AA4AM you're using and the

[2021-10-13 17:36] mehakvij opened #1364 "[ALM Accelerator - BUG]: Pack msapp files - deploy pipeline Issue [AA4AM]"
### Describe the issue

When running the deploy pipeline, I am getting the below(attached) error.
[error.txt](https://github.com/microsoft/coe-starter-kit/files/7340243/error.txt)

![image](https://user-images.githubusercontent.com/73190679/137183996-2b27b102-ebbe-48c4-af63-350769e1d8da.png)

canvas manifest:
![image](https://user-images.githubusercontent.com/73190679/137184212-5971b387-9a40-4f39-

[2021-10-13 20:07] misskristine94 commented on #1291
Thank you Manuela! I guess all the police thrillers I've watched have taught me some detective skills! 😄 I am still baffled how that issue came up in the first place if I'm honest!

Apologies for the late reply but I've been out of the country and only just returned this morning. I can see that some users are still having the same issue as I did so I thought I'd clarify the steps to save everyone

[2021-10-13 21:57] davidvansickle opened #1365 "[CoE Starter Kit - BUG] DLP configuration of custom connector"
### Describe the issue

We've setup two CoE Environments, LAB and PROD (but both are production environments)
When setting up the second CoE Environment (LAB), the Office 365 Management API is in the DLP Policy for both environments.
The ConnectionID in LAB is:

ConnectionId : /providers/Microsoft.PowerApps/scopes/admin/environments/d8769078-f1c6-4c35-8b94-bda7883324fe/apis/shared_admin-5foffice-2

[2021-10-14 08:50] melmgcoe opened #1368 "[CoE Starter Kit - BUG] - Audit log solution issue"
### Describe the issue

Hello,

We've recently started to see notification alerts from the audit log solution warning that a smaller chunking interval is required to collect all the audit logs entries.

We've updated the environment variables to a lower interval (30 minutes) as advised but unfortunately the logs still run at the default 1 hour interval. Is this a known bug or have I configured the

[2021-10-14 09:39] manuelap-msft commented on #1365
Hello,

instead of adding the custom connector directly to the DLP policy, I would recommend using a tenant-level DLP policy where you allow-list the custom connector host (manage.office.com), see:
https://docs.microsoft.com/en-us/power-platform/admin/dlp-custom-connector-parity#tenant-level-dlp-policies

It is not necessary to set up separate app registrations for different environments, they can

[2021-10-14 11:41] petepuu opened #1369 "[CoE Starter Kit - BUG] "CLEANUP HELPER - Power Apps User Shared With" flow does not save App info"
### Describe the issue

"CLEANUP HELPER - Power Apps User Shared With" flow does not save App, so for example the "App shared with" table in Power Platform Admin view. See more details in this closed issue #569

After defining App in the Flow then started to see users in App shared with list

![image](https://user-images.githubusercontent.com/8307644/137309999-a3ae31c3-5bd4-4f69-b865-89be3e152ef8.

[2021-10-14 15:45] #104 closed

[2021-10-14 20:18] ServiceAdmin365 opened #1371 "Alm accelerator for makers"
Can we use the ALM Accelerator for makers with existing environment (dev,qa,prod). For dev also it is creating new environment and test while deployment also it is creating environment.
Which is failing due to the capacity issue. Why don't we use the default dev environment which is existing one for development band existing aa for testing

[2021-10-14 20:52] ericregnier opened #1372 "[CoE Starter Kit - BUG] Canvas apps' data sources do not refresh data on start up"
Canvas apps' data sources do not refresh data on start up.
**Repro steps:**
1. Assume in one of the environments, there's a canvas app called XYZ
2. Play a canvas app, for example, "Admin - App Permission Center" app which should list app XYZ
3. Delete the app XYZ directly in the maker portal
4. Close the "Admin - App Permission Center" app and re-open it
5. App XYZ is still listed in the list eve

[2021-10-14 22:01] rrwolfe opened #1373 "[CoE Starter Kit - BUG] update flow completion to be consistent across suite"
### Describe the issue

Found a discrepancy in a previous release of CoE Core Solution > Admin | Sync Template v3 (Flows) concerning naming differences between the flow name and the name we’re inserting for the sync flow errors. This looks to be updated to "V3" with the latest release but was V2 in the August release. Recommend using Flow Name variables for the names instead of manually adding the

[2021-10-15 11:02] rrwolfe opened #1374 "[CoE Starter Kit - BUG] Admin Command Center app throwing error for Message Center in GCC environments"
### Describe the issue

When you open the Admin Command Center app, there's an immediate error at the top of the screen related to a failure with the Command Center App > Get M365 Service Messages flow that seems specific to GCC.

![image](https://user-images.githubusercontent.com/74214126/137477120-a189a350-cbf6-46ea-aeb2-25bdc24e76bd.png)

![image](https://user-images.githubusercontent.com/74214

[2021-10-15 12:21] manuelap-msft opened #1375 "[CoE Starter Kit] Include Power Platform release wave notes in Command Centers"
The Release Wave notes have an RSS feed https://docs.microsoft.com/en-us/power-platform-release-plan/2021wave2/power-apps/ and it would be useful to include this information in the Command Center as well, so that admins can be prepared for what new is coming when.

[2021-10-15 13:51] #1372 closed, assigned to Jenefer-Monroe

[2021-10-15 15:45] melmgcoe commented on #1368
I ended up setting the interval to 1 minute as I received a single notification yesterday saying one of the runs was truncated. I received another single notification today, however when I check both today's and yesterday's run, I see they completed without issue. Any reason why I'm still seeing the notification appear?

[2021-10-18 10:25] melmgcoe commented on #1368
Hello, could I please get a view as to why we still receive a notification that the audit log flow has been truncated? It feels like this could be a bug so I'm thinking about upgrading to the latest starter kit version.

[2021-10-18 11:55] devkeydet commented on #47
Note, I have some working prototypes of GitHub workflows, using reusable workflows, that function conceptually similar to our Azure DevOps pipelines.  The prototypes don't do everything our pipelines do, but are a good start that we can start to bring into this repo and build on to get to a functionally equivalent set of GitHub actions.  The three main workflows are:
https://github.com/devkeydet/p

[2021-10-18 14:32] Jenefer-Monroe commented on #1369
Thank you for posting, working on a fix for Nov.

[2021-10-18 14:44] #1354 closed, assigned to Jenefer-Monroe

[2021-10-18 15:04] Jenefer-Monroe commented on #1369
local fixed for November

[2021-10-18 15:17] #1343 closed, assigned to Jenefer-Monroe

[2021-10-18 20:38] #1348 closed, assigned to Jenefer-Monroe

[2021-10-18 20:42] #1346 closed, assigned to manuelap-msft

[2021-10-18 21:48] Jenefer-Monroe commented on #1345
local fixed for November

[2021-10-18 22:52] Jenefer-Monroe commented on #1326
OK I repro this when I install in a new tenant.

[2021-10-18 23:09] Jenefer-Monroe commented on #1311
closing out as no further action for the toolkit team

[2021-10-18 23:22] Jenefer-Monroe commented on #1352
ok I see this when I installed in a new tenant. Seems we didnt copy the flows over correctly before shipping.

[2021-10-18 23:24] Jenefer-Monroe commented on #1337
I dont really follow this one, and I dont repro cases in my install (even in a new tenant)
Can you please give a more specific example? Can you find the data in the table and see if it has a different person listed for Derived Owner?

[2021-10-18 23:25] #1368 closed, assigned to Jenefer-Monroe

[2021-10-18 23:27] Jenefer-Monroe commented on #1293
This work would extend well past this single flow to every place we update orphaned fields so it would be a big change.
Worth doing likely but not an easy fix.

[2021-10-18 23:56] MiyukiAmino commented on #1348
@Jenefer-Monroe pls see my above comment. We, Japanese speakers, need your help.

[2021-10-19 13:56] Jenefer-Monroe commented on #1326
It looks like the app is not up to date in the OnStart command, the work we did to pull in the env vars was changed and placed there.
We somehow did not ship the app as it exists today.

[2021-10-19 15:07] EmranCoE opened #1378 "If the maker selected Approve by mistake . "Are you still using your Apps/Flows ""
### Describe the issue

I am working as a Power Platform Admin .
Those two components (Admin | Archive and Clean Up v2 (Start Approval for Flows/Apps)  when sending a request to the makers "Are you still using your Apps/Flows " If the maker selected Approve by mistake is there any option to cancel the Approve request  to stop  deletion process ?

![InkedGithub__LI](https://user-images.githubuserco

[2021-10-19 15:12] mehakvij commented on #1364
Hi @mikefactorial, so I deleted the original files in the folder and re-exported. I'm trying to deploy again and now getting this error.

![image](https://user-images.githubusercontent.com/73190679/137939261-3aa5cabd-c46d-4609-8014-e66083c68f13.png)

However, I recently re-ran the PowerApp Management command, so not sure why this error is popping up again

[2021-10-19 19:14] mzd4fz00 commented on #1292
Hi Jenefer, we will check this shortly and report our finding, and to be clear you are indicating since we are GCC that we should set our host value on the General tab to be: https://manage.office365.us if it isn't already set that way, correct?

[2021-10-19 19:23] mikefactorial commented on #1364
@mehakvij just ran some tests myself. I was able to reproduce your issue but only where the Application User does not exist in the target environment or doesn't have appropriate permissions. Make sure you have the Application User setup in the target environment.

[2021-10-19 19:52] mikefactorial commented on #1364
Try running this PS script as an admin to verify appropriate permissions in the target environment. Replacing CLIENTID, CLIENTSECRET, TENANTID, and YOURORG with your SP values and environment name.
[code]

[2021-10-19 20:27] sbahlbhatia opened #1380 "[CoE Starter Kit - BUG] question - Can I change the owner of a Power App using the Set App Permissions app?"
### Describe the issue

Can I change the owner of a Power App using the Set App Permissions app for an app? And will the app ID remain the same or will it change?

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

2.75

### What app or flow are you having the issue with?

Set App Permissions?

### Steps To

[2021-10-19 20:33] Jenefer-Monroe commented on #1378
You can preview apps/flows that have been approved but not yet deleted using the [app and flow archive and clean up view](https://docs.microsoft.com/power-platform/guidance/coe/governance-components#app-and-flow-archive-and-clean-up-view) app in gov, and you can then go manually change the value in the database.
If its already deleted, you will need to contact support and they can restore it.

[2021-10-19 21:33] mehakvij commented on #1364
Added the app user (totally forgot I was using a new env)

Hopefully I don't get the original error again either. Thanks!

[2021-10-19 21:33] #1364 closed, assigned to nobody

[2021-10-20 01:16] morismm99 opened #1381 "Filter out "Request Sign-off" flows from Clean Up Admin flow"
### Describe the issue

Currently, the "Admin | Archive and Clean Up v2 (Start Approval for Flows)" flow includes the SharePoint document library built in "Request Sign-off" flow, which is attached to the user who enables/configures this flow.

This flow, as far as I know cannot be edited by the owner, as it is tied to the SPO site, however, the admin flow above queries is and the owner is sent an

[2021-10-20 01:25] last72 commented on #1357
Hi @Grant-Archibald-MS , Any updates on this? I have created new tenant using CDX but I have save issue on install.

[2021-10-20 01:32] last72 opened #1382 "[ALM Accelerator - BUG]: AA4AM Pipeline failed"
### Describe the issue

In CDX tenant, installed AA4AM. Imported sample solution from DevOps Repo to DEV tenant using AA4Am Canvas App.

"import-unmanaged-to-dev-environment" Pipeline started and failed on "Activate Flows for Connection References" step.

See the error message below

`Cannot index into a null array.`

![image](https://user-images.githubusercontent.com/30095306/138012933-9711c9ae-4

[2021-10-20 06:04] Grant-Archibald-MS commented on #1357
@last72 Yes I have replicated this issue with a new cdx deployment. I will investigate further tomorrow.

[2021-10-20 12:53] morismm99 commented on #1381
Sorry, let me explain a bit better.

The "Request Sign-off" is a flow makers are creating by enabling it in an SPO document library.

https://docs.microsoft.com/en-us/business-applications-release-notes/april18/microsoft-flow/request-sign-off-flow-built-into-sharepoint

The "Admin | Archive and Clean Up v2 (Start Approval for Flows)" clean up flow as part of the Governance solution catches all of

[2021-10-20 14:29] #1365 closed, assigned to Jenefer-Monroe

[2021-10-20 16:52] Jenefer-Monroe opened #1383 "[CoE Starter Kit - BUG] App Settings button doesn't work for teams environments"
### Describe the issue

Use one of our apps with these buttons
![image](https://user-images.githubusercontent.com/89584709/138136658-c143835e-4fda-466e-80f4-6c55845a9629.png)
![image](https://user-images.githubusercontent.com/89584709/138136693-499e17ef-9eb7-43b2-84e2-daab7e576da0.png)

Try to use the button to get to apps/flows in teams environments, it doesn't work.

Set App Permissions, Complia

[2021-10-20 19:45] Jenefer-Monroe opened #1384 "[CoE Starter Kit - enhancement] add role setting to CanvasAppOperations helper flows"
### Describe the issue

we create new owners with this helper but did not update the user role table.
this was needed for the work in Developer Compliance Center.

### Expected Behavior

fixed to both Core and Gov

### What solution are you experiencing the issue with?

Governance

### What solution version are you using?

2.5

### What app or flow are you having the issue with?

CanvasAppOperatio

[2021-10-21 03:55] #1318 closed

[2021-10-21 07:48] manuelap-msft commented on #1110
Re-opening so it can be included in our release notes for November.

[2021-10-21 07:49] Papa-Cho opened #1385 "[CoE Starter Kit - BUG] Admin | Sync Template v3 (Flow Action Details) is immediately turned off"
### Describe the issue

When turning on the Admin | Sync Template v3 (Flow Action Details) flow in the CoE, it is automatically and immediately turned off by the system.
error message: Your flow was turned off on 21/10/2021 09:30:51 (14 minutes ago) because it was running more actions than expected
This flow has never run successfully since our upgrade to September 2021 release a few weeks ago. Th

[2021-10-21 11:22] azhar2501 opened #1386 "[CoE Starter Kit - BUG] your issue"
### Describe the issue

Hello,
We have notice that the table Power Platform User Role is not being correctly filled as the column "Flow' is empty. Please refer to the picture as attachment
![image](https://user-images.githubusercontent.com/87812978/138267075-6a60774d-b220-4977-88db-bc1f01759cc1.png)

### Expected Behavior

We expected to see all the owner(s) of Power Automate.

Thank you very much

[2021-10-21 11:23] MartinWhiteDAZN opened #1387 "[CoE Starter Kit - BUG] Cannot share Developer Compliance Center"
### Describe the issue

When sharing the Developer Compliance Center app with colleagues, the app does not work - it gives permission errors.
I have followed the instructions for sharing tables with colleagues i.e.
https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-governance-components#share-the-app-from-a-dataverse-for-teams-environment
Tables: PowerApps App, Environment, Flow, P

[2021-10-21 11:30] manuelap-msft commented on #1387
Hello,

I believe makers may require Full Access to update Dataverse records.

Here's why:
1. The way data is written to Dataverse tables is by the sync flows that run daily and write information about apps, flows, environments... to Dataverse tables.
2. These flows are run by the admin, and all records in Dataverse are then owned by the user running the flows. They are not owned by the maker.
3.

[2021-10-21 11:31] manuelap-msft commented on #1386
This is expected behaviour. At the moment, the CoE kit only gathers user information for Power Apps and not for Flows. The Flow field was added to this table in preparation only for when we can fund this work.

Thank you
Manuela

[2021-10-21 11:31] #1386 closed, assigned to Jenefer-Monroe

[2021-10-21 12:36] EmranCoE commented on #1378
Thank you !
One more question, If I understand right!
Following this documentation:
https://docs.microsoft.com/en-gb/power-platform/guidance/coe/governance-components#app-and-flow-archive-and-clean-up-view

So, even the maker click Approve by mistake
In the “App and Flow Archive and Clean Up View” App
If we select “Mark app/flow as excused “ == apps/flows will not be deleted

[2021-10-21 12:52] #1272 closed

[2021-10-21 12:53] mikefactorial commented on #1272
You can safely remove the workaround pipeline variable for using pacVersion = 1.9.4 with this fix

[2021-10-21 13:16] jenschristianschroder opened #1388 "[ALM Accelerator - BUG]: Cannot import solution with parent and child flows"
### Describe the issue

If a solution includes flows and child flows import will fail unless flows are activated in the correct sequence (child flows must be published/active before parent flow can be published/activated

Error message:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/24893229/138285010-904f394a-bae5-4076-bd5d-d5efd8724c76.png)

### Expected Behavior

Flows are ac

[2021-10-21 13:32] Jenefer-Monroe commented on #1360
I spoke with someone and they said this could be a relic of when we used to ship the custom connector in Audit Logs solution itself.

If that is the case, then when you are ready to upgrade next (Nov release perhaps), you can delete the Audit Log solution, Delete the custom connector from the environment entirely, upgrade to Nov and try again.

[2021-10-21 15:18] #1378 closed, assigned to Jenefer-Monroe

[2021-10-21 15:19] #1380 closed

[2021-10-21 15:41] manuelap-msft opened #1391 "[CoE Starter Kit] App Catalog - update with feedback option and other enhancements"
We refreshed the **App Catalog** with a few updates:

- Updated the UI to look like the Admin - Command Center app
- Update the App Detail screen to include
  - list of connectors this app uses
  - list of feedback & ratings
  - ability to leave star ratings and feedback
  - ability to email the maker
  - ability to request access which works via a Teams card + then grants access
- added new table

[2021-10-21 15:41] manuelap-msft commented on #428
![image](https://user-images.githubusercontent.com/55705669/138311520-c1fce9b4-25e9-4e47-9ff7-88c21902a96b.png)

[2021-10-21 15:42] manuelap-msft commented on #1391
![image](https://user-images.githubusercontent.com/55705669/138311520-c1fce9b4-25e9-4e47-9ff7-88c21902a96b.png)

[2021-10-21 15:57] manuelap-msft opened #1392 "[CoE Starter Kit] App Catalog - allow makers to add further details"
Update the App Catalog further with screenshots, user guides/FAQs, video walkthroughs that a maker provides.
This could be provided through the Developer Compliance Center, where we could add functionality for a maker to ask the admin to feature the app in the catalog. Currently this is an admin only decision.

[2021-10-21 21:47] mzd4fz00 commented on #1292
Hi Jenefer, we did make sure on General tab to make sure the host name is set to manage-gcc.office.com.  We are now seeing some entries making it to the Audit Log table which is very encouraging,  The last launched date is not yet populating though in the PowerApps App table,  Is that normal, and should the child flow for the audit log already be populating it?

[2021-10-21 21:50] Jenefer-Monroe commented on #1292
WOOHOO!!!

We shipped with a bug last month in which that field wasnt populating. If you use the Oct version of the toolkit it will be fixed. Please see https://github.com/microsoft/coe-starter-kit/issues/1288

[2021-10-22 00:43] Grant-Archibald-MS commented on #1357
@last72 after investigating the problem it appears that the new connection references for Http for AD and  PowerApps for Makers needed a shared connection.

I have updated branch https://github.com/microsoft/coe-starter-kit/tree/grarchib-aa4am-1357 to include changes in checkConnectionReferences to validate all connection references. @mikefactorial let review and look at meging back into main

[2021-10-22 01:24] rajyraman opened #1395 "[ALM Accelerator - BUG]: Cannot import solution with environment variable"
### Describe the issue

I am raising this under ALM Accelerator, but it seems to be a product issue. When I import the solution and deploymentSettings.json has the value for environment variable solution import still fails with this cryptic error. I have the environment variable in the unpacked solution folder without the value. That value is provided before the solution is imported. I tried `pac

[2021-10-22 10:44] jenschristianschroder opened #1397 "[ALM Accelerator - BUG]: DeploymentSettings.json invalid for import"
### Describe the issue

The deploymentSettings.json file generated in the deploy pipelines is invalid according to the expected schema for PAC CLI.
This results in import of solution failing

The File Transformation task converts the environment variables objects to single property elements in the array.

Input
{
    "EnvironmentVariables": [
        {
            "SchemaName": "cat_TextEnvironmen

[2021-10-23 20:01] ericregnier opened #1398 "[CoE Starter Kit - BUG] Admin | Sync Template v3 (Flows) bug with Record Creation and Update Rules"
### Describe the issue

_Admin | Sync Template v3 (Flows)_ run fail when _Record Creation and Update Rules_ exists in the target environment.

**Actual Results**
- Fails at step "Get New Flow as Admin" with not found error, but flow is found at step above "List Flows as Admin"
- "Admin | Sync Flow Errors" error email is received
- Error details: "_admin_flow With Id = 38864a7b-3903-ec87-6538-9013f

[2021-10-25 07:56] RimpalAgarwal opened #1399 "[CoE Starter Kit - BUG] your issue"
### Describe the issue

Here are the details of error

1.	Flow Name :  Admin | Sync Template v3 (Apps)

Error
Action 'Get_Apps_as_Admin' failed

Error Details
The request failed with client error: 'The environment '<null>' could not be found in the tenant 'e0793d39-0939-496d-b129-198edd916feb'.'. The correlation Id is '86978df5-2023-4c07-8e0d-b1a67e081c9a'.

2.	Flow Name : Admin | Sync Template v3

[2021-10-25 09:49] timhorobin opened #1400 "[CoE Starter Kit - BUG] Unable to load Power BI report"
### Describe the issue

The Power BI report won't load because of an error in the join operations of
App Connection Reference
Flow Connection Reference

![image](https://user-images.githubusercontent.com/59054127/138673288-0d4aa8a4-8d2f-46a9-ae81-a25681e24cb0.png)

![image](https://user-images.githubusercontent.com/59054127/138673405-d46afb13-b984-4d94-b286-b8a02831c84f.png)

![image](https://user

[2021-10-25 12:30] #1400 closed, assigned to Jenefer-Monroe

[2021-10-25 14:00] medicineshow opened #1402 "[ALM Accelerator - BUG]: ALM Accelerator Sample Solution Setup Issue"
### Describe the issue

On step 15 of the ALM Accelerator Sample Solution Setup (https://github.com/microsoft/coe-starter-kit/blob/main/ALMAcceleratorForAdvancedMakers/SAMPLESOLUTIONSETUPGUIDE.md#alm-accelerator-sample-solution-setup-preview) we get an error in the YAML pipeline setting for the Trigger that says 'The vmImage must be specified in the YAML file when using this Microsoft-hosted pool.

[2021-10-25 16:40] #1397 closed, assigned to mikefactorial

[2021-10-25 16:57] missbets opened #1403 "Command Center - Environment Variable Section"
Error: Field 'schemaname is required'
Issue: When using environment variable section in command center power, the above error pops up.
Resolved: Default Sol > environment variables > create a current value for specific environment variable
Once creating a current value, user will be able to edit environment variables using the command center app

[2021-10-26 11:56] manuelap-msft opened #1406 "[CoE Starter kit] Add field for environment purpose to enviornment table"
Add field to document environment purpose (such as used for Production, Development, Test, Training) to Environment table.

[2021-10-27 06:46] petepuu opened #1407 "[CoE Starter Kit - BUG] App audit process not working correctly"
### Describe the issue

I am testing the App audit process in Power Platform Admin View but not able to get it working correctly or maybe doing something wrong. When maker have submitted business justification and app is shared broadly the BPF starts but it is deactivated immediately. The "Next stage" does not work and it seems that I am only able to abandon the flow.

![image](https://user-images

[2021-10-27 06:59] sharmajitendralal opened #1408 "[CoE Starter Kit - BUG] Issue to Set up the audit log connector"
### Describe the issue

![CustomConnector](https://user-images.githubusercontent.com/30046543/139013826-8d751030-e122-4db6-a90c-4fa7592e2271.PNG)

I have successfully installed the following component and trying to setup the audit log connector
1. CenterofExcellenceCoreComponents_3.13_managed.zip
2. CenterofExcellenceAuditComponents_2.6_managed.zip

Now, I am not able to pull the custom connector

[2021-10-27 08:13] DemosPapa opened #1409 "[CoE Starter Kit - BUG] Approval user has insufficient permissions to the CoE Environment"
### Describe the issue

"The request was archiving was unable to process as the user has insufficient permissions to the CoE Environment. Please give them permissions to Approvals in the CoE to proceed."

How we correct this warning?

thank you

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Governance

### What solution version are you using?

2.5

#

[2021-10-27 11:06] RodneyHart opened #1410 "Settings for Custom Connector for Audit Logs will not save"
### Describe the issue

I am trying to set up the Custom Connector for audit logs as detailed here:
https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-auditlog
I input all of the data and then click on 'Update Connector'.  The page acts like it is saving and then comes back to a blank page.  I have tried saving numerous times, but the page is always blank after clicking 'Update Con

[2021-10-27 19:57] mzd4fz00 opened #1412 "DLP Editor V2"
### Describe the issue

Whenever we run the DLP Editor V2 using the Play button or if we preview it, we end up with an initial screen where we can select an environment but the rest of the screen is blank.  Ref screenshot.  We realize this may not be a bug but a configuration issue on our side.  Is this a known experience with the DLP Editor V2?  I checked for unmanaged layers on the DLP Editor V2

[2021-10-28 06:52] #1408 closed, assigned to Jenefer-Monroe

[2021-10-28 09:50] ServiceAdmin365 opened #1413 "[CoE Starter Kit - BUG] Nurture Components unable to see the apps in template catalog"
### Describe the issue

We have been installed oct2021 version in power platform environment.
We have followed the nurture component overview documentation to setup the template catalog app.But don't see any SharePoint connection to remove and update. Is there anything are we missing or is this covered in coming releases.

### Expected Behavior

We should be able to see the templates from SharePoi

[2021-10-28 13:39] smlwilliams opened #1414 "[CoE Starter Kit - BUG] your issue"
### Describe the issue

We are setting up a Teams dataverse Starter kit. After setting up the Power Bi report we noticed that it did not pull any data from our default environment.

### Expected Behavior

We should be seeing in our report all data for all the environments in our enterprise

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

2021

[2021-10-28 15:34] pallvip opened #1416 "[CoE Starter Kit - BUG] CLEANUP - Admin | Sync Template v3 (Check Deleted) runs for days and then fails"
### Describe the issue

Hi I have the flow 'CLEANUP - Admin | Sync Template v3 (Check Deleted)' run for days and then fails as it can find environment with error Action 'Get_Environment_as_for_bots' failed.

This has been happening for few weeks now.
Recently I have got another bug in the environment where it doesnt identify per flow passes since I had to remove passes and had to re-add them since

[2021-10-29 02:50] Jenefer-Monroe opened #1417 "[CoE Starter Kit - BUG] CLEANUP - Admin | Sync Template v3 (Connection Status) - fails when you run in to deleted apps and flows"
### Describe the issue

We get the list of apps/flows from the inventory and then get details from the product. if its been deleted (and check deleted hasnt run yet) it fails.

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.13

### What app or flow are you having the issue with?

CLEANUP - Admin | Sync

[2021-10-29 03:48] Jenefer-Monroe opened #1418 "[CoE Starter Kit - BUG] Check Deleted - PVA and MDA helpers timing out now for Teams sku"
### Describe the issue

Due to recent product changes, we now retry a bunch and the time out in the helpers for PVA / MDA for Teams envt.
We cant inventory from those envts anyway. So the fix is to check and not send to the helper for these cases.

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.13

###

[2021-10-29 07:49] raduneda opened #1419 "[CoE Starter Kit - BUG] Error on "export-solution-to-git""
### Describe the issue

On the following version of the pipeline templates: [https://github.com/microsoft/coe-alm-accelerator-templates/releases/tag/1.0.20210521.1a](url) I receive an error at the 'unpack msapp files' files:
`Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object.
   at temp_canvas_packager.Program.Main(String[] args)
`
This happen

[2021-10-29 10:53] #1413 closed, assigned to Jenefer-Monroe

[2021-10-29 12:36] manuelap-msft opened #1420 "[CoE Starter Kit] Configurable text for emails"
Currently users have to edit flows to make the email and adaptive card text their own which leads to unmanaged layers and update issues, it also is difficult to review the email text or even know which flow sends what.

- have an email configuration table that we preload with data (maybe not with a dataflow though)

- all flows pull info from that table

- where we dynamically have text we could u

[2021-10-29 12:50] manuelap-msft opened #1421 "[CoE Starter kit] Struggling to install Nurture Components"
### Discussed in https://github.com/microsoft/coe-starter-kit/discussions/1415

<div type='discussions-op-text'>

<sup>Originally posted by **gazzz99** October 28, 2021</sup>
I am struggling to install the Solution for Centre of Excellence Nuture Components - on solution import it fails with error message 80040224 - A task was cancelled. This is error "An unexpected error occurred from ISV code"

[2021-10-29 12:56] selo89 opened #1422 "[CoE Starter Kit - BUG] - DLP Editor V2 Impact Analysis page is not showing results"
### Describe the issue

When creating a DLP Policy on the DLP Editor with e.g. the SQL Server blocked within the results page no list is visible.
![Capture1](https://user-images.githubusercontent.com/93386318/139437915-f8351c9f-df29-40ac-8f6f-f9b23cec8597.PNG)
![Capture2](https://user-images.githubusercontent.com/93386318/139437926-1e4f75ea-a029-4975-8e2d-5bd708638a3e.PNG)

### Expected Behavior

[2021-10-29 12:58] mdpc-nnit opened #1423 "[ALM Accelerator - BUG]: Connection references will not export to deploymentSettings.json"
### Describe the issue

This issue was found as part of the following discussion:
https://github.com/microsoft/coe-starter-kit/discussions/1370#discussioncomment-1551286

When exporting a solution, the connection references are not added to the deploymentConfig.json file, neither are they added as variables in the deploy pipeline.

Environment variables are, for the record, added as expected.

###

[2021-10-29 13:59] #1402 closed, assigned to nobody

[2021-10-29 17:25] Jenefer-Monroe opened #1424 "[CoE Starter Kit - BUG] Audit Logs solution fails after upgrade"
### Describe the issue

**Custom Connector lost on upgrade**

Your audit log flows may fail after an upgrade due with an Auth error to the connection being broken.

If you go to your connectors you will see your broken connector, clicking fix connection will not fix it:

![image](https://user-images.githubusercontent.com/89584709/132773412-f0948b08-015c-414b-bd2c-6dd154564a22.png)

The easiest way

[2021-10-29 19:13] HamishSheild commented on #1420
This would be awesome!

I've done something similar for a client recently (nothing to do with COE) using a custom table for email/letter templates. It works well.

Inserting dynamic data is a pain with Power Automate as you end up with a huge set of nested Replace statements. Quite nasty. I am interested to see how you would handle this.

Happy to help out and share learnings if your are intereste

[2021-10-30 03:49] modery commented on #1420
We've just had this done for us as part of a bigger CoE setup engagement, and it works as you described it. Think it would definitely be worthwhile to introduce this generally.

[2021-11-01 13:54] fjoesne commented on #1421
I see the exact same behavior as @gazzz99
Same behavior on second attempt.

[2021-11-01 15:00] mehakvij opened #1425 "[ALM Accelerator - BUG]: issue title"
### Describe the issue

Getting the below error on load of the app.

![image](https://user-images.githubusercontent.com/73190679/139692418-802de825-257d-4720-bc3c-1faf693bd137.png)

If I try to import, I only see this, even though I do have a build from Nov 1.

![image](https://user-images.githubusercontent.com/73190679/139692786-43e502c3-a3cb-4652-b8de-0ced1f7ebb11.png)

### Expected Behavior

_N

[2021-11-01 18:39] Jenefer-Monroe commented on #1337
validated for Nov release

[2021-11-01 18:40] Jenefer-Monroe commented on #1336
validated for Nov release

[2021-11-01 18:40] Jenefer-Monroe commented on #1326
validated for Nov release

[2021-11-01 18:40] Jenefer-Monroe commented on #1325
validated for Nov release

[2021-11-01 19:53] Jenefer-Monroe commented on #1420
**Here is my current plan of action:**
-	We will have a table that stores the current values for emails and their subject lines
-	One table for CoE or a Table per solution TBD. (worried about creating new dependencies to Core)
-	There will be a sync flow which runs monthly (to get monthly CoE upgrades) which updates the subject and body columns, if their associated “Default” is still set to true
-

[2021-11-01 19:58] Jenefer-Monroe commented on #1420
For variables, we are just going to have that embedded in the text as shown here from the example above.
[code]

This allows the flow to remain simple, and just re-uses the products concept of dynamic data embedded in the text.

[2021-11-02 00:41] last72 commented on #1382
@mikefactorial
Please see attached screenshots:

1. Flow run history
![image](https://user-images.githubusercontent.com/30095306/139761925-3beaf109-4ab0-4e75-ae5f-df4328eb64cf.png)

2. function button not working
![image](https://user-images.githubusercontent.com/30095306/139763639-bdf3d394-0368-4eab-8f2e-9109de7c6e13.png)

3. Connected flow
![image](https://user-images.githubusercontent.com/30095

[2021-11-02 00:47] last72 commented on #1357
@Grant-Archibald-MS Any update on this issue? I can do some testing if the instructions are given.

[2021-11-02 11:26] pvarma8 opened #1426 "[ALM Accelerator - BUG]: deploymentSettings.json file dont have connection reference details after exporting solution to git"
### Describe the issue

My solution contains flows and connection references and no environment variables. I haven't used any environment variables in my solution.

After exporting solution to git using the AA4AM App I am not able to see anything under connection references in deploymentSettings.json file in my repository.

![image](https://user-images.githubusercontent.com/46042294/139837590-835a

[2021-11-02 14:24] mikefactorial commented on #1426
@pvarma8 a couple of things to check here.
1. Make sure you have the latest pipelines from this tag https://github.com/microsoft/coe-alm-accelerator-templates/releases/tag/ALMAcceleratorForAdvancedMakers-September2021a. Specifically, check that the update-deployment-settings.yml file is up to date.
2. Could be related to this issue which another user reported https://github.com/microsoft/coe-start

[2021-11-02 14:31] mikefactorial commented on #1425
@mehakvij can you verify that the build in question from November 1 has an id of 327738 as the error message states? There was a bug in the previous releases related to builds getting deleted from Azure DevOps but being referenced in the App User Settings that causes the error you are seeing. It should be fixed in the latest version. You can see the buildId in the url for the build run instance (e

[2021-11-02 14:42] gazzz99 commented on #1421
I have tried from flow.microsoft.com as well but get the same original error I'm afraid

[2021-11-02 14:58] Grant-Archibald-MS commented on #1357
@last72 this has been change has been merged back into main branch. To test that this change works for you:
1. git checkout main
2. git pull
3. cd coe-cli
4. npm run build
5. Rerun the coe aa4am install command

[2021-11-02 15:03] mikefactorial opened #1427 "[AA4AM] Add Maker Environment Filtering"
**Is your feature request related to a problem? Please describe.**
Currently the environment list will display all environments in AA4AM. Need a way to filter this list to make it easier to find a specific maker's environments

**Describe the solution you'd like**
Provide a way to filter the environments available to the maker. Ideally, the list would filter to only environments the user has acces

[2021-11-02 17:09] andrewgaskins commented on #1420
Yes this would be a big deal. I was just updating our Compliance Detail flow and thinking about managing those layers on updates. It would also be nice to have a chance to decide if you want this to be an email or post a card for the user in Teams.

[2021-11-02 18:06] mikefactorial commented on #1426
One more thing to check based on the error message about invalid configurationData. Can you see what value was passed into the Data variable of the export pipeline?

![image](https://user-images.githubusercontent.com/42348035/139921013-f145cb5a-1ab6-4a40-8f01-e3495a74a3f7.png)

[2021-11-02 18:07] Jenefer-Monroe commented on #1420
As a stretch goal, I am considering having all the emails sent to a helper flow which will send the email. It could then be augmented to be teams in a single location. But I am not certain if we can do that as part of this ask. If not, you can add it as a separate ask once we release.

[2021-11-02 21:12] mzd4fz00 commented on #1412
Thanks Jenefer.  In our environment we don't yet have any DLP policies setup, but we wanted to preview the impacts of future DLP policies that we will define to understand what apps and flows would be impacted.  The team thought they had used the DLP editor in the past to do that, but is that not the right tool to use if we wanted to preview future impacts of DLP policies not yet defined?

Also, e

[2021-11-02 21:33] mzd4fz00 commented on #1292
Hi Jenefer, you are correct that the admin did seee some chunk size / pagination type emails.  we reduced the size down to looking at 10 minute size chunks instead of 60 minute ones and that seems to have gotten them small enough that we don't get paging.  However, even with that smaller size, we only see 17 powerapps being detected, 16 of which are SharePointFormApp apps and 1 is a canvas (which

[2021-11-02 21:58] andrewgaskins commented on #1420
@Jenefer-Monroe I was thinking the same thing when updating the emails about the helper flow. Looking forward to seeing what you do.

[2021-11-03 08:58] pvarma8 commented on #1426
@mikefactorial Thank you for your inputs, After updating the update-deployment-settings.yml file, I can see the connection references in the deploymentSettings.json file.

Regarding the Data variable under the export pipeline, I don't see anything related to data.

![image](https://user-images.githubusercontent.com/46042294/140031724-5844aa29-39b8-4f7d-ad17-00a323e60002.png)

Still I could see the

[2021-11-03 11:31] fjoesne opened #1429 "[CoE Starter Kit] Redundant flows in governance components (CanvasAppOperations, CloudFlowOperations )"
**Is your feature request related to a problem? Please describe.**
Gov flows are nearly identical to existing Core flows.

Flows need to be set up with run only users by Power Platform admins both at initial setup and updating which leads to increased maintenance and complexity (the same goes for solution development).

**Describe the solution you'd like**
Use the flows that exist in core componen

[2021-11-03 12:47] manuelap-msft commented on #1429
Hello,

these are child flows, and there is a product limitation in that child flows can't be used across solutions - we have a need to use these flows in both Core and Governance components but had to duplicate them so they can be used.

Manuela

[2021-11-03 12:49] #1429 closed

[2021-11-03 12:51] EmranCoE opened #1430 "How to change CoE email/message sender ? (Environment variables “Admin eMail” and “Approval Admin” )"
### Describe the issue

Hi ,

There are many CoE components (Flows) which are sending out Welcome email/justification messages to the makers specially for (Admin | Archive and Clean Up v2 (Start Approval for Flows/Apps)) are you still using your apps/flows ? etc.

I am wondering which options are available If I do not want to use my name/email (emran…@...com) as a sender instead of my email can us

[2021-11-03 13:58] Jenefer-Monroe commented on #1352
clearing milestone and solution. This isnt about teams install after all, there is just a bug in the way flow persists changes to this action type over solution export/import generally. Will have to explore.

[2021-11-03 14:00] mehakvij commented on #1425
Hi @mikefactorial checked and from Nov 1, the id is 370884.

Mehak

Will just updating the PowerApp for now fix this? Or should I be updating the pipelines too

[2021-11-03 14:03] renaudarmstrongvictrix opened #1431 "[CoE Starter Kit - BUG] - Forms for the PowerPlatform Admin View have not been installed"
### Describe the issue

Looks like the tabs and forms for the ModelDriven App "PowerPlatform Admin View" are not showing correctly.
![image](https://user-images.githubusercontent.com/91679305/140073408-1c33a0b7-f49e-4c1b-9eef-8a9e04e9e755.png)

### Expected Behavior

Expecting tabs with name and apps life cycle time line at the top
![image](https://user-images.githubusercontent.com/91679305/140074

[2021-11-03 14:37] mikefactorial commented on #447
@manuelap-msft This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #447 closed

[2021-11-03 14:37] mikefactorial commented on #881
@albertocaa1317 This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] mikefactorial commented on #967
@manuelap-msft This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #967 closed

[2021-11-03 14:37] mikefactorial commented on #997
@manuelap-msft This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #997 closed

[2021-11-03 14:37] mikefactorial commented on #1082
@Cathi029 This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1082 closed

[2021-11-03 14:37] mikefactorial commented on #1110
@chrispiasecki This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1110 closed

[2021-11-03 14:37] mikefactorial commented on #1143
@Jenefer-Monroe This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1143 closed

[2021-11-03 14:37] mikefactorial commented on #1153
@Jenefer-Monroe This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1153 closed

[2021-11-03 14:37] mikefactorial commented on #1163
@NPrice99 This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1163 closed

[2021-11-03 14:37] mikefactorial commented on #1238
@manuelap-msft This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1238 closed

[2021-11-03 14:37] mikefactorial commented on #1239
@manuelap-msft This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1239 closed

[2021-11-03 14:37] mikefactorial commented on #1251
@nowttttt This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1251 closed

[2021-11-03 14:37] mikefactorial commented on #1254
@wayneiles This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1254 closed

[2021-11-03 14:37] mikefactorial commented on #1285
@manuelap-msft This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1285 closed

[2021-11-03 14:37] #1324 closed, assigned to Jenefer-Monroe

[2021-11-03 14:37] #1325 closed

[2021-11-03 14:37] mikefactorial commented on #1326
@J04nn4 This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1326 closed

[2021-11-03 14:37] mikefactorial commented on #1329
@GarryPope This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1329 closed

[2021-11-03 14:37] mikefactorial commented on #1332
@Jenefer-Monroe This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1332 closed

[2021-11-03 14:37] mikefactorial commented on #1336
@J04nn4 This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1336 closed

[2021-11-03 14:37] mikefactorial commented on #1337
@J04nn4 This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1337 closed, assigned to Jenefer-Monroe

[2021-11-03 14:37] mikefactorial commented on #1345
@DDog80sRocked This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1345 closed

[2021-11-03 14:37] mikefactorial commented on #1353
@robertcaretta This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1353 closed

[2021-11-03 14:37] mikefactorial commented on #1355
@robertcaretta This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] mikefactorial commented on #1358
@MartinWhiteDAZN This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1358 closed

[2021-11-03 14:37] mikefactorial commented on #1369
@petepuu This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1369 closed

[2021-11-03 14:37] mikefactorial commented on #1375
@manuelap-msft This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:37] #1375 closed

[2021-11-03 14:38] mikefactorial commented on #1384
@Jenefer-Monroe This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:38] #1384 closed

[2021-11-03 14:38] mikefactorial commented on #1387
@MartinWhiteDAZN This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:38] #1387 closed

[2021-11-03 14:38] mikefactorial commented on #1391
@manuelap-msft This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:38] #1391 closed

[2021-11-03 14:38] mikefactorial commented on #1406
@manuelap-msft This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:38] #1406 closed

[2021-11-03 14:38] mikefactorial commented on #1417
@Jenefer-Monroe This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:38] #1417 closed

[2021-11-03 14:38] mikefactorial commented on #1418
@Jenefer-Monroe This has been fixed in the latest release. Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitDownload) following the instructions for [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates). Note that if you do not remove the unmanaged layers as described there you will not receive updates from us.

[2021-11-03 14:38] #1418 closed

[2021-11-03 15:42] Jenefer-Monroe commented on #1430
Here is a write up by someone on different ways to do this: [3 ways to change email sender address in Power Automate](https://tomriha.com/3-ways-to-change-email-sender-name-in-power-automate/)

The service account methodology they reference is the one you could do without making edits to the flow.
Hope that helps, and closing out as this out as there is no action for the toolkit team.

[2021-11-03 15:42] #1430 closed

[2021-11-03 16:50] Jenefer-Monroe commented on #1431
Hello, I'm afraid I dont repro this. I wonder if its something to do with your language settings. Can you please [add the English language pack](https://docs.microsoft.com/power-platform/guidance/coe/limitations#supported-languages) and see if it resolves?

[2021-11-03 16:53] Jenefer-Monroe commented on #1260
closing out as no further action for toolkit team.

[2021-11-03 16:53] #1260 closed

[2021-11-03 16:55] Jenefer-Monroe commented on #1292
Have you validated by actually booting some apps and then looking to see if they show up as launched in the next few days?

[2021-11-03 16:55] Jenefer-Monroe commented on #1333
missed this ones milestone. Fixed in Nov

[2021-11-03 16:55] #1333 closed

[2021-11-03 16:56] Jenefer-Monroe commented on #1360
Nov is shipped.

[2021-11-03 16:58] Jenefer-Monroe commented on #1407
Nov has shipped, closing this out, please return if you have issues.

[2021-11-03 16:58] #1407 closed

[2021-11-03 16:58] Jenefer-Monroe commented on #1409
closing out as no further action for toolkit team.

[2021-11-03 16:58] #1409 closed

[2021-11-03 16:58] Jenefer-Monroe commented on #1410
closing out as no further action for toolkit team.

[2021-11-03 16:58] #1410 closed, assigned to Jenefer-Monroe

[2021-11-03 16:59] Jenefer-Monroe commented on #1412
this works for existing DLP policies, please create them with the product UX, then you can use this app for impact analysis of changes made.

[2021-11-03 17:00] Jenefer-Monroe commented on #1414
closing out as no further action for toolkit team.

[2021-11-03 17:00] #1414 closed

[2021-11-03 17:00] Jenefer-Monroe commented on #1416
Nov has shipped.

[2021-11-03 17:05] Jenefer-Monroe commented on #1421
When I see this failure, a retry succeeds, and I have never had to hop into flow.microsoft.com to make it work. Though I have occasionally had to retry more than once. I think its some intermittent service issue.

To both of you I would recommend attempting an overwrite for install:

Solution > Switch to Classic (note this can take some time, may have to try twice)
![image](https://user-images.git

[2021-11-03 17:15] Jenefer-Monroe commented on #1420
Considering also adding a Sent-On-Behalf of column. Though would need to make it clear how to configure this to folks so its not a big ticket generator.
Would this be of interest for folks?

[2021-11-03 17:28] bigpix2000 commented on #1420
So far so good on the plan.  Everything making sense so far.  A couple of observations:

- Sent on Behalf is a tough one ... the case of underscoring that the sender is not the one you should "reply to" (noreply@tenant.ext)  it takes up space and might be more confusing than perhaps letting the admin handle the "replies" to the service account via the same tools we are managing (cough cough Flow c

[2021-11-03 17:38] petepuu commented on #1407
Ok thanks! Will test this week

[2021-11-03 19:47] Jenefer-Monroe commented on #888
Here is a version of Nov without Dataflow. Product is still iterating on a fix
[CenterofExcellenceNurtureComponents_2_5_1_managed.zip](https://github.com/microsoft/coe-starter-kit/files/7470296/CenterofExcellenceNurtureComponents_2_5_1_managed.zip)
.

[2021-11-03 20:20] osbornecc opened #1433 "[coe-cli] CoE CLI available for GCC?"
Hi there,
I know that the Power Platform CLI is unavailable in GCC:
![image](https://user-images.githubusercontent.com/50427725/140186441-eb71039f-27d1-47d2-b137-dedc13c84c67.png)

Is the CoE CLI available for use in GCC?  https://github.com/microsoft/coe-starter-kit/tree/main/coe-cli#readme
We're seeing if the ALM Accelerator for Advanced Makers will work for us.

Thank you.

[2021-11-03 20:28] #1433 closed

[2021-11-03 20:29] osbornecc commented on #1433
Reopening under ALM Accelerator

[2021-11-03 20:30] osbornecc opened #1434 "[CoE CLI]: Is CoE CLI available for GCC?"
### Describe the issue

Hi there,
I know that the Power Platform CLI is unavailable in GCC:
![image](https://user-images.githubusercontent.com/50427725/140187816-1a8232bf-99ea-4fcc-a486-527aa3eff657.png)

Is the CoE CLI available for use in GCC? https://github.com/microsoft/coe-starter-kit/tree/main/coe-cli#readme
We're seeing if the ALM Accelerator for Advanced Makers will work for us.

Thank you

[2021-11-03 21:00] osafomensahny commented on #888
Thanks for the update.  We were not able to install the last patch….

Regards,
Nana Osafo-Mensah, MBA, ITIL, CSM
Collaborative Technologies Program Manager
DHHS|NIH|NIAID|OD|OSMO|OCICB|BPIMB
5601 Fishers Lane #5A49
Rockville, MD 20852
Desk: 240-669-2731
Mobile: 240-479-1771

Visit the NIAID Community of CollaborativeTechnologies<https://nih.sharepoint.com/sites/NIAID-Portal> site for resources, gu

[2021-11-03 21:53] bartsneary opened #1435 "[CoE Starter Kit - BUG] PBI Dataverse 202110 Template Issues with Dataverse Core"
When attempting to set up the newer Dataverse-connected PBI dashboard tied to a full Dataverse environment I had just upgraded all the solutions in, but the one I'm assuming is needing attention is core to 3.18, I get an error when trying to load the tables.  The App Connection Reference and Flow Connection Reference tables both throw errors that "A join operation cannot result in a table with dup

[2021-11-03 22:03] bartsneary opened #1436 "[CoE Starter Kit - BUG] Embedding PowerApps into PBI Template 202110"
### Describe the issue

When attempting to update the embedded Power Apps in the Cloud Flow Detail and App Detail reports in the overall Dashboard, things first seemed different when I could click on those tabs in PBI Desktop without seeing the error message that I don't have access to that app.  I ignored that and removed the visual, then added the Power Apps visual back again and selected the ri

[2021-11-03 22:06] bartsneary commented on #1435
Not sure how I got this opened without the issue template, so sorry it's not tagged or assigned to anyone.  I don't seem to have rights to fix that.

[2021-11-03 23:27] Jenefer-Monroe commented on #1436
Can you please see if this repros for your envt outside of our PBI?
1.	Boot an empty PBI
2.	Enter data
![image](https://user-images.githubusercontent.com/89584709/140232554-9ef80765-b83a-4e6f-9671-49a3b1afb117.png)
3.	Insert the control and select a field for it
![image](https://user-images.githubusercontent.com/89584709/140232576-3ca5127e-8d31-434b-821a-064c97c7b151.png)
4.	Wait a moment. Do they

[2021-11-04 00:40] bartsneary commented on #1436
Looks like this is an issue for me in PBI Desktop in general.  Thanks for the troubleshooting guidance!  You can close this as a COE Starter Kit issue.  Can you take a peek at the other PBI issue I logged?  It didn't pull up the template correctly, so didn't get assigned.  It's issue #1435

[2021-11-04 01:52] Jenefer-Monroe commented on #1435
Duplicate of #1291
We are not able to repro this locally and hence cannot fix it. But if you look at this bug I've linked, they've given steps to resolve.

[2021-11-04 01:52] #1435 closed

[2021-11-04 01:53] Jenefer-Monroe commented on #1436
I've duped your bug to #1291. We cannot repro and hence cannot resolve it. But others have listed a way to fix in the notes.

[2021-11-04 01:53] #1436 closed

[2021-11-04 06:56] pvarma8 commented on #1426
@mikefactorial Regarding the Data variable under the export pipeline, I don't see anything related to configurationdata. Am i Missing anything?

[2021-11-04 09:13] gazzz99 commented on #1421
Thanks Jenefer - unfortunately I get the same result in the same place when using the classic view as well - "An unexpected error occurred from ISV code". I am using a trial licence for my environment but it did let me install the previous 2 solutions.

[2021-11-04 12:24] Jenefer-Monroe commented on #1421
You will not be able to use the toolkit with a trial license. You will get pagination errors when you try to run the flows in Core.

One last thing I can offer for you to try is installing nurture without the dataflow, I'm not sure if that feature supports trials. Here is a version of nurture without the dataflow

[CenterofExcellenceNurtureComponents_2.3_managed.zip](https://github.com/microsoft/c

[2021-11-04 13:28] mikefactorial opened #1439 "[AA4AM] January Release Docs Update"
Placeholder for December Release Doc Updates.
1. Add instructions to setup Deployment Profiles.
2. Add instructions to setup Environment Approvals
3. Remove New-PowerAppManagementApp (https://github.com/microsoft/coe-starter-kit/blob/main/ALMAcceleratorForAdvancedMakers/SETUPGUIDE.md#give-power-app-management-permission-to-your-app) #1523
4. Add reference to new security role for reference in the

[2021-11-04 14:01] mikefactorial commented on #1426
Hmm. @pvarma8 have you visited the Configure Deployment Settings screen for your solution prior to export? We may not be handling the scenario where that screen is not visited first, but you should be seeing a "Data" parameter coming in to that pipeline if you did.

![image](https://user-images.githubusercontent.com/42348035/140327441-a2532ae6-13f2-4869-842c-856788d40341.png)

[2021-11-04 14:06] pvarma8 commented on #1426
@mikefactorial, My app is not showing that configure Deployment Settings link. I can only see the option Open Solution

[2021-11-04 14:22] pvarma8 commented on #1426
I am using the latest version of the App. I cannot see the configure Deployment Settings page
![image](https://user-images.githubusercontent.com/46042294/140330883-e19eddb3-6485-41c6-8013-6142120c91d0.png)

[2021-11-04 14:30] mikefactorial commented on #1426
@pvarma8 did you upgrade to the latest version from a previous version? I wonder if there may have been some unmanaged changes in the previous version that are causing you to not see the latest interface in the app? You may want to try uninstalling and re-installing the solution.

[2021-11-04 14:46] Grant-Archibald-MS commented on #1434
@mikefactorial GCC configuration deployment has not been tested. if a setting **endpoint** is usgov is selected in the coe aa4am install then it should select the correct API endpoints to import the solution.

[2021-11-04 15:00] Grant-Archibald-MS commented on #1434
@osbornecc the **CoE CLI** currently uses the REST API to import the ALM Accelerator for Advanced makers into a power platform environment. So it should enable the managed AA4AM solution to be imported.

The main follow up question is the Azure DevOps pipelines used by the ALM Accelerator which do make use of the **Power Platform CLI**, which the above link indicates is not supported in GCC enviro

[2021-11-04 15:02] Jenefer-Monroe commented on #1421
thanks for confirming. It appears that trial licenses cannot install dataflows then. I will keep this knowledge in my back pocket.

I will go ahead and close this issue now.

[2021-11-04 15:02] #1421 closed, assigned to manuelap-msft

[2021-11-04 15:04] osbornecc commented on #1434
@Grant-Archibald-MS thank you for the distinction.  I'll tell my team and let them decide if they want to try it out or not.  Thanks for the quick responses!

[2021-11-04 15:12] lcimon opened #1440 "[CoE Starter Kit - BUG] Orphan bot causes flow to fail"
### Describe the issue

Admin | Sync Template v3 (PVA) flows fails to set a bot as orphan. Spotted a case where the `Get Bot Creator` step return a record without `azureactivedirectoryobjectid` field. I suppose because user has left the company.

This `azureactivedirectoryobjectid` field is used later in `Get user profile (V2) New` step to get the owner profile. As this field is null, it fails wit

[2021-11-04 17:49] mikefactorial commented on #828
@zafarabhatti closing this issue since we haven't received a response. Feel free to open another issue if more assistance is required

[2021-11-04 17:49] #828 closed

[2021-11-04 17:55] mikefactorial commented on #957
@Chris-WP closing this issue. Feel free to open another issue if more assistance is required

[2021-11-04 17:55] #957 closed

[2021-11-04 17:57] mikefactorial commented on #1124
@AnubhavPatnaik closing this issue. Feel free to open another issue if more assistance is required

[2021-11-04 17:57] #1124 closed

[2021-11-04 18:04] mikefactorial commented on #1425
@mehakvij seems like the thing the app is complaining about is a build number that was stored in the user settings and no longer exists in Azure DevOps which was the issue we had previously that was fixed in the update. Would definitely recommend upgrading to the latest version. There's a lot of enhancements available in that release.

You'll need to update both the pipelines and the solution. The

[2021-11-04 18:05] mikefactorial commented on #1425
Closing this for now. Feel free to open another issue and reference this if need be.

[2021-11-04 18:05] #1425 closed

[2021-11-04 18:06] mikefactorial commented on #1395
Following up on this. I'm told this is in the backlog to be fixed in PAC CLI. Will continue to follow up with engineering on when the fix is available.

[2021-11-04 18:07] mikefactorial commented on #1419
@raduneda following up on this to see if my previous comment was helpful.

[2021-11-04 18:16] mikefactorial commented on #1382
@last72 was the flow disconnected in the Canvas App after import or was it turned off? There was a bug in the platform that was fixed several months ago for the former. Not sure why that would be happening if that's the case or what may have gone wrong there. Potentially an issue with the install. Did you use the CoE CLI to install? There was a bug that was fixed recently that could have caused th

[2021-11-04 18:19] mikefactorial commented on #1434
@osbornecc would be good to get your feedback if you decide to push forward. We've had several customers use previous versions AA4AM in GCC, but the introduction of PAC CLI into our pipelines was recent and could possibly have introduced a regression. Happy to work with you if there are issues that come up and ensure that AA4AM will run in GCC.

[2021-11-04 18:58] Jenefer-Monroe commented on #1440
Can you please open the **_Configure after run_** settings and see what you have there?
![image](https://user-images.githubusercontent.com/89584709/140402660-5113f815-0a99-4405-bccf-f1dbb870940a.png)

[2021-11-04 21:53] Jenefer-Monroe opened #1441 "[CoE Starter Kit - Enhacement Request] Environment Governance improvements"
### Describe the issue

1) Add to PBI all objects, for a single quick view if an environment contains objects
2) Environment Users - ability to see who has access to an environment (at least sys admin, and maybe other SRs)
3) Add to Governance the ability to look for environments that are empty (we do something similar for teams now) and ask if people are still using.

Heard this from a few custom

[2021-11-04 23:31] Jenefer-Monroe commented on #1436
From a colleague:
`I was able to get the canvas apps working in Power BI Online. Still failing for me from PBI Desktop for some reason. Progress either way!
`
I hope that helps!

[2021-11-04 23:50] missbets opened #1442 "[CoE Starter Kit - BUG] CDSLegacy_CoEDashboard_202110 + Portals Table"
### Describe the issue

When setting up the Power BI Dashboard, the below error is shown:

OLE DB or ODBC error: Exception from HRESULT: 0x80040E4E.

Portals Column 'admin_portalenvironment' in Table 'Portals' contains a duplicate value '4b086820-7b50-47be-8a8a-9f08d04d515c' and this is not allowed for columns on the one side of a many-to-one relationship or for columns that are used as the primar

[2021-11-05 00:04] Jenefer-Monroe commented on #1442
Can you please let me know what version of the toolkit (Core solution) you are using?
In the Nov build released yesterday (3.18) we believe we have worked around this new feature in Portals and that the inventory will no longer have duplicates after the inventory runs.

[2021-11-05 00:15] bartsneary commented on #1436
I had done the same thing.  😊  Thanks for sharing.

***@***.***
Bart Sneary (he/him)
Architect & Technology Ethicist | 952-837-4560 W or 507-403-3088 M | ***@***.******@***.***>
3601 West 76th St, Suite 600, Edina, MN 55435 | www.microsoft.com/mtc<https://na01.safelinks.protection.outlook.com/?url=http%3a%2f%2fwww.microsoft.com%2fmtc&data=01%7c01%7cjenmoe%40microsoft.com%7cba559a6d6d8544af2e9b08d3

[2021-11-05 11:52] Jenefer-Monroe commented on #1420
Unfortunately the technique for variables described above does not seem to work.

As an example, this stored in a multi-line text field in Dataverse:

Then pulled in to body of the email does not evaluate the variable into the html table, it just writes out as text
![image](https://user-images.githubusercontent.com/89584709/140506228-c4cf3f06-8f91-4a3b-b59d-6d5bb34ff4e3.png)

If anyone here knows

[2021-11-05 13:44] jenschristianschroder opened #1443 "[ALM Accelerator - BUG]: Connections created for Custom Connectors are invalid"
### Describe the issue

When creating a connection for a custom connector in a target environment the connections gets created successfully. Howerver, the connections is not valid for use in a connection reference causing deployments to fail.

Also, if creating the connection directly from within a flow the connection is not available to select in the Deployment Settings screen.

There seems to be

[2021-11-05 13:48] jenschristianschroder opened #1444 "ALM Accelerator - component activation sequence configuration"
**Is your feature request related to a problem? Please describe.**
Sometimes solutions will require that components (flows) are activated in a specific sequence. Right now this is not possible to configure.
Activation sequence is important if solution contains child flows as they need to be activated before relevant parent flows.

**Describe the solution you'd like**
A pipeline template that would

[2021-11-05 14:16] renaudarmstrongvictrix commented on #1431
Hi,
The english pack is activated
![image](https://user-images.githubusercontent.com/91679305/140524187-9337c0b4-ea76-4f18-b23a-cabef2203d9e.png)
![image](https://user-images.githubusercontent.com/91679305/140524497-69173136-9b74-435c-a3f5-815269847260.png)

[2021-11-05 15:16] lcimon commented on #1440
Hi @Jenefer-Monroe,

The _**Configure after run**_ is well set. `Switch 2` step is well executed even when `Get user profile (V2) New` fails.
![image](https://user-images.githubusercontent.com/22662809/140523328-60d0384a-e343-4908-8688-49a8240c7e97.png)

In my case, the `Switch 2` fails because the `statusCode` is null.  And the `statusCode` is empty because when the `Get user profile (V2) New` st

[2021-11-05 15:41] bigpix2000 commented on #1420
This appears to be the case of the Flow evaluating the variable before it is even ready and you are trying to "ignore" things until there is a value (or a true error) yes?  Confirming that the source of the data is dataverse or a passed in parameter or environment variable or something else?

[2021-11-05 16:12] Jenefer-Monroe commented on #1431
Got it.

I dont repro and have never heard of this issue before. It could be that these were editted on your side by someone.
Model Driven apps support merge, so we cant revert, but you can fix this up yourself

Here are the correct strings:
![image](https://user-images.githubusercontent.com/89584709/140542316-c165dcca-77ec-43bb-8eab-80124d4be3f5.png)

Let me know if you need some tips on how to e

[2021-11-05 16:18] Jenefer-Monroe commented on #1440
I see. We'll have to do here what we did for MDA as they get their owner id in the same manner
![image](https://user-images.githubusercontent.com/89584709/140543459-1cb25e4c-2c01-4297-96bb-480436862945.png)

[2021-11-05 16:21] Jenefer-Monroe commented on #1420
Correct, the data is stored in Dataverse and passed in to flow through the Dataverse connector.
I think you are also correct that this it is flow itself doing the evaluation early, as I have tried multiple actions/connectors to try and get around this.
I find no settings to change when this occurs. It also will not treat html tags correctly, just places them in as strings.

[2021-11-05 16:24] Jenefer-Monroe opened #1445 "[CoE Starter Kit - BUG] Store dataverse tables per environment"
### Describe the issue

Request from customer, looking for feedback from others.

- Store the dataverse tables that are in an environment
- All custom tables and non-empty built ins
- Store the number of rows in each table
- Then we can attempt to use object metadata to link as well (canvas app 1 uses custom tables 1,2,3)

### Expected Behavior

_No response_

### What solution are you experiencin

[2021-11-05 16:32] bigpix2000 commented on #1420
Ah ha!  so another thought.   It is email after all (cough cough "outlook") .... Last I saw a flow have to to Rich text manipulation (and I was so hoping that HTML tags worked) had them calling Word and doing the "automation" there and then sending the body in the email.  Trying to find the sample but the idea came up awhile back because at least back in 2019 or so it was definitely not possible t

[2021-11-05 18:15] hernan-ramirez commented on #1420
Hi everyone! Jenefer, would it be possible to use Word Templates with properties to generate the text content? And then we can use the Document Converter to get both, HTML or Markdown? I know that we would have to have a document library with the templates, and it would be a template by notification.

How do you see this idea?

In the table row, it would be the same as Jenefer described, but in th

[2021-11-05 18:20] Jenefer-Monroe commented on #1420
Hello, word templates would be a good idea to explore. Unfortunately they are not ISV friendly.

In other words, we cannot rely on any of the office actions (Excel, Word, ...) in the toolkit as when you import them into your own tenant, you have to redo the actions, which in the case here would be substantial work each month.

Thanks for helping think outside the box!

[2021-11-05 19:15] bigpix2000 commented on #1420
It makes sense ... I explained exactly this as to why it was GitHub and Not ADO out of the box for the ALM Piece and also why Excel Reporting was left to the Power BI OOB experience. We don't want to create a custom API that needs Azure for example although on the edge there as we rely on tools like AAD for registrations etc.  Logic apps are pay as you go and add an extra burden to the concept of

[2021-11-05 19:37] bigpix2000 commented on #1420
The case of if we can format it it via a variable that is ... we know there is formatting because we see it now ...  right?

[2021-11-05 20:17] hernan-ramirez commented on #1420
I have had the experience of working with word templates and ALM and it was not too hard. The templates are distributed as the CoE Started Kit does with the Dashboard in Power BI. The word template activities can be completed with environment variables to fill the site and library, and then the file name is the column "URL body" of the table designed for Dataverse. There is no need to redo the flo

[2021-11-05 20:27] hernan-ramirez commented on #1420
mmm... "tokens to replace" ?? If the value of body field in dataverse is: "My message [[MyVariableToReplace]] and more message" and replace [[MyVariableToReplace]] with my dynamic conten by automate expression ??

[2021-11-07 07:52] Alexandre23QC commented on #1443
XMASRESET

[2021-11-08 09:32] lcimon commented on #1440
Indeed, this an option.
Let me if you need help to implement it as I will do it for my customer too.

[2021-11-08 10:41] tommortimer21 opened #1446 "[CoE Starter Kit - BUG] DLP Editor not picking up apps or flows to analyze"
### Describe the issue

In the app 'DLP Policy Editor v2' no apps are analysed under the section 'Preview impact of DLP changes'. All environments are selected but the scan of apps does not start. It just stays on 0.

### Expected Behavior

The DLP Policy App should scan all PowerApps in the selected environments to preview the impact of changes to the DLP policy

### What solution are you experie

[2021-11-08 11:26] manuelap-msft opened #1447 "[CoE Starter Kit - BUG] DLP Editor incorrect navigation"
### Describe the issue

Via MVP channel:

…If you navigate through the left options, instead of clicking “Next” + you are switching between one policy and another (just by clicking “DLP policies” and choosing a different one from the list), some weird behaviors happen. For example, the impact analysis still shows results from previous run (from the other policy).

![image](https://user-images.gith

[2021-11-08 11:35] manuelap-msft commented on #1446
Hello,

have you turned on all the sync flows to sync inventory into the CoE tables? Can you open the Power Platform Admin View (model driven app part of the CoE Kit) and check if apps and flows show up there?

Thank you
Manuela

[2021-11-08 12:40] Jenefer-Monroe commented on #1440
Hello, this is just stamping out an existing solution to another flow, so it shouldnt be difficult. We will attempt to get this in place for Dec release.

[2021-11-08 13:23] ServiceAdmin365 opened #1448 "[ALM Accelerator - BUG]: export-to-git pipeline failing"
### Describe the issue

Export-to-git pipeline failing with error : No hosted parallelism has been purchased or granted. To request a free parallelism grant, please fill out the following form https://aka.ms/azpipelines-parallelism-request.
Requested the access from the MS Form request but still not received the access or am I missing anything

### Expected Behavior

Export the solution to Git

##

[2021-11-08 13:26] mikefactorial commented on #1448
@ServiceAdmin365 the request for pipelines in the free version of Azure Devops can take a few days. May just need to be patient. Unfortunately, we don't have any line of sight into those requests ATM.

[2021-11-08 14:40] Jenefer-Monroe commented on #1420
I don't think we can scale to having custom code at each mail to fill in the variables. If we cannot get the product to interpret them as is, brought in, then I think we will need to just have the variables at the end of each mail.

For now, I am going to go forward with this plan (variables at the end) and cross my fingers that we don't run in to more issues.

If anyone here has a sample solution

[2021-11-08 16:39] LukasKo999 opened #1449 "[CoE Starter Kit - BUG] List rows from Dataverse"
### Describe the issue

There is extra Action after terminate List Accounts from Dataverse. No idea why.

### Expected Behavior

The List rows from Dataverse action is not necessary, maybe somebody forgot about it. please remove it.

### What solution are you experiencing the issue with?

Audit Log

### What solution version are you using?

2.6

### What app or flow are you having the issue with?

[2021-11-08 19:19] Jenefer-Monroe commented on #1449
Hello we don't see this locally, here is what this scope looks like:
![image](https://user-images.githubusercontent.com/89584709/140804048-a8f82eb2-3614-43bf-a9f5-c7ecf1c45b60.png)

Please make sure you don't have unmanaged layers on the flow. See [installing updates](https://docs.microsoft.com/power-platform/guidance/coe/setup#installing-updates) for details.

[2021-11-09 06:50] LukasKo999 commented on #1449
that is weird, there is no unmanaged layer but still can see the List rows action

![image](https://user-images.githubusercontent.com/93936147/140875909-2ad83df1-1887-4ff0-8d9c-0b0844525f8a.png)

![image](https://user-images.githubusercontent.com/93936147/140875893-4de632f4-97df-4003-be7a-e7576b55f4be.png)

[2021-11-09 08:26] tommortimer21 commented on #1446
Hi Manuela

Thanks for the response.

You were correct, in that the CLEANUP – Admin Sync Template v3 app was failing to run.

I will fix this

Thanks!

Regards
Tom Mortimer
Mobile +44 7734 769 411
Telephone +44 113 307 3116
***@***.***

From: Manuela Pichler ***@***.***>
Sent: 08 November 2021 11:36
To: microsoft/coe-starter-kit ***@***.***>
Cc: Mortimer, Tom ***@***.***>; Author ***@***.***>
Subj

[2021-11-09 08:30] manuelap-msft commented on #1446
Thank you, please let us know if you need any help fixing issues with the sync flows!

The way the CoE Starter kit works is that we have sync flows that crawl your tenant to find information about apps and flows in all the environments, and we store meta-data about those apps and flows in tables in the CoE starter kit solution (e.g. PowerApps App table and Flow table) and the DLP Editor picks up a

[2021-11-09 08:36] tommortimer21 commented on #1446
I will, you have been most helpful.

Regards
Tom Mortimer
Mobile +44 7734 769 411
Telephone +44 113 307 3116
***@***.***

From: Manuela Pichler ***@***.***>
Sent: 09 November 2021 08:31
To: microsoft/coe-starter-kit ***@***.***>
Cc: Mortimer, Tom ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/coe-starter-kit] [CoE Starter Kit - BUG] DLP Editor not picking up apps or flows to analyze (Is

[2021-11-09 09:40] pallvip opened #1450 "[CoE Starter Kit - BUG] Pagination policy set to 100000 by default while 5000 is max allowed"
### Describe the issue

The pagination policy on the flows are set to 10000 by default while 5000 is max allowed and hence causing flows to fail.
Can you please fix the package as we cant possibly update all flows.
![image](https://user-images.githubusercontent.com/40602120/140898587-0126bf84-00dc-4d2e-aa2a-16a3a3f58697.png)
![image](https://user-images.githubusercontent.com/40602120/140899521-15a

[2021-11-09 09:41] pallvip commented on #1450
![image](https://user-images.githubusercontent.com/40602120/140900237-abf65d2a-5014-4b1a-8e36-9fe91c127da3.png)

[2021-11-09 09:47] dknamo opened #1451 "[CoE Starter Kit - BUG] your issue"
### Describe the issue

Hi,
in Power Platform COE Admin View, we cannot see the new Flows and apps. Data is not updated correctly.
We updated the COE Kit in early September.

![2021-11-09 10_43_05-Flows Active Flows - Power Apps](https://user-images.githubusercontent.com/72252442/140900628-58baf2d6-4c24-460f-adc1-4188540e76a5.png)

### Expected Behavior

_No response_

### What solution are you ex

[2021-11-09 10:07] pallvip commented on #1416
Hi Jenefer

I have installed the core components for the Nov version and it has pagination errors, I have logged another issue for that here - https://github.com/microsoft/coe-starter-kit/issues/1450

[2021-11-09 11:11] manuelap-msft commented on #1450
Hello,

this is due to you having an insufficient license to run the flows.

Please see:
Power Automate performance profiles https://docs.microsoft.com/en-us/power-automate/limits-and-config#performance-profiles
Pagination limits per profile https://docs.microsoft.com/en-us/power-automate/limits-and-config#concurrency-looping-and-debatching-limits
And hence our limitation https://docs.microsoft.co

[2021-11-09 11:11] #1450 closed

[2021-11-09 11:47] Jenefer-Monroe commented on #1416
Hello, per Manuela's comments in that issue, the pagination is high to support many of our large customers. You may have been using a trial or seeded license? Please see our [Prereqs](https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup#prerequisites) for details

[2021-11-09 12:00] Jenefer-Monroe commented on #1451
Hello. Can you please confirm that you have completed the [Set up of Core](https://docs.microsoft.com/power-platform/guidance/coe/setup-core-components) such that the inventory flows are running and passing?

For example, do you have data in the inventory tables? (ex Environments, PowerApps Apps, Flows, ...)
![image](https://user-images.githubusercontent.com/89584709/140920103-39522ff2-b881-4c73-9

[2021-11-09 12:14] Yashina-MSFT commented on #789
Has this issue been resolved or only listed as limitations of CoE? We are still encountering the same error covered in #419.

[2021-11-09 12:51] dknamo commented on #1451
Hi Jenefer ,thanks for your reply I think we found out why it does not work.
Someone had changed the DLP policy for the COE environment and the flows were not running properly
/Nargess

From: Jenefer Monroe ***@***.***>
Sent: 9. november 2021 13:00
To: microsoft/coe-starter-kit ***@***.***>
Cc: Nargess Mojtahedi ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/coe-starter-kit] [CoE Starte

[2021-11-09 12:54] Jenefer-Monroe commented on #1451
thanks for letting me know, I will go ahead and close this then. thanks for using CoE!

[2021-11-09 12:54] #1451 closed

[2021-11-09 13:09] Jenefer-Monroe commented on #1449
Curious. Do you see multiple instances of the solution installed? I wonder if some upgrade failure hit you.

[2021-11-09 15:18] pallvip commented on #1416
I am installing it in Dev tenant first as need to follow change control and using per user license.
Buying licenses for 3 separate tenants (Dev test and prod) is going to be tricky.
Is it possible to get any package version which can take lower pagination so we can try that in Dev rather than having to go and tweak each flow manually?

[2021-11-09 15:54] mzd4fz00 commented on #1292
Hi Jenefer, we did try booting a couple of canvas apps and indeed I can see when I do that and run the parent and child workflows that data does come in for Canvas apps at least.  Model-driven seems to be the area though were we don't see any activity at all but talking with our model driven app developers they are indicating a number of them are launched everyday.  Is there a reason our O365 logs

[2021-11-09 16:16] morismm99 opened #1452 "Enhance Power Bi Report - Flow Adoption Page"
Currently, the Flow License Assessment only allows you to see a break down of flow based on connectors/owner.

Could we look into a way to identify whether a flow is standard/premium based on connector being used?

I can manually get this data as needed, but that involves sorting/filtering by the connectors I know are premium...which takes time.

Currently running the October CoE starter kit relea

[2021-11-09 17:11] bigpix2000 commented on #1368
the guidance on a "hard restart" of a running flow when changing a variable is general and not specific to the CoE ... it would be a good article ;-) THANKS! (yes, this one came up!)

[2021-11-09 20:15] manuelap-msft commented on #1452
Hello,

on the left hand decomposition tree, you should be able to drill down based on connector tier, connector name and department and drill further from your initial selection. You could select Connector Tier > Premium > then look at Connector Names in the premium bucket:

Connector tier:
![image](https://user-images.githubusercontent.com/55705669/140997719-bf1489ab-3708-42be-8424-4111db5dcf27.

[2021-11-09 23:22] morismm99 commented on #1452
Well…I feel dumb now. It’s there! The connector tier was just hidden. Thus, I’ll tweak it, have it shown by default and that should do!

Thanks @manuelap-msft!

Best,

Moris

[2021-11-09 23:43] morismm99 commented on #1452
Well...one more thing...reason I brought this up was because someone from our Software Asset Management team was looking into the report, specifically the Power Apps Adoption tab. So, I pointed them to the Flow License Assessment tab. Any plan to do a Power Automate adoption page similar to the Power Apps Adoption tab? For this month, I went ahead and added some static cards to that Flow License A

[2021-11-10 01:34] kongmengfei opened #1453 "Does coe provide API endpoint?"
Just read coe documents, it seems that coe solution provides a lot of connectors but can we directly access the data/achieve the same goal via API instead of using a connector?

For example, I am trying to [Get Apps as Admin](https://docs.microsoft.com/en-us/connectors/powerappsforadmins/#get-apps-as-admin) through my own web app. is that possible?

Thanks

[2021-11-10 07:55] manuelap-msft commented on #1452
Never apologize, if it's not obvious then it's probably bad design on our side! We'll review - we may be able to ship the decomposition tree expanded.

That's a great idea, I'll see if we can add a Flow Adoption page for the December release - one reason we haven't so far is that we don't have Flow usage data as part of the CoE Kit. But we can still have some visuals like the ones you highlighted.

[2021-11-10 07:57] manuelap-msft commented on #1453
There are limited APIs available that are supported, see: https://docs.microsoft.com/en-us/power-platform/admin/powerplatform-api-getting-started - I believe there are plans to grow this further, but at the moment it's limited.

As this is not directly related to CoE Starter Kit functionality but instead a Product question, I would recommend you post this in the Power Users community to get input

[2021-11-10 07:57] #1453 closed

[2021-11-10 09:36] ZTAdminD365 opened #1454 "[CoE Starter Kit - BUG] Admin - Access this App is not working"
### Describe the issue

Admin - Access this App is showing empty screen as shown in below snapshot.

![image](https://user-images.githubusercontent.com/93531026/141086024-676c96c0-663e-4086-aed5-0e6ba382f606.png)

We can see the runtime error message in the App designer view as shown in below snapshot.
![image](https://user-images.githubusercontent.com/93531026/141087846-2e090efb-9472-4fa3-9d0a-fd

[2021-11-10 12:47] pvarma8 commented on #1443
@jenschristianschroder Even I observed the same, The connections are getting created in the target environment, however those are invalid. No clue what's happening.

[2021-11-10 13:51] Sandhyaraniguriv opened #1455 "COE toolkit issue - Environment Request Center App"
### Describe the issue

 I have observed 9 issues with respect to Request center app in the COE toolkit.
I have attached all 9 issues in the document.
Please provdie solution for the same [
[Product Defects by status(Pending rejected approved live and cancelled) for RCA (003).docx](https://github.com/microsoft/coe-starter-kit/files/7513178/Product.Defects.by.status.Pending.rejected.approved.live.a

[2021-11-10 14:38] stefanjackmuth opened #1458 "[ALM Accelerator - BUG]: Install pac cli fails"
### Describe the issue

Hi there - first of all thanks for the AA4AM,
we've had a working accelerator app and pipelines for some time, but since three weeks the "import-unmanaged-to-dev-environment"-pipeline always fails in step "install pac cli" with the following error:
[code]

I've updated to the latest repo of the pipelines and the latest AA4AM app but still no working pipeline. I've read abou

[2021-11-10 14:39] Jenefer-Monroe opened #1459 "[CoE Starter Kit - BUG] Add storage limitation line to the table on choosing between D4T and Prod"
### Describe the issue

From this user:
https://github.com/microsoft/coe-starter-kit/discussions/1457

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.18

### What app or flow are you having the issue with?

Core

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-10 14:41] Jenefer-Monroe commented on #1455
Assigned to area owner

[2021-11-10 14:43] Jenefer-Monroe commented on #1454
this is not a standalone app, it is intended to be used embedded in the Power Bi. Please see https://docs.microsoft.com/power-platform/guidance/coe/setup-powerbi#configure-the-power-bi-dashboard

[2021-11-10 15:30] jukkan commented on #1445
This would be very interesting information for analysis purposes, that's for sure. However, even a blank Dataverse environment without any custom tables or Dynamics 365 features will have over 700 tables, pure system configuration data. Some kind of filtering would be needed for not overloading the CoE database and also the sync flows with all of this.

I'm kind of thinking that this would be more

[2021-11-10 15:55] jenschristianschroder opened #1460 "[ALM Accelerator - BUG]: SharePoint Datasource Environment Variables does not show correct list of sites"
### Describe the issue

When configuring a SharePoint datasource environment variable via the Deployment Settings UI the list of sites is different than when configuring the environment variable via the maker portal.

Result is that I cannot select the correct site when configuring the environment variable for downstream environments

### Expected Behavior

List of available sites should be same a

[2021-11-10 16:18] PlanetDomino opened #1461 "[CoE Starter Kit - BUG] Flows not installing"
### Describe the issue

I downloaded the CoE from github.  I'm trying to install --> CenterofExcellenceCoreComponents_1_98_managed (1) in my DEV tenant.  I have verified that I am a Power Platform Admin and I have a "per user" Power Apps license.  i import the solution and everything appears to install EXCEPT the 14 flows.  i have de-installed the solution and re-imported.  still everything loads

[2021-11-10 16:39] PlanetDomino commented on #1461
Jenefer,

WOW !!!  thanks for the super-fast response.

At this point, I agree that I just need to start from scratch.  I’ve loaded, un-installed, loaded, un-installed, and then loaded again.

One thing, just as an FYI, that I noticed is that when I loaded the 2nd and 3rd times, I WAS NEVER asked for the connection credentials; you know the 20-22 connections that are required.  I was asked only th

[2021-11-10 16:43] Jenefer-Monroe commented on #1461
haha... I'm glad to help.

And you are correct, that existing environment had the connections after the first install, so subsequent installs just picked them for you. You will need to create them again in the new environment.

[2021-11-10 19:59] johannigman opened #1464 "[CoE Starter Kit - BUG] your issue"
### Describe the issue

When the "Admin | Sync Template v3 (Desktop flows)" flow is triggered to run when it gets to the step to read the workflows table form the dataverse environment it errors out with the following error:

Http request failed as there is an error: 'Cannot write more bytes to the buffer than the configured maximum buffer size: 104857600.'.

There are only 141 records that would

[2021-11-10 20:38] bigpix2000 commented on #1420
time to hunt for that, team!  checking the MVP's and the sample repositories to see if there is anything sitting in plain site ... probably need to dig a bit since that very specific action is not in the title of the sample.

[2021-11-10 20:58] alangausebeck commented on #1209
Condition operands disappear when you rename an enclosing apply.

[2021-11-10 21:38] Jenefer-Monroe opened #1465 "[CoE Starter Kit - BUG] Cleanup Old Objects App - when person not a manager has bad screen"
### Describe the issue

![image](https://user-images.githubusercontent.com/89584709/141197533-1918cfc4-46d5-4142-871b-5741b221d83d.png)

### Expected Behavior

hide it when no users

### What solution are you experiencing the issue with?

Governance

### What solution version are you using?

2.8

### What app or flow are you having the issue with?

Cleanup Old Objects App

### Steps To Reproduce

[2021-11-10 21:49] Jenefer-Monroe commented on #1464
Hello, unfortunately we have to use the legacy Dataverse connector to get to these tables today because the new Dataverse connector only support current environment. However the legacy Dataverse connector does not support selecting individual columns.

This is a product limitation that will be fixed when the new Dataverse connector allows us to select environments.

Unfortunately for now, this is

[2021-11-10 21:57] manuelap-msft opened #1466 "[CoE Starter Kit] Spread out how sync flows start"
Investigate how we can spread out the load the sync flows have, e.g. starting them at a random time for each customer or at a specific time (10am) based on customer timezone.

[2021-11-11 08:25] ServiceAdmin365 opened #1469 "ALM Accelerator for Advanced Makers unable to update the configuration settings from Canvas App"
### Describe the issue

I have set the test and prod pipelines and provided the connection reference, environment variables and component owner values are not updated in the deployed environments(qa and prod).
I can see the config folder,
![image](https://user-images.githubusercontent.com/92145363/141262761-453642c7-88f9-4060-82eb-bf375a52cb2c.png)
 Test pipeline has variables,

![image](https://u

[2021-11-11 09:10] manuelap-msft opened #1470 "[CoE Starter Kit] App catalog does not use consistent fonts"
App Catalog does not use consistent font sizes on the pages.

[2021-11-11 09:48] EmranCoE opened #1471 "Failed to deleted object that have been approved for deletion"
### Describe the issue

Hi ,

This "Clean up and delete" component was working fine earlier , noticed that last few days , those apps/fows have got Approval for deletion process that action failed for last 3 days. We have got several hundred (app/flows ) approve for delete , does the issue for large number of approve in same time  or others reasons !

Many Thanks

![Cleanup_delete](https://user-im

[2021-11-11 11:36] LakshmanChand opened #1478 "Unable to upgrade CoE Starterkit components"
Hi,
 I have installed CoE starter kit on one of our environments. The current version of Core components is 2.0.10 and compliance and report components is just 1.14. The latest available version is 3.18. I am trying to upgrade the solution from 2.0.10 to 3.18 and got the error. So, then i tried to previous versions of core components and i just found the latest available version from previous vers

[2021-11-11 12:12] silvafr1 opened #1472 "[CoE Starter Kit - BUG] Solution "Center of Excellence - Core Components" failed to import: ImportAsHolding Exception during StageAndUpgrade"
### Describe the issue

I´m not able to upgrade Core component Solution with November Version, my previous version is from August - 2.2.20210707.3
On the log is this description:

Failure | 0x80048539 | Solution manifest   import: FAILURE: Holding solution CenterofExcellenceCoreComponents_Upgrade   already exists.

### Expected Behavior

Upgrade successfully

### What solution are you experiencing

[2021-11-11 12:17] silvafr1 commented on #1472
Hello,
I´ve started the Upgrade from "Core Components" solution, show I use a different upgrade order?
Thank you.
Regards

[2021-11-11 12:57] Jenefer-Monroe commented on #1292
Correct, the audit logs only work for Canvas apps, they do not record model driven app activity.

[2021-11-11 13:04] Jenefer-Monroe commented on #1399
You failures for the Apps do indeed look to be due to the product caching issue we discussed.
We installed the flow together and had it running to loop all apps in the default and then get, once that fails you can go to product support and they can fix your cache. Here is that flow again, in case you need it.

**Deleted Apps Product Bug**
I believe you have hit a known product bug around caching o

[2021-11-11 13:06] Jenefer-Monroe commented on #1399
The flow error sounds like it could also be the same caching bug from what you have shared, here is the flow version of the above to test with:

**Deleted Flows Product Bug**
I believe you have hit a known product bug around caching of deleted flows. If so, you will need to contact support to have them clean this up in order to have this flow start passing.
Our recommendation is to first get a rep

[2021-11-11 13:08] Jenefer-Monroe commented on #1416
Unfortunately that is not something we can provide.

[2021-11-11 13:09] Jenefer-Monroe commented on #1422
closing out as no further work for toolkit team.

[2021-11-11 13:09] #1422 closed

[2021-11-11 13:09] Jenefer-Monroe commented on #1431
closing out as no further work for toolkit team

[2021-11-11 13:09] #1431 closed

[2021-11-11 13:11] Jenefer-Monroe commented on #1446
closing out as no further work for toolkit team at this time. But if new issues arise please feel free to post!

[2021-11-11 13:11] #1446 closed

[2021-11-11 13:15] Jenefer-Monroe commented on #1472
Can you please try an overwrite upgrade in the classic UX?

Solution > Switch to Classic (note you may have to turn off the new solution experience toggle)
![image](https://user-images.githubusercontent.com/62659043/129362010-9e4f4b2a-ff0d-4719-b122-ede84bf0ff15.png)

Click Import (fourth from the left)
![image](https://user-images.githubusercontent.com/62659043/129362096-1db7e359-49e3-4a92-af1d-0

[2021-11-11 13:20] tommortimer21 opened #1473 "DLP Editor V2 - Limited Results"
On the DLP Editor 'Impact Analysis' it says Analysed Apps 139, and Analyzed Flows 206 with all environments added. However we have significantly more apps and flows across all our environments.

I thought 'Analysed apps' and 'analysed flows' might the the total number of Flows with issues, however I can only preview 25 of them on the 'impact analysis' screen.

So i'm not sure if the issue is that

[2021-11-11 13:42] Jenefer-Monroe opened #1474 "[CoE Starter Kit - BUG] Security Role for Makers on Archive Approvals table missing Append To"
### Describe the issue

![image](https://user-images.githubusercontent.com/89584709/141308243-6c2a7599-a1b2-4339-8fa2-0158721a5dec.png)

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Governance

### What solution version are you using?

2.8

### What app or flow are you having the issue with?

Cleanup Old Objects App

### Steps To Reproduce

_No resp

[2021-11-11 13:43] Jenefer-Monroe commented on #1474
local fixed for Dec
![image](https://user-images.githubusercontent.com/89584709/141308366-f8194412-d9b0-4a45-bf09-595f12519035.png)

[2021-11-11 14:35] Jenefer-Monroe commented on #1471
Hello, you appear to be on an old version of Governance, we now use the following to delete flows and it works for admins even if they dont have access to the flow, so the old check perms stuff is gone now.
![image](https://user-images.githubusercontent.com/89584709/141315925-062985ef-95f9-4fe6-88fc-487f48e72a89.png)

Please install [the latest version of the toolkit](https://aka.ms/CoEStarterKitD

[2021-11-11 15:24] silvafr1 commented on #1472
Hello,
Thank you its solved.
Best regards

[2021-11-11 15:24] #1472 closed

[2021-11-11 15:43] manuelap-msft commented on #1473
To avoid delegation issues, we store a comma-seperated list of all connectors an app uses in a field called App Connections
![image](https://user-images.githubusercontent.com/55705669/141326218-1536d093-6106-4d08-aab8-23d4b79a8ac6.png)

Can you check if all your apps have that set? It's something that we introduced a few releases ago, and it's possible you will need to run a full inventory check t

[2021-11-12 00:28] filcole commented on #1388
I wonder if it would be possible to analyse the flows and calculate the order to turn them on?  Flows that contain workflowReferenceName are child flows.

           "host": {
              "workflowReferenceName": "b1f5ec5b-69da-ea11-a813-000d3ab297a5"
            }

[2021-11-12 12:03] tommortimer21 commented on #1473
The admin_appconnections column in that table has missing data for lots of Apps, so yes I would say a full inventory re run is required.

Will this cover Apps and Flows?

How do I do this?

Regards
Tom Mortimer
Telephone +44 113 307 3116
***@***.***

From: Manuela Pichler ***@***.***>
Sent: 11 November 2021 15:44
To: microsoft/coe-starter-kit ***@***.***>
Cc: Mortimer, Tom ***@***.***>; Author ***

[2021-11-12 12:12] manuelap-msft commented on #1473
Yes, it's the same for Flows and Apps!

Ok, to run a full inventory please follow the below steps:

1. Set the value of the **Full inventory** environment variable to Yes (Learn more: update environment variables).
2. Turn off the Admin | Sync Template v3 (Apps) and Admin | Sync Template v3 (Flows) in the Core solution and then turn them straight back on. Flows that are on don't pick new environme

[2021-11-12 12:26] tommortimer21 commented on #1473
I’ve done most of the steps, but just to be clear for step 5, which Flows specifically am I turning off and back on?

Regards
Tom Mortimer
Telephone +44 113 307 3116
***@***.***

From: Manuela Pichler ***@***.***>
Sent: 12 November 2021 12:12
To: microsoft/coe-starter-kit ***@***.***>
Cc: Mortimer, Tom ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/coe-starter-kit] DLP Editor V2 - Limit

[2021-11-12 12:27] manuelap-msft commented on #1473
You would turn back on and off the  Admin | Sync Template v3 (Apps) and Admin | Sync Template v3 (Flows) flows!

[2021-11-12 12:37] tommortimer21 commented on #1473
Thanks, I’ll do what you’ve explained and hopefully then the DLP Editor will list all of our apps!

Last query – is there a way to export the results of the DLP policy preview to Excel, so we can see in an Excel document which apps/flows would be affected by a change?

Regards
Tom Mortimer
Telephone +44 113 307 3116
***@***.***

From: Manuela Pichler ***@***.***>
Sent: 12 November 2021 12:28
To: m

[2021-11-12 12:50] manuelap-msft commented on #1473
There isn't a way to export at the moment, but we've had another ask for this as well so we are investigating how we can make this possible!

[2021-11-12 13:36] EmranCoE commented on #1471
Hey Jenefer,

Thank you so much, I always appreciate your quick help very much.
After  upgrade, hope the deletion process will continue from those are waiting to be delete in  (apps/flows already  approve  and saved in Archive Approval Table ) database .
Just for sure, If I am doing the correct update process >> after removed all the unmanaged layer from apps/flows >> import the solution>> and sel

[2021-11-12 14:16] Jenefer-Monroe commented on #1471
What version of Core do you currently have? We did have a bug a while back which caused issues with upgrade.

[2021-11-12 14:57] EmranCoE commented on #1471
Okay , We have Core Version 2.1.70

![Solution_Version](https://user-images.githubusercontent.com/90054514/141487008-edbb80ea-4599-4383-add0-ee3a80820d8e.jpg)

[2021-11-12 16:10] Jenefer-Monroe commented on #1466
local fixed for Dec
![image](https://user-images.githubusercontent.com/89584709/141497972-134bc663-d874-4b6c-bc93-1fd3fddfa279.png)

[2021-11-12 20:24] Jenefer-Monroe commented on #1471
I think we had it fixed already by then, can you go and see if there are unmanaged layers to remove? That might fix it for you without any other work, and its needed for upgrade anyway.

[2021-11-13 11:52] groypk commented on #1412
I have the same issue in my test environment, the DLP editor opens, but there is no option of creating new polices

[2021-11-14 19:24] EmranCoE commented on #1471
Yeah , there were unmanaged layers , I removed all before do the upgrade .
Upgrades looks ok , with all the new version from november .

![Upgrade-November](https://user-images.githubusercontent.com/90054514/141694995-cc4bcc2a-c8fb-44f5-a0a5-e8660f397340.jpg)

But still the issues after upgraded , deletion process not getting success .

- Canvas App Action failed

![Error_CanvasApp](https://user-i

[2021-11-14 22:38] Jenefer-Monroe commented on #1471
Can you please share the output at this failure?

[2021-11-14 23:13] EmranCoE commented on #1471
Here is the output , or you mean the OUTPUTS >> click to download >> get the code !

![Output_](https://user-images.githubusercontent.com/90054514/141702392-0da014b3-6a94-4471-a47b-41d0b86118bd.jpg)

[2021-11-15 09:53] tommortimer21 commented on #1473
It’s looking at more apps now. Is the Analysed Apps/Flows the actual impacted Apps/Flows, or just the Apps/Flows it has scanned though?

Just need to be clear whether it’s looked at 874 apps or found 874 apps that would be impacted by a change to the policy.

Difficult to count the exact number in the list by just scrolling down

***@***.***

Regards
Tom Mortimer
Telephone +44 113 307 3116
***@***

[2021-11-15 10:41] manuelap-msft commented on #1473
Great! It's analysed apps - Collect and Count in Power Apps are [non-delegable function](https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/delegation-overview) so we can't list impacted apps unfortunately as some tenants may have more than 2000 impacted apps. So it only shows you the ones that it scanned through!

[2021-11-15 10:44] tommortimer21 commented on #1473
That makes sense. So to be clear, we can’t see a number of impact apps/flow – just the list of impacted apps/flows to scroll through on the DLP Editor App?

Regards
Tom Mortimer
Telephone +44 113 307 3116
***@***.***

From: Manuela Pichler ***@***.***>
Sent: 15 November 2021 10:42
To: microsoft/coe-starter-kit ***@***.***>
Cc: Mortimer, Tom ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft

[2021-11-15 10:45] manuelap-msft commented on #1473
That's correct, yes! We are looking at a way to export the impacted list to Excel or similar for you to be able to count the impacted apps there but that's still under investigation. At the moment, you can only scroll through them.

[2021-11-15 10:54] tommortimer21 commented on #1473
Thanks. In that case I have the help I needed, so thank you

Regards
Tom Mortimer
Telephone +44 113 307 3116
***@***.***

From: Manuela Pichler ***@***.***>
Sent: 15 November 2021 10:46
To: microsoft/coe-starter-kit ***@***.***>
Cc: Mortimer, Tom ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/coe-starter-kit] DLP Editor V2 - Limited Results (Issue #1473)

That's correct, yes! We are loo

[2021-11-15 11:10] manuelap-msft commented on #1473
Awesome, thank you - I'll go ahead and close this issue now but please do let us know if you experience any further issues and we'll look into it! Thank you for using the CoE!

[2021-11-15 11:10] #1473 closed

[2021-11-15 12:48] poppynka opened #1477 "[CoE Starter Kit - Idea] Use Environment variable for logo used in e-mails"
Hi,
my idea is about customer branding the e-mails. We are currently used October release and plan to do next upgrade probably in January.

**Is your feature request related to a problem? Please describe.**
I am currently asked to put customer's logo to all e-mail communication that goes towards our users. I can see the e.g. _Admin | Archive and Clean Up v2 (Start Approval for Apps)_ uses local va

[2021-11-15 17:17] mikefactorial commented on #1469
@ServiceAdmin365 a couple of things to check here.
1. Are you seeing values passed in to the Data variable in the export pipeline for example:
![image](https://user-images.githubusercontent.com/42348035/141825191-d37e10b4-cc57-4868-a96f-aadbeb4917b3.png)
2. Is there a Power Platform Service Connection registered for the environment in which the ALM Accelerator is installed?
3. What does the output

[2021-11-15 17:31] Jenefer-Monroe commented on #1478
You can find all the releases of the starter kit here: https://github.com/microsoft/coe-starter-kit/releases
I dont know how far back you are, and we dont keep track of issues to hte level where I think I can help advice on how to upgrade most easily.
I will say that I have tested upgrade of the current release (Nov) to the June 2021 version.

[2021-11-15 17:46] mikefactorial commented on #1458
@stefanjackmuth be interested to see the full log for the PAC install. Here's a screenshot of what it looks like in our working environment.
![image](https://user-images.githubusercontent.com/42348035/141829043-18a3bf88-c070-4e21-a6a1-0d5355b72f7b.png)

[2021-11-15 19:23] Jenefer-Monroe opened #1479 "[CoE Starter Kit - BUG] Check Deleted - Failure Array not included for first round (newly deleted environments)"
### Describe the issue

Missed doing this step
![image](https://user-images.githubusercontent.com/89584709/141841469-60e76fed-9792-4880-9e91-a7574dfd662e.png)

for newly deleted environments

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.18

### What app or flow are you having the issue with?

CLEANUP

[2021-11-15 19:26] stefanjackmuth commented on #1458
@mikefactorial - thanks for reaching out. Here is the raw log:
2021-11-10T14:28:06.9321673Z ##[section]Starting: Install pac cli
2021-11-10T14:28:06.9542896Z ==============================================================================
2021-11-10T14:28:06.9543252Z Task         : PowerShell
2021-11-10T14:28:06.9543521Z Description  : Run a PowerShell script on Linux, macOS, or Windows
2021-11-10T1

[2021-11-15 19:29] Jenefer-Monroe commented on #1479
local fixed December

[2021-11-15 20:26] mikefactorial opened #1480 "[AA4AM] Rename Solution"
Rename AA4AM Solution to align with CoE Starter Kit naming conventions Center of Excellence - ALM Accelerator

[2021-11-16 08:26] AravindSivanantham opened #1482 "Cloud flow runs capture"
Hi Team,

Appreciated, is there any feature upgrade in CoE to capture Cloud Flow Run History to generate reports using PowerBI dashboard.

Regards
Aravind Sivanantham

[2021-11-16 08:35] gabrielvillayzanbcp opened #1483 "I'm trying to upgrade from CoE v2.2.20to the latest 3.18 - Error"
Hi,
When I try to upgrade/update/upgrade-override the CoE 2.2.20 to 3.18, I still get this error:
Error code: 80072352
Exception message: CanvasApp import: FAILURE: Code: ApplicationIdAlreadyInUse Message: The application name '90ddb448-a721-453e-bf6a-fea0dd2c7dc7' in tenant 'my tenant' is already in use. Please specify a different name.

NOTE: I also tried to find that App ID but I did not find i

[2021-11-16 08:38] manuelap-msft commented on #1482
Monitoring cloud flow runs is currently not included in the CoE Starter Kit, as this information is not available via APIs or the Office 365 Audit Log. The CoE Starter Kit can only use what's available in the product.

[2021-11-16 08:38] #1482 closed

[2021-11-16 09:03] EmranCoE commented on #1471
Hey Jenefer ,
Just want to share, tried these  >>  I have removed that app  ( from Power Platform Admin view App) in above screen  there it was stop , also removed that approval record from Archive Approval Table.
And run the flows, it runs successfully and deleted about 20 apps and 30 flows, hope it will keep continue.

[2021-11-16 09:08] EmranCoE commented on #1471
I have two questions about the new version:

- To change the owner for flows in solution using “Set Flow Permission” App.

But it’s still the same flows in solutions cannot change the owners!
[Flows in solutions can only be deleted or assigned new owners. They can not have their permission types edited programmatically ]
showing this error when trying --
![Flow-Permission](https://user-images.gith

[2021-11-16 10:40] jukkan opened #1484 "[CoE Starter Kit - BUG] Command Center flow has incorrect filter query for Message Center services"
### Describe the issue

Upon opening the Admin - Command Center app, I see that not all the Power Apps / Automate / BI related messages are retrieved. Viewing the same tenant's Microsoft 365 Message Center shows 8 messages, Command Center app shows only 5:

![image](https://user-images.githubusercontent.com/10254155/141969889-19dd25f9-ff3f-4b06-a8a2-14ff7165743b.png)

Upon closer inspection, it se

[2021-11-16 12:11] medicineshow opened #1485 "[CoE Starter Kit - BUG]CoE for Teams Flow Admin - Environment Request Fails to Create Database for New Environment"
### Describe the issue

In the flow, Env Request | Create approved environment, the flow fails at the step Create Database with the following error message:

"error": {
    "code": "AuthorizationFailed",
    "message": "A client certificate or authorization header was not provided."
  }

It creates the environment successfully though.

### Expected Behavior

App should create a new environment and

[2021-11-16 13:01] Jenefer-Monroe commented on #1477
This is a good idea. And I happen to be re-writing some of our email stuff for Dec.
Will explore.

[2021-11-16 13:04] Jenefer-Monroe commented on #1485
assigned to area owner

[2021-11-16 13:07] Jenefer-Monroe commented on #1471
It looks like your issue is now resolved for which this bug was posted. Please post separate issues for additional bugs.
Thanks for using CoE!

[2021-11-16 13:07] #1471 closed

[2021-11-16 13:34] Jenefer-Monroe commented on #1399
Looks like I pasted the wrong link for the flow one, here that is fixed

To use: Import the flow, open, select the environment which repros for you.
It loops the flows, will hit the same failure and the you can go to support with this flow instead of the toolkit, for faster iteration to fix.
[ProductBugDemo-getflowaftergetflowsfails_20211116133300.zip](https://github.com/microsoft/coe-starter-kit/

[2021-11-16 13:59] Jenefer-Monroe commented on #1484
Thanks for the recommended fix! I'll test it out.

[2021-11-16 14:18] Jenefer-Monroe opened #1486 "[CoE Starter Kit - BUG] Add Env Vars for command center application to get m365 messages"
### Describe the issue

today they have to edit the flow and hence get an unmanaged layer that will prevent updates/
![image](https://user-images.githubusercontent.com/89584709/142000601-e641f600-18cd-460a-aa72-d6eff622bee9.png)

### Expected Behavior

env vars instead

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.18

### What app or flo

[2021-11-16 14:20] Jenefer-Monroe commented on #1486
![image](https://user-images.githubusercontent.com/89584709/142002148-9365c9d4-49c4-4710-9dbb-6bce884d78d2.png)

local fixed for Dec

[2021-11-16 14:22] Jenefer-Monroe commented on #1484
seems to work great. Have local fixed for Dec.
Thanks so much!!!

[2021-11-16 14:37] Jenefer-Monroe opened #1487 "[CoE Starter Kit - BUG] Admin Command Center - remove delegation errors"
### Describe the issue

Delegation Errors in the app due to CountRows

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.18

### What app or flow are you having the issue with?

Admin - Command Center

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-16 14:38] Jenefer-Monroe commented on #1487
Fixed with this basic pattern, where I make a collection just for countrows for 3 different counts:
[code]

[2021-11-16 15:31] EmranCoE opened #1488 "November version . Set Flow Permissions does not work for flows in solution"
### Describe the issue

Hi ,

We just upgaded the new version( **Core 3.18 , Governance 2.8** )  from november ,  but following two functions are missing .

![Upgrade-November](https://user-images.githubusercontent.com/90054514/142009453-aac9133a-ebf7-4680-ba66-26b560ed1426.jpg)

1.

Unable to change the owner for flows in solution using “Set Flow Permissions” App .

Still  the same message
[Flows

[2021-11-16 15:56] Jenefer-Monroe opened #1489 "[CoE Starter Kit - BUG] remove nagivation from onstart in Set App/Flow Permissions app"
### Describe the issue

Navigate(HomeScreen); in onstart caused it to not load data when booted in maker. would eventually cause it to not load data in player too, so fixed.

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.18

### What app or flow are you having the issue with?

Set Flow Permissions

##

[2021-11-16 16:00] Jenefer-Monroe opened #1490 "[CoE Starter Kit - BUG] Product Caching issue causing failures in Command Center App > Initially Populate Bookmarks"
### Describe the issue

some apps get deleted but still returned in Get Apps as Admin. This was returning apps without logical names and causing this flow to fail here
![image](https://user-images.githubusercontent.com/89584709/142020387-38229b96-8161-432a-9a09-3a07d739d30e.png)

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution v

[2021-11-16 16:02] Jenefer-Monroe commented on #1490
local fixed for December
![image](https://user-images.githubusercontent.com/89584709/142020555-d1af19bc-72d2-4da5-84b9-567243925a03.png)

[2021-11-16 16:03] Jenefer-Monroe commented on #1489
local fixed Dec

[2021-11-16 16:33] Jenefer-Monroe commented on #1488
Hello, this is not an env variable we ever shipped: **_Exclude Teams Environment from Compliance_**
You can excuse individual environments from this in the Power Platform Admin View
![image](https://user-images.githubusercontent.com/89584709/142025803-9153e50e-3efe-4330-bd8e-e76d3a354502.png)

[2021-11-16 16:50] alvarezskinner opened #1491 "[ALM Accelerator - Docs Update]: Update screenshot in docs for setup-guide"
In the setup-guide when in the section "Create the Solution Build and Deployment Pipeline(s)" in step 5, when we are creating the file in the repo, the screenshot is showing its done in the main default branch, we should change this to be the v-next branch.

[2021-11-16 16:53] poppynka commented on #1477
Thanks :)

I am also asked to customize and brand these, because they don't have logo and people might think it's spam or phishing
- Admin | Email Managers Ignored Approvals - mail sent to managers
- Admin | Archive and Clean Up v2 (Clean Up and Delete), mail asking makers to delete flow manually if it's in the solution.

Maybe I could post it as separate idea :)

[2021-11-16 17:07] Jenefer-Monroe opened #1492 "[CoE Starter Kit - BUG] Admin - Command Center: cannot set current value for env vars that dont have one already"
### Describe the issue

If an env var has never had a current value, you cannot add one with the app.

![image](https://user-images.githubusercontent.com/89584709/142031853-ee0e61d9-12c8-4cd1-87db-7bd4f372235a.png)

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.18

### What app or flow are you having

[2021-11-16 17:13] EmranCoE commented on #1488
Thank you !  Jenefer ,
So , "Excuse from Compliance Flow " in Power Platform Admin View need to do it  for each Teams Environment separately , for example we have more than 200 Teams Environments .
But I have seen earlier few weeks ago in my other computer  while testing Demo CoE Env.
![Teams_](https://user-images.githubusercontent.com/90054514/142032165-b9f4d65e-78b0-43dd-8192-58f63abe1ab3.jpg)

[2021-11-16 17:16] poppynka commented on #1477
oh, wow 😸 that sounds interesting! I look forward to that 👍

[2021-11-16 17:17] alvarezskinner opened #1493 "[ALM Accelerator - BUG]: Branch Policy Screenshot needs updating"
The screenshot in the Branch Policy creation is not reflecting the options described in the step by step. We need one that shows Build expiration to Immediately

[2021-11-16 17:25] alvarezskinner commented on #1491
Step 12 also needs modifying to display the new branch instead of main

[2021-11-16 17:26] alvarezskinner commented on #1491
The screenshot in the Branch Policy creation is not reflecting the options described in the step by step. We need one that shows Build expiration to Immediately

[2021-11-16 17:27] alvarezskinner commented on #1491
Add that when creating the HTTP with Azure AD connection to use https://graph.microsoft.com for both params

[2021-11-16 17:47] medicineshow commented on #1485
I should ad that the same user account that runs the flow can provision a database directly in the Power Platform admin centre

[2021-11-16 18:01] medicineshow opened #1494 "[ALM Accelerator - BUG]: Insufficient Steps in the ALM Accelerator for Makers Setup Documentation"
### Describe the issue

The Set up ALM Accelerator for Makers components documentation does not detail how to link the ALM app with the GIThub organisation. It mentions setting up the org and secrets but I do not see any mention how this is linked. Please can you direct me to more verbose setup instructions, thank you

### Expected Behavior

_No response_

### What component are you experiencing t

[2021-11-16 18:04] Jenefer-Monroe commented on #1492
fixed for Dec

[2021-11-16 18:08] Jenefer-Monroe commented on #1488
Yes i dont know how that env var got in there, as you can tell from the name (**_new__**... instead of **_admin_._**..) this didn't come from our official release at least. The flow does not look for this env var and so it wouldnt work unless you edited the flow as well. For now at least, you will need to exclude the teams envts individually. You could create a flow to mark them all up though if y

[2021-11-16 18:08] Jenefer-Monroe commented on #1488
Can you please show me the steps you took to get to the error message shown here
![Flow-Permission](https://user-images.githubusercontent.com/90054514/142011179-b2a63add-b941-4be1-ab2b-f4ce93f53118.png)

[2021-11-16 18:09] Jenefer-Monroe commented on #1483
Can you please try an overwrite upgrade in the classic UX?

Solution > Switch to Classic (note this can take some time, may have to try twice)

![image](https://user-images.githubusercontent.com/62659043/129362010-9e4f4b2a-ff0d-4719-b122-ede84bf0ff15.png)

Click Import (fourth from the left)

![image](https://user-images.githubusercontent.com/62659043/129362096-1db7e359-49e3-4a92-af1d-040f5ee379d0

[2021-11-16 18:14] gabrielvillayzanbcp commented on #1483
@Jenefer-Monroe I have tried that a couple of times and still getting the same error.

[2021-11-16 18:21] EmranCoE commented on #1488
**Set Flow Permissions**  open the App >> search by owner (whos flows in solution>> in the left side you can see the caution symbol and right side the **Add Permissions** button is disable , flows those are not in solution this button shows enable.

![Screenshot (565)_LI](https://user-images.githubusercontent.com/90054514/142040864-da300920-05dd-4300-9ca3-bf6f342d1a02.jpg)

When click on the flow

[2021-11-16 18:39] EmranCoE commented on #1488
About the Env Variable . I am very sorry if I make you confused . I just remember now that  I was created this Teams Env Variable  last time for testing purpose in my other computer.
Ok , thanks for the idea (create a flow)

[2021-11-16 20:07] Jenefer-Monroe commented on #1488
i believe you have unmanaged layers on that app (Set Flow Permissions). The page now looks like this
![image](https://user-images.githubusercontent.com/89584709/142057946-c40db18b-3ef6-4244-bd4f-b971cadce517.png)

[2021-11-16 20:11] Jenefer-Monroe commented on #1483
I'm afraid I don't know how to help you upgrade at this point then. What aspects of the toolkit are you using? This would help me know if you could just do a clean install in a new environment.

[2021-11-16 20:19] Jenefer-Monroe commented on #1292
closing out as no further action for starter kit team

[2021-11-16 20:19] #1292 closed

[2021-11-16 20:19] Jenefer-Monroe commented on #1360
closing out as no further action for starter kit team

[2021-11-16 20:19] #1360 closed

[2021-11-16 20:21] Jenefer-Monroe commented on #1403
local fixed for Dec.

[2021-11-16 20:22] Jenefer-Monroe commented on #1416
closing out as no further action for starter kit team

[2021-11-16 20:22] #1416 closed

[2021-11-16 20:23] Jenefer-Monroe commented on #1420
local fixed for Dec. Finishing testing.
Dec will have only the cloud flows in Core complete. And in future months, with feedback, we will extend into Gov and Nurture

[2021-11-16 20:23] EmranCoE commented on #1488
Checked just now , did not see any unmanaged layers

![Unmanaged_layer](https://user-images.githubusercontent.com/90054514/142059999-1907faf9-a215-486a-8e7c-dff7a9308f7a.png)

[2021-11-16 20:24] Jenefer-Monroe commented on #1440
local fixed December

[2021-11-16 20:27] Jenefer-Monroe commented on #1488
Curious. Do you see multiple instances of the solution installed? I wonder if some upgrade failure hit you.

[2021-11-16 21:36] EmranCoE commented on #1488
Maybe its better , I explain to you the whole scenario during upgrade
After removed all the unmanaged layers >> started with following order (that might not needed)

1.  Nurture (success , No error )
2. Governance (success , No error)
3. Audit Logs ( failed , got that  error in the  below screen )

![Audit-Logs](https://user-images.githubusercontent.com/90054514/142064272-c0619a8e-421a-44b2-bc3a-9

[2021-11-16 23:18] mehakvij opened #1495 "[CoE Starter Kit - BUG] your issue"
### Describe the issue

Trying to Import the November version of the Audit Log component and getting the attached "ImportAsHolding Exception during StageAndUpgrade" error.

I'm getting this for nurture and audit log components but nothing else. Currently doing an upgrade but I can do something else if necessary.

![image](https://user-images.githubusercontent.com/73190679/142081534-32902942-2e74-4

[2021-11-17 08:56] missbets commented on #1442
Hi Jenefer!
I was helping another M36 admin set it up. We attempted both builds (November + October) and got similar error messages.

[2021-11-17 09:12] Sandhyaraniguriv commented on #1455
Hello Team,

Can you please update on this ticket. It's been raised since last week and no response. Please call me on teams to check more details on the issues raised and added in the word document with this ticket.

Thanks,
Sandhya

[2021-11-17 10:01] NPrice99 opened #1529 "[BUG]: "All Environments" not available in Cloud Flows Page of the PowerBI Report"
**Describe the bug**
The option to select "all environments" in the Cloud Flows Report

**Component (please tell us which flow or app you are experiencing issues with):**
 - Solution Core
 - Version 3.18
 - App or Flow None - teh data is there - I have checked

**To Reproduce**
Steps to reproduce the behavior:
1. Load PowerBi Report
2. Select Cloud Flows
3. Look at Environment filter
4. See error

[2021-11-17 11:15] NPrice99 opened #1528 "[CoE Starter Kit - Feature]: Automatically add approved connectors to a new environment request"
**Describe the bug**
When you want to  create a new environment using the Environment Management Tool, you have to add in all of the required connectors.  We have a list of default (approved) connectors which are added to every Environment.  If a requestor needs more, then they should be able to add them.  It would be better (and less error prone) if the default connectors were already added  and

[2021-11-17 12:30] manuelap-msft opened #1496 "[CoE Starter Kit] Add Tenant ID as a column to inventory tables"
### Describe the issue

Feature ask for customers that have multiple tenants they want to support - add Tenant ID to inventory tables (perhaps only environment is needed?), customers can then bring together tables from different tenants in one Power BI Dashboard (out of scope for CoE) and display info by tenant.

### Expected Behavior

_No response_

### What solution are you experiencing the issu

[2021-11-17 12:32] manuelap-msft commented on #1496
@Jenefer-Monroe I spoke to Ravi and Phil internally and we discussed adding a tenant ID to the inventory to support customers with multi-tenant scenarios. Effort on our side should be just adding the tenant ID in - I'm not sure if this is info we get currently from the Admin connectors to populate? If not, we can leave it blank for now - it is available through BYO Datalake and we can populate it

[2021-11-17 13:01] silvafr1 opened #1497 "[CoE Starter Kit - BUG] Audit logs"
### Describe the issue

After upgrading the Audit Logs Solution to 2.6 version and selecting the TimeInterval-Interval= 10 it still continue to create 60 TimeSegments, so only launching 60 [Child] Admin | Sync Logs.
Basically We still have the bug: https://issueexplorer.com/issue/microsoft/coe-starter-kit/1065

### Expected Behavior

Defining
TimeInterval-Unit = Minute
TimeInterval-Interval= 10

w

[2021-11-17 13:06] Jenefer-Monroe commented on #1442
I'm afraid we dont repro this. Will hold for a bit for others to see the workaround, and hope that it works itself out.

[2021-11-17 13:07] Jenefer-Monroe commented on #1454
closing out as no further action for starter kit team

[2021-11-17 13:07] #1454 closed

[2021-11-17 13:10] Jenefer-Monroe commented on #1455
Hello, to set expectations, the starter kit is not a Microsoft product and is therefore not supported, and has no SLAs. We cannot work with GitHub customers either.
Please see our [Disclaminer](https://docs.microsoft.com/power-platform/guidance/coe/overview#disclaimer)

[2021-11-17 13:11] #1461 closed

[2021-11-17 13:11] Jenefer-Monroe commented on #1464
closing out as no further action for starter kit team

[2021-11-17 13:11] #1464 closed

[2021-11-17 13:18] Jenefer-Monroe commented on #1465
local fixed for Dec

[2021-11-17 13:24] Jenefer-Monroe commented on #1470
local fixed Dec

[2021-11-17 13:28] Jenefer-Monroe commented on #1488
Alright, I'm not sure what to do here. We've already fixed this bug a while ago, but you arent receiving it for some reason.
You could try doing an overwrite of Core, as shown below.

Solution > Switch to Classic (note this can take some time, may have to try twice)
![image](https://user-images.githubusercontent.com/62659043/129362010-9e4f4b2a-ff0d-4719-b122-ede84bf0ff15.png)

Click Import (fourth

[2021-11-17 13:32] Jenefer-Monroe commented on #1495
Hello, I'm afraid we are unable to scale to help you at this time with upgrade issues. Please browse the other closed issues around upgrade to find solutions other folks have used and be sure to consider the version from which you are upgrading when doing the search.

[2021-11-17 13:36] Jenefer-Monroe commented on #1497
Flows cache environment variables, and so need to be turned off and back on after you change their value. This is true for all env vars not specific to our solutions.

[2021-11-17 13:57] Sandhyaraniguriv commented on #1455
Hello,
what does this mean? I raised tickets on the same issue on 2nd Nov and the same was with Mindtree Vendor(Sumanth and Shwetha Jadav <v-sjadav@microsoftsupport.com>. Both of them closed the below tickets saying that you would be helping in resolving these issues. If you don't support who will support and where do I need to raise the tickets.

Please find the tickets raised on the issues menti

[2021-11-17 14:17] Jenefer-Monroe commented on #1455
That CoE Starter Kit is not a supported set of functionality, its just a set of free tools to get you started.
This is the correct place to post issues, and we do our best to keep up with customers, but there is no SLA.
I have sent your issue to the area owner and they will respond if they have questions or if they are able to resolve.

[2021-11-17 14:28] EmranCoE commented on #1488
Okay , thanks for the instructions  , if  I understand correct !  Don't have to remove unmanaged layers >> for overwrite  option

would like to ask about  below screen from **Power Platform Admin View** App

![Maker](https://user-images.githubusercontent.com/90054514/142216774-a046cef1-af6d-4c63-a1c3-043f3eb05eb0.jpg)

 In maker page  , if we change the Display Name and User Principal Name (maker

[2021-11-17 14:44] gabrielvillayzanbcp commented on #1483
I only have this 2 solutions (Core and audit log) I tried first to upgrade to July version, then I'm trying to October/november version and I can't because of this error.
![image](https://user-images.githubusercontent.com/84060860/142219418-5379351f-3645-455a-b160-a0b5da422278.png)

on the other side, I have data in my Dataverse DB, I would like to do a clean install but keeping my data, I have al

[2021-11-17 14:45] Jenefer-Monroe commented on #1488
Yes you should always remove unmanaged layers, just in case.

The Power Platform Admin View app does not make changes to objects, its a read of the inventory. While it will change the value in your inventory temporarily these will be overwritten with the sync flows when the object next changes.
Use the Set App Permissions app to change ownership
Please post further questions in separate bugs.

[2021-11-17 14:49] Jenefer-Monroe commented on #1483
ok. I'm afraid I cannot scale to assist then. You can look through the old closed issues around upgrade to see if you can find ideas from others. But I'm not familiar with this error in particular.

[2021-11-17 14:57] EmranCoE commented on #1488
Okay . Thank you so much for all the help , you can close this issue

[2021-11-17 14:57] Cathi029 opened #1498 "[CoE Starter Kit - BUG] View Button in Admin- Environment Request not working (Teams)"
### Describe the issue

Hello,

I imported the CoE Starterkit for Teams, added an environemnet request and wanted to view this from the Admin- Environment Request app, but I could´t use the View-button. Nothing happens when clicking it.
In developer mode there are several errors regarding two formulas (see below)
<img width="978" alt="Formula 1" src="https://user-images.githubusercontent.com/62603

[2021-11-17 14:59] Jenefer-Monroe commented on #1498
Denise - we should perhaps re-think using Users table, and just use Maker, especially since you create a Maker later anyway.

[2021-11-17 15:10] PlanetDomino commented on #1461
Jenefer,

I removed the prior installation, per your recommendation; but I noticed something strange, and wanted to get your input before proceeding.

On my initial attempt to load the CoE, I used our DEV tenant (we have 2 tenants, DEV and PROD), however, since it was my 1st attempt when creating the environment, I selected the “Sandbox” option (as opposed to PRODUCTION).  So, does that really mat

[2021-11-17 16:40] jenschristianschroder opened #1499 "[ALM Accelerator - BUG]: Import solution fails attempting to set TriggerSolutionUpgrade variable"
### Describe the issue

When trying to import a solution via the Import solution button which triggers the import-unmanaged-to-dev-environment pipeline the pipeline fails when trying to set the TriggerSolutionUpgrade variable

Result is that the solution is imported, however, it is not configured as defined since the pipeline run is terminated as the Set TriggerSolutionUpgrade Variable fails.

###

[2021-11-17 16:52] bigpix2000 commented on #1420
Good start .... anticipating documentation or guidance updates to coincide or should we keep note until then?

[2021-11-17 17:25] ServiceAdmin365 commented on #1469
1 . I can see the value against Data variable same as given image.
2. Service connection is required to PP (Dev,test,prod) environments?
I have installed the aa4am in separate environment.
Please suggest do I have to create one more for coe environment ?

[2021-11-18 08:59] NPrice99 opened #1527 "[BUG]: There was an error when processing the data in the dataset."
**Describe the bug**
After the overnight run of the CoE flows - when I display the CoE PowerBi Dashboard I get this :-
Data source errorColumn '<pii>admin_portalenvironment</pii>' in Table '<pii>Portals</pii>' contains a duplicate value '<pii>875218c8-03cf-4aa9-814c-f14f5482ef6a</pii>' and this is not allowed for columns on the one side of a many-to-one relationship or for columns that are used as

[2021-11-18 09:00] medicineshow commented on #1485
Hi, do you have any response to this issue please?

[2021-11-18 10:01] AravindSivanantham commented on #1482
Please let us know the tentative time by when the cloud flow runs included in CoE Starter kit Components.

[2021-11-18 11:51] manuelap-msft commented on #1482
Cloud flow run history is not available in the product. Hence it's also not available in the CoE Kit. There is no timeframe to address this.

[2021-11-18 12:46] manuelap-msft commented on #1291
I'm able to repo this in our tenant now, and this will be fixed for the December release. I may be able to upload the fixed .pbit file next week already as well.

[2021-11-18 12:47] manuelap-msft commented on #1412
We don't support creating new policies through the DLP editor. You will have to create them through the Power Platform Admin center aka.ms/ppac.

Closing this out as no action required on the CoE team.

[2021-11-18 12:47] #1412 closed

[2021-11-18 12:49] manuelap-msft commented on #1442
Hello,

I was able to repo this and it is due to an incorrect relationship between the Portals and Environment table in Power BI. We will fix this for December.

You can fix it yourself by choosing Manage Relationships in Power BI desktop:
![image](https://user-images.githubusercontent.com/55705669/142418330-5ea9fd28-b31d-43d5-83a3-90be559bbb48.png)

and changing the relationship between Portals a

[2021-11-18 12:54] #1488 closed

[2021-11-18 15:19] zsolt-illes opened #1506 "[CoE Starter Kit - BUG] your issue"
### Describe the issue

In the _CLEANUPHELPER-CheckDeletedCloudFlows-6BD20554-9BFB-EB11-94EF-002248237D7D.json_ flow, the _List_Cloud_Flows_not_yet_marked_deleted_ action under the _Check_deleted_Scope_ does not return all flows. Without the row limit in the action set, it returns only 5k flows. When setting the row limit higher, it will only return flows up to the number set in the row limit. If

[2021-11-18 15:21] silvafr1 commented on #1497
Hello,
Honestly I did remove all unmanage layers and stop/start all flows and was always the same result.
Meanwhile I found the tehre exist a variable "TimeSegments-CountLimit"on the Default Solution that was set to 60, so I´ve change the value to 150 and it start to work correctly.  Now I get the 144 childflow run, which was expected for the
TimeInterval-Unit = Minute
TimeInterval-Interval= 10

!

[2021-11-18 15:26] Jenefer-Monroe commented on #1497
Aww yes I understand now. Thanks for following up.
This is documented here. Please let me know if you have some language ideas that would have made this more clear.

![image](https://user-images.githubusercontent.com/89584709/142444585-295115c1-e418-4e11-bc0f-d0db159a9d54.png)

[2021-11-18 15:28] silvafr1 commented on #1497
Thank you very much!
I´m going to close this isseu.
Regards

[2021-11-18 15:28] #1497 closed

[2021-11-18 15:39] Jenefer-Monroe commented on #1506
Hello, we have the pagination setting on the action to 100,000
![image](https://user-images.githubusercontent.com/89584709/142446498-6bbfe1bd-4f9e-4fd7-8dd0-0e757bad419d.png)

If you do not see that, please see if you have unmanaged layers to remove.

If you are referencing something besides pagination please let me know.

[2021-11-18 16:21] gabrielvillayzanbcp commented on #1483
So what's the suggestion here? do I need to do a fresh CoE installation? if so, is there a way to import my old data?

[2021-11-18 16:39] Jenefer-Monroe opened #1507 "[CoE Starter Kit - BUG] Help migrating CoE to new environment - until we can directly migrate with Dataflows."
### Describe the issue

Because of a product limitaiton (which is being worked on) in Data Flows in which you cannot preserve GUIDs, you cannot directly migrate the data in a CoE from one envt to another.

For now, this bug can be looked at for help in figuring out how to migrate. Ideas of what people have worked on will be below.

Note this is not intended to be supported advice, just a place for

[2021-11-18 17:59] Jenefer-Monroe commented on #1507
### Just Inventory and Audit Logs

Here's one technique used by @osbornecc in #1190 :
Assumption: They only used CoE for inventory. No other augmentable fields were used. So they just needed to not lose their audit logs

Steps:
- Create new envt
- Setup core again and turn on all the inventory related flows [Setup Core](https://docs.microsoft.com/power-platform/guidance/coe/setup-core-components)

[2021-11-18 18:36] mohsinonxrm commented on #47
@devkeydet , does this still work with Azure DevOps, or is the plan to make it work with GitHub only going forward?
https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-almaccelerator

[2021-11-18 18:43] Jenefer-Monroe commented on #1483
We do not a way to easily migrate all the data due to some product limitations. I did summarize a technique we used to migrate just inventory and audit logs in #1507

[2021-11-18 18:44] timgiard opened #1508 "CoE Audit Log table not showing any data - GCC"
### Describe the issue

The Audit Log table within our CoE model-driven app does not contain any data. Our "Admin | Sync Audit Logs" and "[Child] Admin | Sync Logs" flows have been set up (Along with the Office 365 Management API) and are turned on. Both flows are running successfully each day since August but we are still not getting any data in the Audit Log table. Any ideas why this may be?

Pl

[2021-11-18 18:47] Jenefer-Monroe commented on #1508
Are you GCC? #1292

[2021-11-18 18:49] timgiard commented on #1508
Yes

[2021-11-18 18:50] Jenefer-Monroe commented on #1508
ok you likely misconfigured in the same way as the customer in that bug. Please review it.

[2021-11-18 19:00] Jenefer-Monroe opened #1509 "[CoE Starter Kit - BUG] Admin | Command Center - add search bar to env var page"
### Describe the issue

Hard to find the env variable you want to edit

### Expected Behavior

able to search them by name

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.18

### What app or flow are you having the issue with?

Admin - Command Center

### Steps To Reproduce

_No response_

### Anything else?

_No response_

[2021-11-18 19:00] Jenefer-Monroe commented on #1509
local fixed for Dec

[2021-11-18 19:15] timgiard commented on #1508
You were correct, the URL needed to be updated and that fixed the issue. Thank you!!

[2021-11-18 19:15] #1508 closed

[2021-11-18 19:24] Jenefer-Monroe commented on #1508
Wonderful!

[2021-11-18 19:37] Jenefer-Monroe commented on #1477
what I've done is added this logo to the existing **_eMail Header Style_** environment variable. So this will benefit you in Nov release before we get to stamping out this helper-flow work into Gov

[2021-11-18 19:53] drinklikachamp commented on #1159
I encountered this same issue. My remedy was to double-check the **Allow publishing of canvas apps with code components** was turned on. It was **not**. The change must have not taken the first time. I then imported the same theme solution again and it worked.

[2021-11-18 23:06] emivy20 opened #1511 "[CoE Starter Kit - BUG] your issue"
### Describe the issue

CoE Theme editor not displaying options to change theme colors
![image](https://user-images.githubusercontent.com/94653172/142510670-2706ce17-7af1-4023-a9a1-9542ae6a61f2.png)

### Expected Behavior

Editable options to change the color of the theme template

### What solution are you experiencing the issue with?

Theming

### What solution version are you using?

2.40

###

[2021-11-19 08:25] slaouist commented on #1511
Please enable PCF Component in your environment to resolve the issue.

[2021-11-19 08:25] #1511 closed

[2021-11-19 13:56] Jenefer-Monroe commented on #1487
there is one spot left here that this doesnt work which is in the onstartscreen pattern. need to investigate that separately. But the rest are fixed

[2021-11-19 13:58] MrHueb opened #1512 "[ALM Accelerator - BUG]: “GetAppsAndFlows” is currently configured with Run-Only user"
### Describe the issue

In the setup guide section Update the Webhook URL Value (https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-almaccelerator#update-the-webhook-url-value), you should copy the URL from the WorkflowCompleteNotification Flow.
Issue: The instruction most likely refers to the **trigger** of the flow. Additionally, the flow does not show a URL as it can not be turn

[2021-11-19 15:13] devkeydet opened #1513 "[AA4PP] refactor powershell into ps1 files"
Makes PowerShell code easier to author in editors because you get syntax highlighting, etc.  Also makes it easier to read, test locally, etc.  And just cleaner.  Example:
https://github.com/devkeydet/pva-alm/blob/main/.github/actions/turn-on-flows-impersonation/action.yml
https://github.com/devkeydet/pva-alm/blob/main/.github/actions/turn-on-flows-impersonation/Enable-Flows.ps1

[2021-11-19 15:42] manuelap-msft opened #1514 "[CoE Starter Kit] Developer Compliance Center for Flows improvement - multiselect"
from Dataverse summit:

The compliance center is really good for apps. But for flows, it sometimes can be excessive as one business solution could contain ten or more flows - this equals to 10 compliance submissions for flows of the same solution.

Would be good to show them at solution level, or be able to select multiple flows and update the details for all of them with one form.

Multi-select r

[2021-11-19 16:51] Jenefer-Monroe commented on #1496
local fixed for December

[2021-11-19 16:53] Jenefer-Monroe commented on #1496
1. added a TenantID field to Envt table
1. fill this field from the main sync flow **_Admin | Sync Template v3_**

[2021-11-19 16:55] Jenefer-Monroe opened #1515 "[CoE Starter Kit - BUG] Objects made by Service Principles show as Orphaned (except canvas apps/cloud flows)"
### Describe the issue

Previously we were only checking for maker type Service Principle for 2 object types (Canvas Apps and Cloud Flows)

### Expected Behavior

_No response_

### What solution are you experiencing the issue with?

Core

### What solution version are you using?

3.18

### What app or flow are you having the issue with?

sync flows

### Steps To Reproduce

_No response_

### Anyt

[2021-11-19 16:55] Jenefer-Monroe commented on #1515
Local fixed in Dec to have a helper flow for orphan check, this allowed us to scale to this work being applied to all object types now.

[2021-11-19 17:21] mikefactorial commented on #1512
Hi @MrHueb, thanks for reporting this. We're aware of the issue and actively working on a fix. I've notified the team member working on this to provide an update here.

[2021-11-19 17:25] mikefactorial commented on #1494
@medicineshow agreed it's vague. The secret in question is the admin password. We're making some updates to the docs and will ask that be made more specific.

[2021-11-19 17:50] medicineshow commented on #1494
Apologies. which admin password?

[2021-11-19 17:57] mikefactorial commented on #1494
Dataverse admin password. Same password(s) used in the setup app.
![image](https://user-images.githubusercontent.com/42348035/142669307-26ce7261-4753-4b78-baf9-376fade77694.png)

[2021-11-20 15:49] chrispiasecki opened #1516 "[Enhancement Request] - Add Connection inventory table"
**Is your feature request related to a problem? Please describe.**
Customer would like to be able to easily identify if certain environments are using service accounts for connections used. Connections appear to be included in the new Export Power Apps Inventory and Usage Data feature, but are not part of the CoE Starter Kit inventory tables.

**Describe the solution you'd like**
Would like to see

[2021-11-21 21:54] Jenefer-Monroe opened #1517 "[CoE Starter Kit - BUG] No easy way to delete an approval to delete flow/app"
### Describe the issue

some gets the archival approval mail
they approve the delete
they change their mind.

--> No easy way for admin to remove this approval, they have to go into the table itself

### Expected Behavior

Added this button to the admin app for this.

### What solution are you experiencing the issue with?

Governance

### What solution version are you using?

2.8

### What app or

[2021-11-21 21:55] Jenefer-Monroe commented on #1517
local fixed Dec

[2021-11-21 22:24] fooshen commented on #1512
Thanks @MrHueb - we are working on this fix. For now, you can unblock this by changing the run-only permission for its child flow, GetAppsAndFlows. Change the connection for Power Apps for Makers from "Provided by run-only user" to "Use this connection (<your connection>)". You will then be able to get the URL generated for the webhook.

![image](https://user-images.githubusercontent.com/23041800/

[2021-11-21 22:54] #1495 closed

[2021-11-21 22:54] #1483 closed

[2021-11-21 22:54] #1478 closed

[2021-11-22 09:03] manuelap-msft commented on #1516
The CoE Starter Kit is not yet using the BYOD Datalake feature which exports telemetry and inventory to a storage account, as this feature is still in preview and the data schema may change so it's hard for us to take a dependency on it. However, this is on our backlog #424 and we can evaluate your request then.

We won't be able to achieve this with our traditional sync flows, as these are alread

[2021-11-22 13:30] manuelap-msft opened #1519 "[CoE Starter Kit] 12/17 - Test App Registration scope for Audit Log custom connector"
a communication has been published recently about the Office management service health API deprecation on 17 December and being replaced by Graph API
https://m365log.com/apps-365/service-communications-api-retirement/

This API is added into the permissions scope in App registration while configuring the custom connector according to the starter kit documentation.

I'm not sure if the scope is rea

[2021-11-22 13:53] Jenefer-Monroe commented on #1519
It does work with this permission removed. YEAH!

Manuela to update the documentation.
Jenefer to test and make sure existing installs still work after the product change on 12/17

[2021-11-22 17:24] medicineshow opened #1521 "[ALM Accelerator - BUG]: Deploy project to test step attempts to create a new environment"
### Describe the issue

When the user selects Deploy to test in the ALM for makers application, the Cloud flows attempt to create a new environment yet part of the ALM setup is to define the Test and Production environments in the ALM Accelerator Admin Configuration

### Expected Behavior

_No response_

### What component are you experiencing the issue with?

ALM Accelerator Canvas App

### What

[2021-11-22 17:33] medicineshow opened #1522 "[ALM Accelerator - BUG]: SetupDevEnvironment Cloud Flow always terminates for non paid GitHub orgs"
### Describe the issue

The SetupDevEnvironment Cloud Flow is part of the ALM Accelerator for Makers solution and runs as a child flow of CreateProject. A condition in the flow states that if the environment variable GitHubOrgPlanExist returns no then the flow terminates. Is this correct as it will always terminate if there is no paid GitHub org plan?

### Expected Behavior

_No response_

### Wha

[2021-11-22 17:48] ServiceAdmin365 commented on #1469
I am able to deploy with environment variables and connections. But the owner of the app and other components will app user(service principal). It's better to choose the owner of the components and sharing app with individual users.

[2021-11-22 17:48] #1469 closed

[2021-11-22 20:00] mikefactorial commented on #867
The ultimate solution here was to update the SetEnvironmentId template to use the environmentid that comes back on a connection when it's created using Get-CrmConnection

[code]

[2021-11-22 20:19] mikefactorial opened #1523 "[coe-cli] Remove PowerAppManagementApp permissions from SP"
The permission should no longer be required since we updated the method of getting the environment id in the pipelines. We can safely remove this step from the coe-cli.

[2021-11-23 14:41] binaryjam opened #1524 "Error When processing Support type Envs - Admin | Sync Template v3 (Apps)"
In COE Core Compoents   3.1.3

Getting the Error in the Action  Get Apps as Admin within the Load Arrays Scope.

The request failed with client error: 'The environment '<null>' could not be found in the tenant 'xxxxx-xxxxxxxxx-xxxxxxxxx.'. The correlation Id is 'xxxxxxxxxxxxxxxxxx'.

This is likely because the environment , which does exist, is of type Support, a special environment type MS suppor

[2021-11-23 14:46] binaryjam commented on #1524
Hi Also having similar errors with other flows,
Sync Flows, Custom Connectors, etc  they all have this problem.

Akk failing in the same Support Environment created my MS which even Power Platform Admin Role members have no rights.

[2021-11-23 16:01] manuelap-msft commented on #1524
@Jenefer-Monroe Here's some details about these Support environments https://docs.microsoft.com/en-us/power-platform/admin/support-environment - we may have to exclude them from the sync? If we filter them out from the main Admin | Sync Template v3 maybe?

[2021-11-23 18:40] manuelap-msft commented on #1529
Hello,

I don't think your screenshots have come through. I'm not sure I understand - all environments are selected by Default, e.g. the page/report shows all environments to begin with and you can drill down into a single environment with the filter? Can you help me understand what the issue is?

Thank you
Manuela

[2021-11-23 18:53] NPrice99 commented on #1529
![CoELAckofenvironments](https://user-images.githubusercontent.com/8484048/143086117-e4a73508-6dbb-4b43-9ad7-2527a4ea2f46.PNG)

See "Environment" filter does not have "All Environments" as a option